{include file='_header'}

 <div class="page-header">  当前位置：<span class="text-primary">会员增长趋势</span></div>
   <div class="page-content">
       <form action=""  class="form-horizontal" onsubmit='return checkform()'>
           <input type="hidden" name="c" value="site" />
           <input type="hidden" name="a" value="entry" />
           <input type="hidden" name="m" value="ewei_shopv2" />
           <input type="hidden" name="do" value="web" />
           <input type="hidden" name="r"  value="statistics.member_increase" />
           <input type="hidden" name="search" value="1" />
           <div class="page-toolbar">
               <div class="col-sm-7 pull-right">
                   <div class="input-group">
                       <span></span>
                       <span class="input-group-select">
                           <select id='days' name="days" class="form-control  ">
                               <option value="7"  {if $days==7}selected{/if}>最近</option>
                               <option value="7"  {if $days==7}selected{/if}>7天</option>
                               <option value="14"  {if $days==14}selected{/if}>14天</option>
                               <option value="30"  {if $days==30}selected{/if}>30天</option>
                               <option value=""  {if $days==''}selected{/if}>按日期</option>
                           </select>
                       </span>
                        <span class="input-group-select">
                            <select id='year' name="year" class="form-control  ">
                                <option value=''>年份</option>
                                {foreach name='years' item='y'}
                                <option value="{$y['data']}"  {if $y['selected']}selected="selected"{/if}>{$y['data']}年</option>
                                {/foreach}
                            </select>
                        </span>
                       <span class="input-group-select">
                            <select id='month' name="month" class="form-control ">
                                <option value=''>月份</option>
                                {foreach name='months' item='m'}
                                <option value="{$m['data']}"  {if $m['selected']}selected="selected"{/if}>{$m['data']}月</option>
                                {/foreach}
                            </select>
                       </span>
                       <div class="input-group-btn">
                           <button class="btn  btn-primary" type="submit"> 搜索</button>
                       </div>
                   </div>
               </div>
           </div>
       </form>

       <div class="panel panel-default">
           <div class="panel-heading">趋势图</div>
           <div class="panel-body">
               <div id="container" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
           </div>
       </div>
   </div>
<script language="javascript" src="/public/static/js/dist/highcharts/highcharts.js"></script>
<script type="text/javascript">
   
   function checkform(){
       if($('#days').val()==''){    
           if($('#year').val()==''){    
               alert('请选择年份!');
               return false;
           }
       }
       return true;
   }
      $('#days').change(function(){
            if($(this).val()!=''){ 
                $('#year').val('');
                $('#month').val('').attr('disabled',true);;
            }
          
        })
       $('#year').change(function(){
            if($(this).val()==''){ 
                $('#month').val('').attr('disabled',true);
            }
            else{
                $('#days').val('');
                $('#month').removeAttr('disabled');
            }
        })
        
    $(function () {
        $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
             text: '{$charttitle}',
        },
        subtitle: {
            text: ''
        },
        colors: [
            '#0061a5',
            '#ff0000'
        ],
        xAxis: {
            categories: [    
                {foreach name="datas" key='key' item='row'}
                   {if $key>0},{/if}"{$row['date']}"
                {/foreach}
            ]
        },
        yAxis: {
            title: {
                text: '人数'
            },allowDecimals:false
        },
        tooltip: {
            enabled: false,
            formatter: function() {
                return '<b>'+ this.series.name +'</b><br>'+this.x +': '+ this.y +'°C';
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [
            {
               name: '会员1',
               data: [
                   {foreach name="datas" key='key' item='row'}
                   {if $key>0},{/if}{$row['mcount']}
                   {/foreach}
               ]
            } 
        ]
    });
    
});
</script>
{include file='_footer'}