{include file='_header'}
{include file='auction/style'}
<link  href="/public/static/plugin/auction/css/member.css"  rel="stylesheet"  type="text/css">
<style type="text/css">
    .box_swipe {overflow: hidden; position: relative;}
    .box_swipe ul {overflow: hidden; position: relative;margin:0;padding:0;}
    .box_swipe ul > li {float:left; width:100%; position: relative; text-align:center;}
    .box_swipe ul > li a{color:#FFF; text-decoration:none;}
    .box_swipe ul > li .title{position: absolute; bottom: 6px; display: block; padding:0 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color:#FFF; z-index:100;}
    .box_swipe>ol{height:20px; position: relative; z-index:10; margin-top:-24px; text-align:right; padding-right:15px;}
    .box_swipe>ol>li{display:inline-block; margin-bottom:1px; width:8px; height:8px; background-color:#757575; border-radius: 8px;}
    .box_swipe>ol>li.on{background-color:#ffffff;}
</style>
<div class='fui-page creditshop-index-page'>
	<div class='fui-content navbar'>
        <div  class="wrapper">
            <div  class="m_buylist_nav"><span>您总共获得了<em  class="orange">{:count($myauction)}</em>个拍品</span></div><div  class="m_buylist m_get marginB">
            <ul  id="divOrderList">
                {foreach name='myauction' key='id' item='goods'}
                <li>
                    <cite>
                        <a  href="{:url('mobile/auction/detail', array('id' => $goods['id']))}"><img src="{$goods['thumb']}"></a><i>{if !empty($goods['order']) && $goods['order']['status']==1}已付余款{else}待付余款{/if}</i>
                    </cite>
                    <dl>
                        <dt>
                            <a  href="{:url('mobile/auction/detail', array('id' => $goods['id']))}"  class="gray6">{$goods['title']}</a>
                        </dt>
                        <dt>
                            <a  href="{:url('mobile/auction/detail', array('id' => $goods['id']))}"  class="gray6">{if !empty($goods['order']) && $goods['order']['status']==1}保证金：{$goods['bond']}元 成交价格：{$goods['stprice']}元 {else}待付款项：{$goods['stprice']-$goods['bond']}元{/if}</a>
                        </dt>
                        {if empty($goods['order'])} 
                        <dd>
                            <a href="{:url('mobile/auction/confirm',array('price' => $goods['stprice']-$goods['bond'],'id' => $goods['id']))}"  class="orangeBtn">去付款</a>
                        </dd>
                        {else}
                        {if $goods['order']['status']==0}
                        <dd>
                            <a href="{:url('mobile/auction/confirm',array('price' => $goods['stprice']-$goods['bond'],'id' => $goods['id']))}"  class="orangeBtn">去付款</a>
                        </dd>
                        {elseif $goods['order']['status']==1}
                        <dd>
                            <a  href="javascript:;"  class="orangeBtn">未发货</a>
                        </dd>
                        {elseif $goods['order']['status']==2}
                        <dd>
                            <a  href="{:url('mobile/auction/detail', array('id' => $goods['id']))}"  class="orangeBtn">已发货</a><a  href="http://m.kuaidi100.com/index_all.html?type={$goods['express']}&postid={$goods['expressn']}#input"  class="orangeBtn">查物流</a>
                        </dd>
                        {elseif $goods['order']['status']==3}
                        <dd>
                            <a  href="javascript:;"  class="orangeBtn">已完成</a>
                        </dd>
                        {/if}
                        {/if}
                    </dl>
                </li>
                {/foreach}
                {if empty($myauction)}
                <div class="noRecords gray9"><s></s>暂无记录</div>
                {/if}
                <div  id="divOrderLoading"  class="loading"  style="display: none;"><b></b>正在加载</div>
            </ul>
            </div>
            <div  class="load_more"  id="btnLoadMore"  style="display: none;"><a  href="javascript:;"  title="加载更多">加载更多</a></div>
        </div>
    </div>
</div>
{include file='auction/footerMenus'}
{include file='_footer'}