<div class="alert we7-page-alert">
		<p><i class="wi wi-info-sign"></i>使用本系统备份的备份数据, 只能使用本系统来进行还原. 如果使用其他工具, 或者自行导入sql, 可能造成数据不完整或不正确.<p>
		<p><strong class="color-dark">请在站点访问量比较低的时间段(如:深夜)操作, 或操作之前关闭站点. 来防止可能出现的意外数据丢失. </strong><p>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-12 col-md-10" style = "margin-top:20px">
		<a class="btn btn-primary span3" style = "margin-left:220px" data-toggle='ajaxPost' data-confirm="确认备份数据吗？" href="{:url('admin/system/database', array('do'=>'backup'));}">开始备份</a>
	</div>
</div>