{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">数据库</span> </div>
<div class="page-content">
    <div class="tabs-container">
        <form id="setform" action="" method="post" class="form-horizontal form-validate">
        <input type="hidden" id="tab" name="tab" value="{$tab}" />
        <ul class="nav nav-tabs" id="myTab">
            <li  {if empty($tab) || $tab=='backup'}class="active"{/if} ><a href="#tab_backup">备份</a></li>
            <li  {if $tab=='restore'}class="active"{/if} ><a href="#tab_restore">还原</a></li>
            <li  {if $tab=='optimize'}class="active"{/if} ><a href="#tab_optimize">优化</a></li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane {if empty($tab) || $tab=='backup'}active{/if}" id="tab_backup">
                {include file='system/database/backup'}
            </div>
            <div class="tab-pane {if $tab=='restore'}active{/if}" id="tab_restore">
                {include file='system/database/restore'}
            </div>
            <div class="tab-pane {if $tab=='optimize'}active{/if}" id="tab_optimize">
                {include file='system/database/optimize'}
            </div>
        </div>
        </form>
    </div>
</div>
<script language='javascript'>
    require(['bootstrap'], function () {
        $('#myTab a').click(function (e) {
            $('#tab').val($(this).attr('href'));
            e.preventDefault();
            $(this).tab('show');
        })
    });
</script>
{include file='_footer'}