<div class="alert we7-page-alert">
	<p><i class="wi wi-info-sign"></i>使用本系统备份的备份数据, 只能使用本系统来进行还原. 如果使用其他工具, 或者自行导入sql, 可能造成数据不完整或不正确.</p>
	<p><strong>请在站点访问量比较低的时间段(如:深夜)操作, 或操作之前关闭站点. 来防止可能出现的意外数据丢失. </strong></p>
</div>
<input type="hidden" name="do" value="restore" />
<table class="table we7-table table-hover site-list">
	<col width="285px"/>
	<col width="160px"/>
	<col width="120px"/>
	<col width="140px"/>
	<tr>
		<th class="text-left">备份名称</th>
		<th class="text-left">备份时间</th>
		<th>分卷数量</th>
		<th class="text-right">操作</th>
	</tr>
	{foreach name='reduction' item='row'}
	<tr>
		<td class="text-left">{$row['bakdir']}</td>
		<td class="text-left">{:date('Y-m-d H:i:s', $row['time']);}</td>
		<td>{$row['volume']}</td>
		<td>
			<div class="link-group">
				<a href="{:url('admin/system/database', array('do' => 'restore','restore_dirname' => $row['bakdir']));}" data-toggle='ajaxPost' data-confirm="确认备份数据吗？">还原此备份</a>
				<a href="{:url('admin/system/database', array('do' => 'restore','delete_dirname' => $row['bakdir']));}" class="del" data-toggle='ajaxPost' data-confirm="确认备份数据吗？">删除</a>
			</div>
		</td>
	</tr>
	{/foreach}
</table>