<div class="region-goods-details row">
    <div class="region-goods-left col-sm-2">商品详情</div>
    <div class=" region-goods-right col-sm-10">
        <div class="">
            {:tpl_ueditor('content',$item['content'],array('height'=>'300'))}
        </div>
    </div>
</div><br>
<div class="region-goods-details row" style="display: none;">
    <div class="region-goods-left col-sm-2">
        <div class="col-sm-10">
            <div>
                <h4 style="line-height: 50px;font-weight: bold;">购买后可见</h4>
                <div class="col-sm-2 pull-right" style="display: none;">
                    <input type="checkbox" class="js-switch small" name="buyshow" value="1" checked='checked'/>
                </div>
            </div>
            <span style="font-weight: normal;font-size: 12px;display: block;">购买过商品才会显示</span>
        </div>
    </div>
    <div class="region-goods-right col-sm-10 bcontent">
        {:tpl_ueditor('buycontent',$item['buycontent'],array('height'=>'300'))}
    </div>
</div>
