{include file='_header'}
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}出租房源<small>{if !empty($item['id'])}修改【{$item['id']}】{/if}</small></span>
</div>
<div class="page-content">
    <div class="page-sub-toolbar">
        <a class="btn btn-primary btn-sm" href="{:url('admin/community/add')}">添加新出租房源</a>
    </div>
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$item['id']}"/>
        <div class="form-group">
            <label class="col-lg control-label must">排序</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="displayorder" required="required" class="form-control" value="{$item['displayorder']}"/>
                <span class='help-block'>数字越大，排名越靠前</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">房源名称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="title" class="form-control" value="{$item['title']}" data-rule-required="true" maxlength="35" />
            </div>
        </div>
       <div class="form-group">
            <label class="col-lg control-label must">所在小区</label>
            <div class="col-sm-9 col-xs-12">
                <select class="form-control tpl-category-parent select2" id="communityid" name="communityid" onchange="get_building(this.value,'buildingid','0');" data-rule-required='true' data-msg-required='请选择所在小区'>
                    <option value="0">请选择所在小区</option>
                    {foreach name='community_data' item='community_item'}
                    <option value="{$community_item['id']}" {if $item['communityid'] == $community_item['id']}selected="true"{/if}>{$community_item['communityname']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">所属楼栋</label>
            <div class="col-sm-9 col-xs-12">
                <select class="form-control tpl-category-parent select2"  id="buildingid" name="buildingid">
                    <option value="0">请选择楼栋</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">门牌号</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="housenum" required="required" class="form-control" value="{$item['housenum']}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">片区</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="area" required="required" value="{$item['area']}" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">详细地址</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="address" required="required" value="{$item['address']}" class="form-control"  />
            </div>
        </div>        
        <div class="form-group">
            <label class="col-lg control-label">中介费</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="agencyfee" value="{$item['agencyfee']}" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">月租金</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="rent" required="required" value="{$item['rent']}" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">租金包含</label>
            <div class="col-sm-9 col-xs-12">
                {foreach name='rentdetail' item='row'}
                <label for="{$row['id']}" class="checkbox-inline">
                    <input type="checkbox" name="rentdetail[{$row['id']}]" value="1" id="{$row['id']}" {if $row['value'] == 1}checked="true"{/if} /> {$row['title']}
                </label>
                {/foreach}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">房间信息</label>
            <div class="col-sm-9 col-xs-12">
                <select name="room" style="width: 120px;">
                    {foreach name='level_level' item='val'}
                        <option value="{$val}" {if $item['room']==$val}selected{/if}>{$val}</option>
                    {/foreach}
                </select>  室
                <select name="hall" style="width: 120px;">
                    <option value="1" {if $item['hall']==1}selected{/if}>1</option>
                    <option value="2" {if $item['hall']==2}selected{/if}>2</option>
                    <option value="3" {if $item['hall']==3}selected{/if}>3</option>
                    <option value="4" {if $item['hall']==4}selected{/if}>4</option>
                    <option value="5" {if $item['hall']==5}selected{/if}>5</option>
                    <option value="6" {if $item['hall']==6}selected{/if}>6</option>
                    <option value="7" {if $item['hall']==7}selected{/if}>7</option>
                    <option value="8" {if $item['hall']==8}selected{/if}>8</option>
                </select>  厅
                <select name="toilet" style="width: 120px;">
                    <option value="1" {if $item['toilet']==1}selected{/if}>1</option>
                    <option value="2" {if $item['toilet']==2}selected{/if}>2</option>
                    <option value="3" {if $item['toilet']==3}selected{/if}>3</option>
                    <option value="4" {if $item['toilet']==4}selected{/if}>4</option>
                    <option value="5" {if $item['toilet']==5}selected{/if}>5</option>
                </select>  卫
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">房屋朝向</label>
            <div class="col-sm-9 col-xs-12">
                <select name="orientations" >
                    <option value="东">东</option>
                    <option value="东南">东南</option>
                    <option value="南">南</option>
                    <option value="西南">西南</option>
                    <option value="西">西</option>
                    <option value="西北">西北</option>
                    <option value="北">北</option>
                    <option value="东北">东北</option>    
                </select> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">楼层</label>
            <div class="col-sm-9 col-xs-12">
                <select name="floor" style="width: 120px;">
                    {foreach name='level_level2' item='val'}
                        <option value="{$val}" {if $item['floor']==$val}selected{/if}>{$val}</option>
                    {/foreach}
                </select>楼层
                <select name="totalfloor" style="width: 120px;">
                    {foreach name='level_level2' item='val'}
                        <option value="{$val}" {if $item['totalfloor']==$val}selected{/if}>{$val}</option>
                    {/foreach}
                </select>总楼数
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">面积(平方米)</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="acreage" required="required" value="{$item['acreage']}" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">装修状况</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='decorating' value=1' {if empty($item) || $item['decorating']==1}checked{/if} /> 精装
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='decorating' value=2' {if $item['decorating']==2}checked{/if} /> 普通装修
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='decorating' value=3' {if $item['decorating']==3}checked{/if} /> 毛坯
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">出租类型</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='housingtype' value=1' {if empty($item) || $item['housingtype']==1}checked{/if} /> 整租
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='housingtype' value=2' {if $item['housingtype']==2}checked{/if} /> 合租
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='housingtype' value=3' {if $item['housingtype']==3}checked{/if} /> 短租
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='housingtype' value=4' {if $item['housingtype']==4}checked{/if} /> 二手房
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">车位详情</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='hasparking' value='0' {if $item['hasparking']==0}checked{/if} /> 无
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='hasparking' value='1' {if $item['hasparking']==1}checked{/if} /> 有
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">电梯详情</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='haselevator' value='0' {if $item['haselevator']==0}checked{/if} /> 无
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='haselevator' value='1' {if $item['haselevator']==1}checked{/if} /> 有
                </label>
            </div>
        </div>

         <div class="form-group">
            <label class="col-lg control-label">租金方式</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio'  name='rentstyle' value='1' {if $item['rentstyle']==1}checked{/if} /> 押一付一
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='rentstyle' value='2' {if $item['rentstyle']==2}checked{/if} /> 押一付三
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='rentstyle' value='3' {if $item['rentstyle']==3}checked{/if}/>押一付半年
                </label>
                <label class='radio-inline'> 
                    <input type='radio' name='rentstyle' value='4'{ if $item['rentstyle']==4}checked{/if} /> 押一付一年
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">房屋配置</label>
            <div class="col-sm-9 col-xs-12">
                {foreach name='allocation' item='row'}
                <label for="{$row['id']}" class="checkbox-inline">
                    <input type="checkbox" name="allocation[{$row['id']}]" value="1" id="{$row['id']}" {if $row['value'] == 1}checked="true"{/if} /> {$row['title']}
                </label>
                {/foreach}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">联系人类型</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='contactsidentity' value=1  {if $item['contactsidentity']==1}checked{/if} /> 房东
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='contactsidentity' value=2 {if $item['contactsidentity']==2}checked{/if} /> 转租
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='contactsidentity' value=3 {if $item['contactsidentity']==3}checked{/if} /> 经纪人
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">联系人姓名</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="contacts" value="{$item['contacts']}" class="form-control"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">联系人性别</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='contactssex' value='0' {if $item['contactssex']==0}checked{/if} /> 保密
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='contactssex' value='1' {if $item['contactssex']==1}checked{/if} /> 男
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='contactssex' value='2' {if $item['contactssex']==2}checked{/if} /> 女
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">联系人电话</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="contactsnumber" required="required" value="{$item['contactsnumber']}" class="form-control" />
            </div>
        </div>
        <div class="form-group">
        <label class="col-lg control-label must">租房图片</label>
           <div class="col-sm-9 col-xs-12 gimgs">
            {:tpl_form_field_multi_image2('thumbs',$piclist)}
            <span class="help-block image-block">第一张缩略图为长方形，建议尺寸750*310，其他为正方型图片，尺寸建议宽度为640*640，并保持图片大小一致</span>
            <span class="help-block">您可以拖动图片改变其显示顺序 </span>
           </div>
        </div>
        <div class="region-goods-details row">
             <label class="col-lg control-label must">参数</label>
             <div class="region-goods-right col-sm-10">
                 <table class="table ">
                     <thead>
                     <tr>
                         <td style='width:150px;'>周边</td>
                         <td>周边详情<small>拖动行可进行排序</small></td>
                         <th style='width:50px;'></th>
                         <th style='width:100px;'></th>
                     </tr>
                     </thead>
                     <tbody id="param-items">
                     {foreach name='params' item='p'}
                     <tr>
                         <td>
                             <input name="param_title[]" type="text" class="form-control param_title" value="{$p['title']}"/>
                             <input name="param_id[]" type="hidden" class="form-control" value="{$p['id']}"/>
                         </td>
                         <td>
                             <input name="param_value[]" type="text" class="form-control param_value" value="{$p['value']}"/>
                         </td>
                         <td>
                             <a href="javascript:;" class='btn btn-default btn-sm' onclick="deleteParam(this)" title="删除"><i class='fa fa-remove'></i></a>
                         </td>
                         <td>
                             <a href="javascript:;" class='btn btn-default btn-sm'  title="拖动排序"><i class='icow icow-tuodong' style="margin-right: 5px;font-size:12px;"></i>拖动排序</a>
                         </td>
                     </tr>
                     {/foreach}
                     </tbody>
                     <tbody>
                     <tr>
                         <td colspan="4">
                             <a href="javascript:;" id='add-param' onclick="addParam()" class="btn btn-default"  title="添加参数"><i class='fa fa-plus'></i> 添加参数</a>
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>

         </div>
        <div class="form-group">
            <label class="col-lg control-label">小区简介</label>
            <div class="col-sm-9 col-xs-12">
                <textarea name="detail" class="form-control richtext" rows="5">{$item['detail']}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">是否前台显示</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio'  name='ishome' value='1' {if $item['ishome']==1}checked{/if} /> 显示
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='ishome' value='0' {if $item['ishome']==0}checked{/if} /> 不显示
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='status' value=1' {if $item['status']==1}checked{/if} /> 启用
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='status' value=0' {if $item['status']==0}checked{/if} /> 禁用
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
                <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<script language='javascript'>
$(document).ready(function(){
    get_building("{$item['communityid']}",'buildingid',"{$item['buildingid']}");
});
    /**
 * 获取多级联动的商品分类
 */
function get_building(id,cate_next,cate_select_id){
    var url = '/admin/community/get_building/communityid/'+ id;
    $.ajax({
        type : "GET",
        url  : url,
        error: function(request) {
            layer.msg('服务器繁忙, 请联系管理员!',{icon: 5});
            return;
        },
        success: function(v) {
            $('#'+cate_next).html();
            $('#'+cate_next).empty().html(v.building_html);
            (cate_select_id > 0) && $('#'+cate_next).val(cate_select_id);//默认选中
        }
    });
}
    $(function() {
        require(['jquery.ui'],function(){
          $("#param-items").sortable();
        });
        $("#chkoption").click(function() {
            var obj = $(this);
            if (obj.get(0).checked) {
                $("#tboption").show();
                $(".trp").hide();
            }
            else {
                $("#tboption").hide();
                $(".trp").show();
            }
        });
    })
    function addParam() {
        var url = "{:url('admin/community/tpl',array('tpl'=>'param'))}";
        $.ajax({
            "url": url,
            success: function(data) {
                $('#param-items').append(data);
            }
        });
        return;
    }
    function deleteParam(o) {
        $(o).parent().parent().remove();
    }
</script>
{include file='_footer'}