{include file='_header'}
  
<div class="page-header">
    <span>当前位置：<span class="text-primary">权限组管理</span></span>
</div>
<div class="page-content">
   <form action="" method="get" class="form-horizontal" role="form">
        <div class="page-toolbar">
            <div class="col-sm-6">
                <span class="">
                    <a class='btn btn-primary btn-sm' href="{:url('admin/system/permadd')}"><i class="fa fa-plus"></i> 添加新权限组</a>
                </span>
            </div>			 
            <div class="col-sm-6 pull-right">		 		 
    			<div class="input-group">
                        <div class="input-group-select">
                            <select name="status" class='form-control'>
                                <option value="" {if $status == ''} selected{/if}>状态</option>
                                <option value="1" {if $status== '1'} selected{/if}>启用</option>
                                <option value="0" {if $status == '0'} selected{/if}>禁用</option>
                            </select>
                        </div>
                        <input type="text" class="input-sm form-control" name='keyword' value="{$keyword}" placeholder="请输入关键词"> <span class="input-group-btn">

                     <button class="btn btn-primary" type="submit"> 搜索</button> </span>
                </div>
            </div>
        </div>
  </form>
 {if count($list)>0}
            <div class="page-table-header">
                <input type='checkbox' />
                <div class="btn-group">
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:url('admin/system/permstatus',array('status'=>1))}">
                        <i class='icow icow-qiyong'></i> 启用</button>
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch'  data-href="{:url('admin/system/permstatus',array('status'=>0))}">
                        <i class='icow icow-jinyong'></i> 禁用</button>
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/system/permdelete')}">
                        <i class='icow icow-shanchu1'></i> 删除</button>
                </div>
            </div>
            <table class="table table-hover  table-responsive">
                <thead>
                    <tr>
                         <th style="width:25px;"></th>
                        <th>权限组名称</th>
                        <th>操作员数量</th>
                        <th>状态</th>
                        <th style="width: 65px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name='list' item='row'}
                    <tr>
                         <td><input type='checkbox'   value="{$row['id']}"/></td>
                        <td>{$row['title']}</td>
                        <td>{$row['usercount']}</td>                            
                         <td>
                            <span class='label {if $row['status']==1}label-primary{else}label-default{/if}'
								  data-toggle='ajaxSwitch' 
								  data-switch-value='{$row['status']}'
								  data-switch-value0='0|禁用|label label-default|{:url('admin/system/permstatus',array('status'=>1,'id'=>$row['id']))}'  
								  data-switch-value1='1|启用|label label-success|{:url('admin/system/permstatus',array('status'=>0,'id'=>$row['id']))}'  
								>
							{if $row['status']==1}启用{else}禁用{/if}
                            </span>
                        </td>
                        <td>
                            <a class='btn btn-default btn-sm btn-operation btn-op' href="{:url('admin/system/permedit', array('id' => $row['id']))}">
                             <span data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑">
                                <i class="icow icow-bianji2"></i>
                             </span>
                            </a>
                            <a class='btn btn-default  btn-sm btn-operation btn-op' data-toggle="ajaxRemove"  href="{:url('admin/system/permdelete', array('id' => $row['id']))}" data-confirm="确认删除此权限组吗？">
                              <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                                        <i class='icow icow-shanchu1'></i>
                                   </span>
                            </a>
                        </td>
                    </tr>
                    {/foreach}               
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:url('admin/system/permstatus',array('status'=>1))}">
                                    <i class='icow icow-qiyong'></i> 启用</button>
                                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch'  data-href="{:url('admin/system/permstatus',array('status'=>0))}">
                                    <i class='icow icow-jinyong'></i> 禁用</button>
                                <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/system/permdelete')}">
                                    <i class='icow icow-shanchu1'></i> 删除</button>
                            </div>
                        </td>
                        <td colspan="3" class="text-right"> {$pager}</td>
                    </tr>
                </tfoot>
            </table>

         {else}
<div class='panel panel-default'>
	<div class='panel-body' style='text-align: center;padding:30px;'>
		 暂时没有任何权限组!
	</div>
</div>
{/if}
       </form>
</div>
{include file='_footer'}