{include file='_header'}
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}商品 <small>{if !empty($item['id'])}修改【{$item['title']}】 {/if} </small></span>
</div>
<div class="page-content">
    <div class="page-sub-toolbar">
        <span class=''>
            <a class="btn btn-primary btn-sm" href="{:url('groups/goods/add')}">添加新商品</a>
        </span>
    </div>
<form id="dataform" action="" method="post" class="form-horizontal form-validate">
    <input type='hidden' id='tab' name='tab' value='basic' />
    <input type='hidden' id='gid' name='gid' value="{$item['gid']}" />
    <ul class="nav nav-arrow-next nav-tabs" id="myTab">
        <li {if $tab=='basic' || empty($tab)}class="active"{/if} ><a href="#tab_basic">商品</a></li>
        <li {if $tab=='stock'}class="active"{/if} ><a href="#tab_stock">库存及编码</a></li>
        <li {if $tab=='info'}class="active"{/if} ><a href="#tab_info">详情</a></li>
        <li {if $tab=='marketing'}class="active"{/if} ><a href="#tab_marketing">营销</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane  {if $tab=='basic' || empty($tab)}active{/if}" id="tab_basic">{include file='groups/goods/basic'}</div>
        <div class="tab-pane  {if $tab=='stock'}active{/if}" id="tab_stock">{include file='groups/goods/stock'}</div>
        <div class="tab-pane  {if $tab=='info'}active{/if}" id="tab_info">{include file='groups/goods/info'}</div>
        <div class="tab-pane  {if $tab=='marketing'}active{/if}" id="tab_marketing">{include file='groups/goods/marketing'}</div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-lg control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="submit"  value="保存商品" class="btn btn-primary" />
            <a class="btn btn-default " href="{:url('admin/groups/goods')}">返回列表</a>
        </div>
    </div>
    </form>
</div>
<script language='javascript'>
    require(['bootstrap'],function(){
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $('#tab').val( $(this).attr('href'));
            $(this).tab('show');
        })
    });
    $('form').submit(function(){
        if($(':radio[name=goodstype]:checked').val()=='0'){
            if($(':input[name=goodsid_text]').val()==''){
                return false;
            }
        }
        if($('select[name=category]').val()==''){
            $('#myTab a[href="#tab_basic"]').tab('show');
            return false;
        }
        return true;
    });
    function toimgsrc(src) {
        if(typeof src != 'string') {
            return '';
        }
        if(src.indexOf('http://')==0 || src.indexOf('https://')==0 || src.indexOf('/public')==0) {
            return src;
        }
    }
    function select_goods(o){
        var $thumb = '';
        /*商品缩略图*/
        if(o.thumb){
            $thumb += '<div class="multi-item"><img src="'+ toimgsrc(o.thumb)+'" ' +
                    'onerror="this.src=\'./resource/images/nopic.jpg\'; this.title=\'图片未找到.\'" class="img-responsive img-thumbnail">' +
                    '<input type="hidden" name="thumbs[0]" value="'+ o.thumb+'">' +
                    '<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×<\/em></div>';
        }
        /*商品幻灯片*/
        if(o.thumb_url){
            $.each(o.thumb_url,function(index,value){
                var i = index++;
                $thumb += '<div class="multi-item"><img src="'+ toimgsrc(value)+'" ' +
                        'onerror="this.src=\'./resource/images/nopic.jpg\'; this.title=\'图片未找到.\'" class="img-responsive img-thumbnail">' +
                        '<input type="hidden" name="thumbs['+i+']" value="'+value+'">' +
                        '<em class="close" title="删除这张图片" onclick="deleteMultiImage(this)">×<\/em></div>';
            });
        }
        $(".multi-img-details").html($thumb);
        $(":input[name=gid]").val(o.gid);
        $(":input[name=total]").val(o.total);
        $(":input[name=description]").val(o.subtitle);
        $(":input[name=price]").val(o.marketprice);
        $(":input[name=goodssn]").val(o.goodssn);
        $(":input[name=productsn]").val(o.productsn);
        $("textarea[name=followtext]").val(o.followtip);
        $("textarea[name=followurl]").val(o.followurl);
        var ue = UE.getEditor('content', {
            autoHeight: false
        });
        ue.ready(function() {
            //设置编辑器的内容
            ue.setContent(o.content);
        });
    }
</script>

{include file='_footer'}