{include file='_header'}
<div class="page-header">
    当前位置：
    <span class="text-primary">基础设置</span>
</div>
<div class="page-content">
    <form id="setform"  action="" method="post" class="form-horizontal form-validate">
        <input type="hidden" id="tab" name="tab" value="{$_GET['tab']}" />
        <ul class="nav nav-tabs" id="myTab">
            <li {if empty($_GET['tab']) || $_GET['tab']=='basic'}class="active"{/if}><a href="#tab_basic">基本设置</a></li>
            <li {if $_GET['tab']=='comment'}class="active"{/if}><a href="#tab_comment">评论设置</a></li>
            <li {if $_GET['tab']=='info'}class="active"{/if}><a href="#tab_info">详情设置</a></li>
            <!--<li {if $_GET['tab']=='payset'}class="active"{/if}><a href="#tab_payset">支付设置</a></li>-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane {if empty($_GET['tab']) || $_GET['tab']=='basic'}active{/if}" id="tab_basic">{include file='creditshop/set/tab_basic'}</div>
            <div class="tab-pane {if $_GET['tab']=='comment'}active{/if}" id="tab_comment">{include file='creditshop/set/tab_comment'}</div>
            <div class="tab-pane {if $_GET['tab']=='info'}active{/if}" id="tab_info">{include file='creditshop/set/tab_info'}</div>
            <!--<div class="tab-pane {if $_GET['tab']=='payset'}active{/if}" id="tab_payset">{include file='creditshop/set/tab_payset'}</div>-->
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9">
                <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<script language='javascript'>
    require(['bootstrap'],function(){
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $('#tab').val( $(this).attr('href').replace('#tab_',''));
            $(this).tab('show');
        })
    });
</script>


{include file='_footer'}