{include file='_header'}


<div class="page-header">
	当前位置：<span class="text-primary">抽奖记录 </span>
</div>

<div class="page-content">
	<form action="" method="get" class="form-horizontal table-search"  role="form">
		<input type="hidden" name="id" value="{$_GET['id']}" />
		<div class="page-toolbar m-b-sm m-t-sm">
			<div class="col-sm-5">
				<div class='input-group input-group-sm'   >
					{:tpl_daterange('time', array('placeholder'=>'抽奖时间'),true);}
				</div>
			</div>
			<div class="col-sm-6 pull-right">
				<div class="input-group">
					<input type="text" class=" form-control" name='keyword' value="{$_GET['keyword']}" placeholder="昵称/姓名/手机号"> <span class="input-group-btn">
						<button class="btn btn-primary" type="submit"> 搜索</button> </span>
				</div>

			</div>
		</div>
	</form>
	<form action="" method="post" onsubmit="return formcheck(this)">
		{if count($list)>0}
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>参与人</th>
					<th></th>
					<th>奖励</th>
					<th>参与时间</th>
					<th style="width: 45px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="list" item="row"}
				<tr>
					<td><span data-toggle='tooltip' title='{$row['nickname']}'><img src='{$row['avatar']}' style='width:20px;height:20px;padding1px;border:1px solid #ccc' /> {$row['nickname']}</span></td>
					<td>{$row['realname']}<br/>{$row['mobile']}</td>
					<td  data-toggle="tooltip" title="{if empty($row['log_id'])}未开奖{else}{if $row['logis_reward'] == 1}奖广告费:{$row['bonus']}{else}送金矿{/if}{/if}"> {if empty($row['log_id'])}未开奖{else}{if $row['logis_reward'] == 1}奖广告费:{$row['bonus']}{else}送金矿{/if}{/if}
					</td>
					<td>{:date('Y-m-d H:i',$row['addtime']);}</td>
					<td>
						<a class='btn btn-default btn-op btn-operation' href="{:url('merch/lottery/log',array('id'=>$row['lottery_id'],'keyword'=>$row['nickname']));}" title=''>
							<span data-toggle="tooltip" data-placement="top" title="" data-original-title="此用户抽奖列表">
								<i class='icow icow-dingdan2'></i>
							 </span>
						</a>
					</td>
				</tr>
				{/foreach}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-right">{$pager}</td>
				</tr>
			</tfoot>
		</table>
		{else}
		<div class='panel panel-default'>
			<div class='panel-body' style='text-align: center;padding:30px;'>
				暂时没有任何参与记录!
			</div>
		</div>
		{/if}
	</form>
</div>
{include file='_footer'}
