

/*兼容微擎新版图片选择�?*/

.modal-open {

    overflow: inherit;

    padding: 0 !important

}



.modal.fade .modal-dialog {

    -webkit-transform: translate(0, -75%);

    -ms-transform: translate(0, -75%);

    -o-transform: translate(0, -75%);

    transform: translate(0, -75%)

}



.modal.in .modal-dialog {

    -webkit-transform: translate(0, -50%);

    -ms-transform: translate(0, -50%);

    -o-transform: translate(0, -50%);

    transform: translate(0, -50%)

}

#newUploaderImg .modal-dialog, .uploader-modal .modal-dialog {

    width: 1088px

}



#newUploaderImg .modal-header, .uploader-modal .modal-header {

   border-bottom: 1px solid #e7e7eb;

	padding: 15px 20px

}



#newUploaderImg .modal-header .modal-title, .uploader-modal .modal-header .modal-title {

    font-size: 16px

}



#newUploaderImg .modal-footer .count, .uploader-modal .modal-footer .count {

    display: inline-block;

    height: 34px;

    line-height: 34px

}



#newUploaderImg .modal-footer .btn-default.disabled, .uploader-modal .modal-footer .btn-default.disabled {

    background-color: #E7E7EB

}



#newUploaderImg .modal-body, .uploader-modal .modal-body {

   padding: 0;

   max-height: 710px;

   overflow: hidden

}

#newUploaderImg .modal-body .nav.nav-pills, .uploader-modal .modal-body .nav.nav-pills {

    float: left;

    width: 150px;

    border-right: 1px solid #e7e7eb;

    margin-bottom: -999px;

    padding-bottom: 999px

}

#newUploaderImg .modal-body .nav.nav-pills li, .uploader-modal .modal-body .nav.nav-pills li {

    height: 34px;

    line-height: 34px;

    margin: 0;

    padding-left: 15px

}



#newUploaderImg .modal-body .nav.nav-pills li a, .uploader-modal .modal-body .nav.nav-pills li a {

    color: #252424

}



#newUploaderImg .modal-body .nav.nav-pills li.active, #newUploaderImg .modal-body .nav.nav-pills .head .navbar-left > li:hover, .head #newUploaderImg .modal-body .nav.nav-pills .navbar-left > li:hover, #newUploaderImg .modal-body .nav.nav-pills .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu #newUploaderImg .modal-body .nav.nav-pills li.list-group-item:not(.list-group-more):hover, #newUploaderImg .modal-body .nav.nav-pills li:hover, .uploader-modal .modal-body .nav.nav-pills li.active, .uploader-modal .modal-body .nav.nav-pills .head .navbar-left > li:hover, .head .uploader-modal .modal-body .nav.nav-pills .navbar-left > li:hover, .uploader-modal .modal-body .nav.nav-pills .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu .uploader-modal .modal-body .nav.nav-pills li.list-group-item:not(.list-group-more):hover, .uploader-modal .modal-body .nav.nav-pills li:hover {

    background-color: #f4f5f9

}



#newUploaderImg .modal-body .material-body, .uploader-modal .modal-body .material-body {

    border: none

}



#newUploaderImg .modal-body .row, .uploader-modal .modal-body .row {

    margin-top:-10px

}



#newUploaderImg .modal-body .col-sm-2, #newUploaderImg .modal-body .col-sm-3, #newUploaderImg .modal-body .col-sm-4, .uploader-modal .modal-body .col-sm-2, .uploader-modal .modal-body .col-sm-3, .uploader-modal .modal-body .col-sm-4 {

    padding: 10px;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer

}



/*#newUploaderImg .modal-body .col-sm-2.input-group, #newUploaderImg .modal-body .col-sm-3.input-group, #newUploaderImg .modal-body .col-sm-4.input-group, .uploader-modal .modal-body .col-sm-2.input-group, .uploader-modal .modal-body .col-sm-3.input-group, .uploader-modal .modal-body .col-sm-4.input-group {

    padding: 0 20px 0 0

}*/



#newUploaderImg .tab-content, .uploader-modal .tab-content {

    width: 935px;

    height: 100%;

    float: left

}



#newUploaderImg.news .tab-content, .uploader-modal.news .tab-content {

    height: 370px;

    overflow: hidden

}



#newUploaderImg.news .material-appmsg-item, .uploader-modal.news .material-appmsg-item {

    width: 100%

}



#newUploaderImg.news #material-list-pager, .uploader-modal.news #material-list-pager {

    float: right;

    height: 64px;

    padding-bottom: 15px;

    padding-right: 15px

}



#newUploaderImg.basic .modal-body textarea, .uploader-modal.basic .modal-body textarea {

    margin-top: 15px

}



#newUploaderImg.basic .modal-body .tab-content, .uploader-modal.basic .modal-body .tab-content {

    width: 100%;

    float: none;

    margin-top: 1px

}

#newUploaderImg.basic .modal-body,.uploader-modal.basic .modal-body {

	padding: 30px

}

#newUploaderImg.basic .modal-body .tab-content textarea, .uploader-modal.basic .modal-body .tab-content textarea {

    width: 100%

}



#newUploaderImg.music .modal-body, .uploader-modal.music .modal-body {

    padding: 30px

}



#newUploaderImg.voice .tab-content, #newUploaderImg.video .tab-content, #newUploaderImg.image .tab-content, #newUploaderImg.module .tab-content, .uploader-modal.voice .tab-content, .uploader-modal.video .tab-content, .uploader-modal.image .tab-content, .uploader-modal.module .tab-content {

    width: 100%;

    padding: 15px;

    float: none

}



#newUploaderImg.voice #material-list-pager, #newUploaderImg.video #material-list-pager, #newUploaderImg.image #material-list-pager, #newUploaderImg.module #material-list-pager, .uploader-modal.voice #material-list-pager, .uploader-modal.video #material-list-pager, .uploader-modal.image #material-list-pager, .uploader-modal.module #material-list-pager {

    float: right;

    height: 64px;

    padding-bottom: 15px;

    padding-right: 15px

}

#newUploaderImg.image .material-body,.uploader-modal.image .material-body {

	padding: 0;

	position: relative;

	overflow-y: hidden

}

#newUploaderImg.image .category, .uploader-modal.image .category{

	width: 170px;

    height: 460px;

    overflow-y: auto;

    border-right: 1px solid #e7e7eb;

    background: #f4f5f9;

    float: left;

    display: none;

}

#newUploaderImg.image .category .add, .uploader-modal.image .category .add{

	line-height: 44px;

    text-align: center;

    background: #fff;

    border-bottom: 1px solid #e7e7eb;

}

#newUploaderImg.image .category li .name, .uploader-modal.image .category li .name{

	width: 100%;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

}

#newUploaderImg.image .img-container, .uploader-modal.image .img-container{

	padding: 10px 10px 41px;

    flex-wrap: wrap;

    margin-left: 0;

    max-height: 460px;

    overflow-y: auto;

}

#newUploaderImg.image .img-container .item, .uploader-modal.image .img-container .item{

	flex: none;

    position: relative;

    width: calc(20% - 20px);

    margin: 10px;

    text-align: center;

    vertical-align: middle;

    background-color: #eee;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%;

}

#newUploaderImg.image .img-container .item:before, .uploader-modal.image .img-container .item:before{

	content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle;

}

#newUploaderImg.image .img-container .item .name, .uploader-modal.image .img-container .item .name{

	position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0,0,0,.5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2;

	text-overflow: ellipsis;

    overflow: hidden;

    white-space: nowrap;

}

	

.we7-flex{

	display: flex;

    display: -webkit-flex;

}



#newUploaderImg.image .material-body .selected-all, .uploader-modal.image .material-body .selected-all{

	width: 130px;

    padding: 10px 30px;

    background: #fff;

    position: fixed;

    left: 0;

    bottom: 60px;

    z-index: 20;

    float: left;

}

#newUploaderImg.image .material-body .selected-all input, .uploader-modal.image .material-body .selected-all input{

	float:left

}

#newUploaderImg.image .material-body .selected-all label, .uploader-modal.image .material-body .selected-all label{

	margin-top: 3px;

    float: left;

	margin-left: 10px;

}

#newUploaderImg.image .tab-content, .uploader-modal.image .tab-content{

    height: 460px;

    padding: 15px 7px

}



#newUploaderImg.image .tab-content .history .img-list, .uploader-modal.image .tab-content .history .img-list {

    margin: 0

}



#newUploaderImg.image .col-sm-2 .item, .uploader-modal.image .col-sm-2 .item {

    position: relative;

    width: 100%;

    text-align: center;

    vertical-align: middle;

    background-color: #eee;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%

}



#newUploaderImg.image .col-sm-2 .item:before, .uploader-modal.image .col-sm-2 .item:before {

    content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle

}



#newUploaderImg.image .col-sm-2 .item .name, .uploader-modal.image .col-sm-2 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg.image .img-net, .uploader-modal.image .img-net {

    font-size: 18px

}



#newUploaderImg.image .img-net .img, .uploader-modal.image .img-net .img {

    width: auto;

    min-width: 150px;

    height: 150px;

    background-color: #eee;

    margin: 50px 0 20px 0

}



#newUploaderImg.image .img-net input, .uploader-modal.image .img-net input {

    width: 500px;

    margin: 10px auto

}



#newUploaderImg.image .img-net .btn, .uploader-modal.image .img-net .btn {

    width: 120px;

    margin: 10px 0

}



#newUploaderImg.keyword .tab-content, .uploader-modal.keyword .tab-content {

    width: 100%;

    height: 310px;

    padding: 15px;

    float: none

}



#newUploaderImg.keyword .material-content, .uploader-modal.keyword .material-content {

    padding: 0

}



#newUploaderImg.keyword .row, .uploader-modal.keyword .row {

    margin: -10px

}



#newUploaderImg.keyword .col-sm-2, .uploader-modal.keyword .col-sm-2 {

    padding: 10px;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer

}



#newUploaderImg.keyword .col-sm-2 a, .uploader-modal.keyword .col-sm-2 a {

    display: block;

    width: 100%;

    height: 75px;

    position: relative;

    cursor: pointer;

    border: 1px solid #e7e7eb;

    text-align: center

}



#newUploaderImg.keyword .col-sm-2 a span, .uploader-modal.keyword .col-sm-2 a span {

    display: inline-block;

    width: 94%;

    padding: 0 3%;

    max-height: 54px;

    line-height: 18px;

    overflow: hidden;

    box-sizing: border-box;

    white-space: normal;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -o-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%)

}



#newUploaderImg.keyword .col-sm-2.active a, #newUploaderImg.keyword .head .navbar-left > li.col-sm-2:hover a, .head #newUploaderImg.keyword .navbar-left > li.col-sm-2:hover a, #newUploaderImg.keyword .panel-menu .col-sm-2.list-group-item:not(.list-group-more):hover a, .panel-menu #newUploaderImg.keyword .col-sm-2.list-group-item:not(.list-group-more):hover a, #newUploaderImg.keyword .col-sm-2:hover a, .uploader-modal.keyword .col-sm-2.active a, .uploader-modal.keyword .head .navbar-left > li.col-sm-2:hover a, .head .uploader-modal.keyword .navbar-left > li.col-sm-2:hover a, .uploader-modal.keyword .panel-menu .col-sm-2.list-group-item:not(.list-group-more):hover a, .panel-menu .uploader-modal.keyword .col-sm-2.list-group-item:not(.list-group-more):hover a, .uploader-modal.keyword .col-sm-2:hover a {

    background-color: #f4f6f9;

    color: #428bca

}



#newUploaderImg.module .tab-content, .uploader-modal.module .tab-content {

    padding: 15px 7px

}



#newUploaderImg.module .img-list, .uploader-modal.module .img-list {

    margin: 0

}



#newUploaderImg.module .img-list img, .uploader-modal.module .img-list img {

    margin: 17px 0 4px 0

}



#newUploaderImg.module .col-sm-2 .item, .uploader-modal.module .col-sm-2 .item {

    position: relative;

    width: 100%;

    text-align: center;

    border: 1px solid #e7e7eb

}



#newUploaderImg.module .col-sm-2 .item:before, .uploader-modal.module .col-sm-2 .item:before {

    content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle

}



#newUploaderImg.module .col-sm-2 .item .icon, .uploader-modal.module .col-sm-2 .item .icon {

    width: 80px;

    height: 80px;

    border-radius: 10px;

    vertical-align: middle

}



#newUploaderImg.module .col-sm-2 .item .name, .uploader-modal.module .col-sm-2 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg.video .col-sm-3 .item, #newUploaderImg.voice .col-sm-3 .item, #newUploaderImg.music .voice-content .col-sm-3 .item, .uploader-modal.video .col-sm-3 .item, .uploader-modal.voice .col-sm-3 .item, .uploader-modal.music .voice-content .col-sm-3 .item {

    position: relative;

    width: 100%;

    height: 150px;

    text-align: center;

    border: 1px solid #e7e7eb

}



#newUploaderImg.video .col-sm-3 .item .icon, #newUploaderImg.voice .col-sm-3 .item .icon, #newUploaderImg.music .voice-content .col-sm-3 .item .icon, .uploader-modal.video .col-sm-3 .item .icon, .uploader-modal.voice .col-sm-3 .item .icon, .uploader-modal.music .voice-content .col-sm-3 .item .icon {

    width: 60px;

    height: 60px;

    margin-top: 18px

}



#newUploaderImg.video .col-sm-3 .item .time, #newUploaderImg.voice .col-sm-3 .item .time, #newUploaderImg.music .voice-content .col-sm-3 .item .time, .uploader-modal.video .col-sm-3 .item .time, .uploader-modal.voice .col-sm-3 .item .time, .uploader-modal.music .voice-content .col-sm-3 .item .time {

    color: #999;

    line-height: 34px

}



#newUploaderImg.video .col-sm-3 .item .name, #newUploaderImg.voice .col-sm-3 .item .name, #newUploaderImg.music .voice-content .col-sm-3 .item .name, .uploader-modal.video .col-sm-3 .item .name, .uploader-modal.voice .col-sm-3 .item .name, .uploader-modal.music .voice-content .col-sm-3 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg .modal-body.image, #newUploaderImg .modal-body.thumb {

    height: 459px

}



#newUploaderImg .modal-body #wx .tablepanel-top, #newUploaderImg .modal-body #local .tablepanel-top {

    padding: 10px 15px;

    line-height: 34px;

    border-bottom: 1px solid #e7e7eb

}



#newUploaderImg .modal-body #wx .tablepanel-top span, #newUploaderImg .modal-body #local .tablepanel-top span {

    color: #999;

    display: inline-block;

    margin-right: 20px

}



#newUploaderImg .modal-body #wx .tablepanel-con, #newUploaderImg .modal-body #local .tablepanel-con {

    padding: 15px

}



#newUploaderImg .modal-body #wx .tablepanel-con input[type=text].form-control, #newUploaderImg .modal-body #local .tablepanel-con input[type=text].form-control {

    border-radius: 4px

}



#newUploaderImg .modal-body #wx .tablepanel-con .empty, #newUploaderImg .modal-body #local .tablepanel-con .empty {

    height: 330px;

    line-height: 330px;

    text-align: center;

    font-size: 18px

}



#newUploaderImg .modal-body #wx .tablepanel-con .fa, #newUploaderImg .modal-body #local .tablepanel-con .fa {

    margin: 0

}



#newUploaderImg .modal-body #wx .tablepanel-con .item, #newUploaderImg .modal-body #local .tablepanel-con .item {

    float: left;

    border: 1px solid #e7e7eb;

    width: 120px;

    height: 150px;

    margin: 0 15px 15px 0

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img, #newUploaderImg .modal-body #local .tablepanel-con .item .img {

    position: relative;

    overflow: hidden;

    width: 100%;

    height: 114px;

    text-align: center;

    background-color: #f4f5f9;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%;

    cursor: pointer

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    text-align: center;

    line-height: 114px;

    background: rgba(0, 0, 0, .6);

    color: #fff

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .wi, #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .item.apply-show:before, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .wi, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .item.apply-show:before {

    font-size: 48px

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img-title, #newUploaderImg .modal-body #local .tablepanel-con .item .img-title {

    text-align: center;

    width: 100%;

    height: 34px;

    line-height: 34px;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis

}



#newUploaderImg .modal-body #wx .tablepanel-con .item.selected .cover, #newUploaderImg .modal-body #wx .tablepanel-con .site-template .item.lock .cover, .site-template #newUploaderImg .modal-body #wx .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #wx .tablepanel-con .system-template .item.lock .cover, .system-template #newUploaderImg .modal-body #wx .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #local .tablepanel-con .item.selected .cover, #newUploaderImg .modal-body #local .tablepanel-con .site-template .item.lock .cover, .site-template #newUploaderImg .modal-body #local .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #local .tablepanel-con .system-template .item.lock .cover, .system-template #newUploaderImg .modal-body #local .tablepanel-con .item.lock .cover {

    display: block

}



#newUploaderImg .modal-body #link {

    padding: 30px

}



#newUploaderImg .modal-body #link .item {

    border: 1px solid #e7e7eb;

    width: 120px;

    height: 150px;

    margin-right: 30px;

    float: left

}



#newUploaderImg .modal-body #link .item .img {

    position: relative;

    overflow: hidden;

    width: 100%;

    height: 114px;

    text-align: center;

    background-color: #f4f5f9;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%

}



#newUploaderImg .modal-body #link .item .img .cover {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    text-align: center;

    line-height: 114px;

    background: rgba(0, 0, 0, .6);

    color: #fff

}



#newUploaderImg .modal-body #link .item .img .cover .wi, #newUploaderImg .modal-body #link .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #link .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #link .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #link .item .img .cover .item.apply-show:before {

    font-size: 48px

}



#newUploaderImg .modal-body #link .item .img-title {

    text-align: center;

    width: 100%;

    height: 34px;

    line-height: 34px;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis

}



#newUploaderImg .modal-body #link .link {

    float: left;

    width: 450px

}



#newUploaderImg .modal-body #link .link .state {

    font-size: 18px;

    color: #999;

    margin: 15px 0

}



#newUploaderImg .modal-body #link .link button {

    min-width: 105px;

    margin: 15px 0

}

.we7-modal-dialog, .modal-dialog {

    min-width: 720px !important;

    position: absolute;

    left: 0;

    right: 0;

    top: 50%

}



.we7-modal-dialog .modal-content, .modal-dialog .modal-content {

    border-radius: 0

}



.we7-modal-dialog .modal-header, .modal-dialog .modal-header {

    background-color: #f4f5f9;

    border-bottom: 0

}



.we7-modal-dialog .modal-header .modal-title, .we7-modal-dialog .modal-header h3, .modal-dialog .modal-header .modal-title, .modal-dialog .modal-header h3 {

    font-size: 14px

}



.we7-modal-dialog .modal-header h3, .modal-dialog .modal-header h3 {

    margin: 0;

    padding: 0

}



.we7-modal-dialog .modal-footer, .modal-dialog .modal-footer {

    background-color: #f4f5f9;

    border-top: 0;

    text-align: center

}



.we7-modal-dialog .modal-footer .btn, .modal-dialog .modal-footer .btn {

    display: inline-block;

    min-width: 105px

}



.we7-modal-dialog .nav-pills > li.active > a, .we7-modal-dialog .head .navbar-left.nav-pills > li:hover > a, .head .we7-modal-dialog .navbar-left.nav-pills > li:hover > a, .we7-modal-dialog .panel-menu .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .panel-menu .we7-modal-dialog .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .modal-dialog .nav-pills > li.active > a, .modal-dialog .head .navbar-left.nav-pills > li:hover > a, .head .modal-dialog .navbar-left.nav-pills > li:hover > a, .modal-dialog .panel-menu .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .panel-menu .modal-dialog .nav-pills > li.list-group-item:not(.list-group-more):hover > a {

    padding: 0;

    color: #428bca;

    background-color: transparent

}



.we7-modal-dialog .nav-pills > li > a, .modal-dialog .nav-pills > li > a {

    padding: 0;

    background-color: transparent;

    color: #333

}



.we7-modal-dialog .nav-pills > li > a:hover, .modal-dialog .nav-pills > li > a:hover {

    background-color: transparent;

    color: #428bca

}



.we7-modal-dialog .nav-pills > li + li, .modal-dialog .nav-pills > li + li {

    margin-left: 10px

}



.we7-modal-dialog .we7-select, .modal-dialog .we7-select {

    width: 100%

}



.we7-modal-dialog .wi, .we7-modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .we7-modal-dialog .ext-apply-item.apply-show:before, .we7-modal-dialog .cut-list .item.apply-show:before, .cut-list .we7-modal-dialog .item.apply-show:before, .we7-modal-dialog .fa, .modal-dialog .wi, .modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .modal-dialog .ext-apply-item.apply-show:before, .modal-dialog .cut-list .item.apply-show:before, .cut-list .modal-dialog .item.apply-show:before, .modal-dialog .fa {

    font-size: 22px;

    vertical-align: middle;

    margin-right: 0px

}



.we7-modal-dialog .text-info, .modal-dialog .text-info {

    color: #428bca

}



.modal-success {

    top: 50%;

    left: 50%;

    right: auto;

    bottom: auto;

    margin: 0 auto;

    transform: translate(-50%, -50%)

}



.modal-success.in .modal-dialog {

    min-width: 250px !important;

    width: auto;

    position: relative;

    left: auto;

    right: auto;

    top: 0;

    -webkit-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    transform: translate(0, 0)

}



.modal-success .modal-content {

    padding: 10px 30px;

    background-color: #51A351;

    color: #fff;

    border-color: #51a351;

    font-size: 14px;

    vertical-align: middle;

    border-radius: 3px;

    box-shadow: 0 0 0

}



.modal-success .modal-body {

    padding: 6px

}



.modal-success .wi, .modal-success .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .modal-success .ext-apply-item.apply-show:before, .modal-success .cut-list .item.apply-show:before, .cut-list .modal-success .item.apply-show:before, .modal-success .fa {

    color: #fff !important

}



.material-content .material-head {

    padding: 15px 20px;

    border-bottom: 1px solid #e7e7eb;

    clear: both;

    box-sizing: border-box

}



.material-content .material-head .wi-search {

    font-size: 18px;

    margin: 0

}



.material-content .material-head .filter {

    width: 452px

}



.material-content .material-head .filter .we7-select {

    width: 200px

}



.material-content .material-head .filter .we7-select + .we7-select {

    margin-left: -1px

}



.material-content .material-nav {

    border-bottom: 1px solid #e7e7eb;

    padding: 0 20px

}



.material-content .material-nav a {

    display: inline-block;

    padding: 0 30px;

    line-height: 42px;

    font-size: 16px;

    color: #999;

    border-bottom: 3px solid transparent

}



.material-content .material-nav a:hover, .material-content .material-nav a.active, .material-content .material-nav .panel-menu a.list-group-item:not(.list-group-more):hover, .panel-menu .material-content .material-nav a.list-group-item:not(.list-group-more):hover {

    color: #428bca;

    border-color: #428bca

}



.material-content .material-body {

    padding: 20px;

    height: 460px;

    overflow-y: auto;

    border-bottom: 1px solid #e7e7eb

}



.material-content .material-body .item {

    position: relative

}



.material-content .material-body .item:hover {

    outline: 2px solid #428bca

}



.material-content .material-body .item.active .mask, .material-content .material-body .head .navbar-left > li.item:hover .mask, .head .material-content .material-body .navbar-left > li.item:hover .mask, .material-content .material-body .panel-menu .item.list-group-item:not(.list-group-more):hover .mask, .panel-menu .material-content .material-body .item.list-group-item:not(.list-group-more):hover .mask {

    display: block

}



.material-content .material-body .mask {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 5;

    background-color: rgba(0, 0, 0, .5);

    text-align: center;

    display: none

}



.material-content .material-body .mask .wi, .material-content .material-body .mask .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .mask .ext-apply-item.apply-show:before, .material-content .material-body .mask .cut-list .item.apply-show:before, .cut-list .material-content .material-body .mask .item.apply-show:before {

    color: #fff;

    font-size: 32px;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%)

}



.material-content .material-body .del {

    position: absolute;

    width: 34px;

    line-height: 34px;

    text-align: center;

    background-color: #428bca;

    cursor: pointer;

    bottom: 0;

    right: 0;

    z-index: 6;

    display: none

}



.material-content .material-body .item:hover .del {

    display: block

}



.material-content .material-body .del .wi, .material-content .material-body .del .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .del .ext-apply-item.apply-show:before, .material-content .material-body .del .cut-list .item.apply-show:before, .cut-list .material-content .material-body .del .item.apply-show:before {

    color: #fff

}



.material-content .material-pager {

    padding: 20px;

    height: 79px

}



.material-content .tab-content {

    overflow-x: hidden;

    overflow-y: auto;

    height: 310px

}



select.we7-select {

    height: 34px;

    padding: 0 10px;

    color: #252424;

    border-color: #e7e7eb !important;

    border-style: solid;

    border-width: 1px;

    box-shadow: 0 0 0 !important;

    outline: 0;

    border-radius: 0;

    appearance: none;

    -moz-appearance: none;

    -webkit-appearance: none;

    background: url(../images/select-arrow.png) #fff no-repeat right !important;

    padding-right: 35px

}



select.we7-select:focus {

    border-color: #e7e7eb !important

}



select.we7-select:hover {

    border-color: #e7e7eb !important

}



select.we7-select:active {

    border-color: #e7e7eb !important

}



select.we7-select + .we7-select, select + .we7-select {

    margin-left: 10px

}



select.we7-select[multiple=multiple], select[multiple=multiple] {

    height: auto !important;

    background: none !important

}





@font-face {

    font-family: we7icon;

    src: url(../../../../web/resource/fonts/we7icon.eot?ceg6l3);

    src: url(../../../../web/resource/fonts/we7icon.eot?ceg6l3#iefix) format("embedded-opentype"), url(../../../../web/resource/fonts/we7icon.ttf?ceg6l3) format("truetype"), url(../../../../web/resource/fonts/we7icon.woff?ceg6l3) format("woff"), url(../../../../web/resource/fonts/we7icon.svg?ceg6l3#we7icon) format("svg");

    font-weight: 400;

    font-style: normal

}



.wi, .ext-apply-list .ext-apply-item.apply-show:before, .cut-list .item.apply-show:before {

    font-family: we7icon !important;

    display: inline-block;

    speak: none;

    font-style: normal;

    font-weight: 400;

    font-variant: normal;

    text-transform: none;

    line-height: 1;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale

}

#newUploaderImg.image .category li.active, #newUploaderImg.image .category .head .navbar-left>li:hover, .head #newUploaderImg.image .category .navbar-left>li:hover, #newUploaderImg.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu #newUploaderImg.image .category li.list-group-item:not(.list-group-more):hover, #newUploaderImg.image .category li:hover, .uploader-modal.image .category li.active, .uploader-modal.image .category .head .navbar-left>li:hover, .head .uploader-modal.image .category .navbar-left>li:hover, .uploader-modal.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu .uploader-modal.image .category li.list-group-item:not(.list-group-more):hover, .uploader-modal.image .category li:hover{

	background:#fff

}



.wi-search:before {

    content: "\e911"

}

.wi-right:before {

    content: "\e955"

}



.wi-delete2:before {

    content: "\e913"

}

.wi-file:before {

	content: "\e930"

}



.wi-registersite:before {

	content: "\e931"

}

.modal.uploader-modal {

    z-index: 2060 !important;

}

.btn-group .btn+.btn{

	border-left: 0;

    margin-left: 0;

}

.dropdown-toggle span.sr-only{

	position: absolute;

    width: 1px;

    height: 1px;

    padding: 0;

    margin: -1px;

    overflow: hidden;

    clip: rect(0,0,0,0);

    border: 0;

}

.btn-uploader .we7-margin-horizontal-sm{

	display: none;

}

.btn-uploader .btn.btn-danger{

	margin-right: 10px;

}

