

/*兼容微擎新版图片选择器*/

.modal-open {

    overflow: inherit;

    padding: 0 !important

}



.modal.fade .modal-dialog {

    -webkit-transform: translate(0, -75%);

    -ms-transform: translate(0, -75%);

    -o-transform: translate(0, -75%);

    transform: translate(0, -75%)

}



.modal.in .modal-dialog {

    -webkit-transform: translate(0, -50%);

    -ms-transform: translate(0, -50%);

    -o-transform: translate(0, -50%);

    transform: translate(0, -50%)

}

#newUploaderImg .modal-dialog, .uploader-modal .modal-dialog {

    width: 1088px

}



#newUploaderImg .modal-header, .uploader-modal .modal-header {

    border-bottom: 1px solid #e7e7eb;

    padding: 15px 20px

}



#newUploaderImg .modal-header .modal-title, .uploader-modal .modal-header .modal-title {

    font-size: 16px

}



#newUploaderImg .modal-footer .count, .uploader-modal .modal-footer .count {

    display: inline-block;

    height: 34px;

    line-height: 34px

}



#newUploaderImg .modal-footer .btn-default.disabled, .uploader-modal .modal-footer .btn-default.disabled {

    background-color: #E7E7EB

}



#newUploaderImg .modal-body, .uploader-modal .modal-body {

    padding: 0;

    max-height: 710px;

    overflow: hidden

}

#newUploaderImg .modal-body .nav.nav-pills, .uploader-modal .modal-body .nav.nav-pills {

    float: left;

    width: 150px;

    border-right: 1px solid #e7e7eb;

    margin-bottom: -999px;

    padding-bottom: 999px

}

#newUploaderImg .modal-body .nav.nav-pills li, .uploader-modal .modal-body .nav.nav-pills li {

    height: 34px;

    line-height: 34px;

    margin: 0;

    padding-left: 15px

}



#newUploaderImg .modal-body .nav.nav-pills li a, .uploader-modal .modal-body .nav.nav-pills li a {

    color: #252424

}



#newUploaderImg .modal-body .nav.nav-pills li.active, #newUploaderImg .modal-body .nav.nav-pills .head .navbar-left > li:hover, .head #newUploaderImg .modal-body .nav.nav-pills .navbar-left > li:hover, #newUploaderImg .modal-body .nav.nav-pills .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu #newUploaderImg .modal-body .nav.nav-pills li.list-group-item:not(.list-group-more):hover, #newUploaderImg .modal-body .nav.nav-pills li:hover, .uploader-modal .modal-body .nav.nav-pills li.active, .uploader-modal .modal-body .nav.nav-pills .head .navbar-left > li:hover, .head .uploader-modal .modal-body .nav.nav-pills .navbar-left > li:hover, .uploader-modal .modal-body .nav.nav-pills .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu .uploader-modal .modal-body .nav.nav-pills li.list-group-item:not(.list-group-more):hover, .uploader-modal .modal-body .nav.nav-pills li:hover {

    background-color: #f4f5f9

}



#newUploaderImg .modal-body .material-body, .uploader-modal .modal-body .material-body {

    border: none

}



#newUploaderImg .modal-body .row, .uploader-modal .modal-body .row {

    margin-top:-10px

}



#newUploaderImg .modal-body .col-sm-2, #newUploaderImg .modal-body .col-sm-3, #newUploaderImg .modal-body .col-sm-4, .uploader-modal .modal-body .col-sm-2, .uploader-modal .modal-body .col-sm-3, .uploader-modal .modal-body .col-sm-4 {

    padding: 10px;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer

}



/*#newUploaderImg .modal-body .col-sm-2.input-group, #newUploaderImg .modal-body .col-sm-3.input-group, #newUploaderImg .modal-body .col-sm-4.input-group, .uploader-modal .modal-body .col-sm-2.input-group, .uploader-modal .modal-body .col-sm-3.input-group, .uploader-modal .modal-body .col-sm-4.input-group {

    padding: 0 20px 0 0

}*/



#newUploaderImg .tab-content, .uploader-modal .tab-content {

    width: 935px;

    height: 100%;

    float: left

}



#newUploaderImg.news .tab-content, .uploader-modal.news .tab-content {

    height: 370px;

    overflow: hidden

}



#newUploaderImg.news .material-appmsg-item, .uploader-modal.news .material-appmsg-item {

    width: 100%

}



#newUploaderImg.news #material-list-pager, .uploader-modal.news #material-list-pager {

    float: right;

    height: 64px;

    padding-bottom: 15px;

    padding-right: 15px

}



#newUploaderImg.basic .modal-body textarea, .uploader-modal.basic .modal-body textarea {

    margin-top: 15px

}



#newUploaderImg.basic .modal-body .tab-content, .uploader-modal.basic .modal-body .tab-content {

    width: 100%;

    float: none;

    margin-top: 1px

}

#newUploaderImg.basic .modal-body,.uploader-modal.basic .modal-body {

    padding: 30px

}

#newUploaderImg.basic .modal-body .tab-content textarea, .uploader-modal.basic .modal-body .tab-content textarea {

    width: 100%

}



#newUploaderImg.music .modal-body, .uploader-modal.music .modal-body {

    padding: 30px

}



#newUploaderImg.voice .tab-content, #newUploaderImg.video .tab-content, #newUploaderImg.image .tab-content, #newUploaderImg.module .tab-content, .uploader-modal.voice .tab-content, .uploader-modal.video .tab-content, .uploader-modal.image .tab-content, .uploader-modal.module .tab-content {

    width: 100%;

    padding: 15px;

    float: none

}



#newUploaderImg.voice #material-list-pager, #newUploaderImg.video #material-list-pager, #newUploaderImg.image #material-list-pager, #newUploaderImg.module #material-list-pager, .uploader-modal.voice #material-list-pager, .uploader-modal.video #material-list-pager, .uploader-modal.image #material-list-pager, .uploader-modal.module #material-list-pager {

    float: right;

    height: 64px;

    padding-bottom: 15px;

    padding-right: 15px

}

#newUploaderImg.image .material-body,.uploader-modal.image .material-body {

    padding: 0;

    position: relative;

    overflow-y: hidden

}

#newUploaderImg.image .category, .uploader-modal.image .category{

    width: 170px;

    height: 460px;

    overflow-y: auto;

    border-right: 1px solid #e7e7eb;

    background: #f4f5f9;

    float: left;

    display: none;

}

#newUploaderImg.image .category .add, .uploader-modal.image .category .add{

    line-height: 44px;

    text-align: center;

    background: #fff;

    border-bottom: 1px solid #e7e7eb;

}

#newUploaderImg.image .category li .name, .uploader-modal.image .category li .name{

    width: 100%;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

}

#newUploaderImg.image .img-container, .uploader-modal.image .img-container{

    padding: 10px 10px 41px;

    flex-wrap: wrap;

    margin-left: 0;

    max-height: 460px;

    overflow-y: auto;

}

#newUploaderImg.image .img-container .item, .uploader-modal.image .img-container .item{

    flex: none;

    position: relative;

    width: calc(20% - 20px);

    margin: 10px;

    text-align: center;

    vertical-align: middle;

    background-color: #eee;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%;

}

#newUploaderImg.image .img-container .item:before, .uploader-modal.image .img-container .item:before{

    content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle;

}

#newUploaderImg.image .img-container .item .name, .uploader-modal.image .img-container .item .name{

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0,0,0,.5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2;

    text-overflow: ellipsis;

    overflow: hidden;

    white-space: nowrap;

}



.we7-flex{

    display: flex;

    display: -webkit-flex;

}



#newUploaderImg.image .material-body .selected-all, .uploader-modal.image .material-body .selected-all{

    width: 130px;

    padding: 10px 30px;

    background: #fff;

    position: fixed;

    left: 0;

    bottom: 60px;

    z-index: 20;

    float: left;

}

#newUploaderImg.image .material-body .selected-all input, .uploader-modal.image .material-body .selected-all input{

    float:left

}

#newUploaderImg.image .material-body .selected-all label, .uploader-modal.image .material-body .selected-all label{

    margin-top: 3px;

    float: left;

    margin-left: 10px;

}

#newUploaderImg.image .tab-content, .uploader-modal.image .tab-content{

    height: 460px;

    padding: 15px 7px

}



#newUploaderImg.image .tab-content .history .img-list, .uploader-modal.image .tab-content .history .img-list {

    margin: 0

}



#newUploaderImg.image .col-sm-2 .item, .uploader-modal.image .col-sm-2 .item {

    position: relative;

    width: 100%;

    text-align: center;

    vertical-align: middle;

    background-color: #eee;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%

}



#newUploaderImg.image .col-sm-2 .item:before, .uploader-modal.image .col-sm-2 .item:before {

    content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle

}



#newUploaderImg.image .col-sm-2 .item .name, .uploader-modal.image .col-sm-2 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg.image .img-net, .uploader-modal.image .img-net {

    font-size: 18px

}



#newUploaderImg.image .img-net .img, .uploader-modal.image .img-net .img {

    width: auto;

    min-width: 150px;

    height: 150px;

    background-color: #eee;

    margin: 50px 0 20px 0

}



#newUploaderImg.image .img-net input, .uploader-modal.image .img-net input {

    width: 500px;

    margin: 10px auto

}



#newUploaderImg.image .img-net .btn, .uploader-modal.image .img-net .btn {

    width: 120px;

    margin: 10px 0

}



#newUploaderImg.keyword .tab-content, .uploader-modal.keyword .tab-content {

    width: 100%;

    height: 310px;

    padding: 15px;

    float: none

}



#newUploaderImg.keyword .material-content, .uploader-modal.keyword .material-content {

    padding: 0

}



#newUploaderImg.keyword .row, .uploader-modal.keyword .row {

    margin: -10px

}



#newUploaderImg.keyword .col-sm-2, .uploader-modal.keyword .col-sm-2 {

    padding: 10px;

    overflow: hidden;

    box-sizing: border-box;

    cursor: pointer

}



#newUploaderImg.keyword .col-sm-2 a, .uploader-modal.keyword .col-sm-2 a {

    display: block;

    width: 100%;

    height: 75px;

    position: relative;

    cursor: pointer;

    border: 1px solid #e7e7eb;

    text-align: center

}



#newUploaderImg.keyword .col-sm-2 a span, .uploader-modal.keyword .col-sm-2 a span {

    display: inline-block;

    width: 94%;

    padding: 0 3%;

    max-height: 54px;

    line-height: 18px;

    overflow: hidden;

    box-sizing: border-box;

    white-space: normal;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -o-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%)

}



#newUploaderImg.keyword .col-sm-2.active a, #newUploaderImg.keyword .head .navbar-left > li.col-sm-2:hover a, .head #newUploaderImg.keyword .navbar-left > li.col-sm-2:hover a, #newUploaderImg.keyword .panel-menu .col-sm-2.list-group-item:not(.list-group-more):hover a, .panel-menu #newUploaderImg.keyword .col-sm-2.list-group-item:not(.list-group-more):hover a, #newUploaderImg.keyword .col-sm-2:hover a, .uploader-modal.keyword .col-sm-2.active a, .uploader-modal.keyword .head .navbar-left > li.col-sm-2:hover a, .head .uploader-modal.keyword .navbar-left > li.col-sm-2:hover a, .uploader-modal.keyword .panel-menu .col-sm-2.list-group-item:not(.list-group-more):hover a, .panel-menu .uploader-modal.keyword .col-sm-2.list-group-item:not(.list-group-more):hover a, .uploader-modal.keyword .col-sm-2:hover a {

    background-color: #f4f6f9;

    color: #428bca

}



#newUploaderImg.module .tab-content, .uploader-modal.module .tab-content {

    padding: 15px 7px

}



#newUploaderImg.module .img-list, .uploader-modal.module .img-list {

    margin: 0

}



#newUploaderImg.module .img-list img, .uploader-modal.module .img-list img {

    margin: 17px 0 4px 0

}



#newUploaderImg.module .col-sm-2 .item, .uploader-modal.module .col-sm-2 .item {

    position: relative;

    width: 100%;

    text-align: center;

    border: 1px solid #e7e7eb

}



#newUploaderImg.module .col-sm-2 .item:before, .uploader-modal.module .col-sm-2 .item:before {

    content: "";

    display: inline-block;

    padding-bottom: 100%;

    width: .1px;

    vertical-align: middle

}



#newUploaderImg.module .col-sm-2 .item .icon, .uploader-modal.module .col-sm-2 .item .icon {

    width: 80px;

    height: 80px;

    border-radius: 10px;

    vertical-align: middle

}



#newUploaderImg.module .col-sm-2 .item .name, .uploader-modal.module .col-sm-2 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg.video .col-sm-3 .item, #newUploaderImg.voice .col-sm-3 .item, #newUploaderImg.music .voice-content .col-sm-3 .item, .uploader-modal.video .col-sm-3 .item, .uploader-modal.voice .col-sm-3 .item, .uploader-modal.music .voice-content .col-sm-3 .item {

    position: relative;

    width: 100%;

    height: 150px;

    text-align: center;

    border: 1px solid #e7e7eb

}



#newUploaderImg.video .col-sm-3 .item .icon, #newUploaderImg.voice .col-sm-3 .item .icon, #newUploaderImg.music .voice-content .col-sm-3 .item .icon, .uploader-modal.video .col-sm-3 .item .icon, .uploader-modal.voice .col-sm-3 .item .icon, .uploader-modal.music .voice-content .col-sm-3 .item .icon {

    width: 60px;

    height: 60px;

    margin-top: 18px

}



#newUploaderImg.video .col-sm-3 .item .time, #newUploaderImg.voice .col-sm-3 .item .time, #newUploaderImg.music .voice-content .col-sm-3 .item .time, .uploader-modal.video .col-sm-3 .item .time, .uploader-modal.voice .col-sm-3 .item .time, .uploader-modal.music .voice-content .col-sm-3 .item .time {

    color: #999;

    line-height: 34px

}



#newUploaderImg.video .col-sm-3 .item .name, #newUploaderImg.voice .col-sm-3 .item .name, #newUploaderImg.music .voice-content .col-sm-3 .item .name, .uploader-modal.video .col-sm-3 .item .name, .uploader-modal.voice .col-sm-3 .item .name, .uploader-modal.music .voice-content .col-sm-3 .item .name {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    line-height: 34px;

    background: rgba(0, 0, 0, .5);

    color: #fff;

    padding: 0 20px;

    text-align: left;

    z-index: 2

}



#newUploaderImg .modal-body.image, #newUploaderImg .modal-body.thumb {

    height: 459px

}



#newUploaderImg .modal-body #wx .tablepanel-top, #newUploaderImg .modal-body #local .tablepanel-top {

    padding: 10px 15px;

    line-height: 34px;

    border-bottom: 1px solid #e7e7eb

}



#newUploaderImg .modal-body #wx .tablepanel-top span, #newUploaderImg .modal-body #local .tablepanel-top span {

    color: #999;

    display: inline-block;

    margin-right: 20px

}



#newUploaderImg .modal-body #wx .tablepanel-con, #newUploaderImg .modal-body #local .tablepanel-con {

    padding: 15px

}



#newUploaderImg .modal-body #wx .tablepanel-con input[type=text].form-control, #newUploaderImg .modal-body #local .tablepanel-con input[type=text].form-control {

    border-radius: 4px

}



#newUploaderImg .modal-body #wx .tablepanel-con .empty, #newUploaderImg .modal-body #local .tablepanel-con .empty {

    height: 330px;

    line-height: 330px;

    text-align: center;

    font-size: 18px

}



#newUploaderImg .modal-body #wx .tablepanel-con .fa, #newUploaderImg .modal-body #local .tablepanel-con .fa {

    margin: 0

}



#newUploaderImg .modal-body #wx .tablepanel-con .item, #newUploaderImg .modal-body #local .tablepanel-con .item {

    float: left;

    border: 1px solid #e7e7eb;

    width: 120px;

    height: 150px;

    margin: 0 15px 15px 0

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img, #newUploaderImg .modal-body #local .tablepanel-con .item .img {

    position: relative;

    overflow: hidden;

    width: 100%;

    height: 114px;

    text-align: center;

    background-color: #f4f5f9;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%;

    cursor: pointer

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    text-align: center;

    line-height: 114px;

    background: rgba(0, 0, 0, .6);

    color: #fff

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .wi, #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #wx .tablepanel-con .item .img .cover .item.apply-show:before, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .wi, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #local .tablepanel-con .item .img .cover .item.apply-show:before {

    font-size: 48px

}



#newUploaderImg .modal-body #wx .tablepanel-con .item .img-title, #newUploaderImg .modal-body #local .tablepanel-con .item .img-title {

    text-align: center;

    width: 100%;

    height: 34px;

    line-height: 34px;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis

}



#newUploaderImg .modal-body #wx .tablepanel-con .item.selected .cover, #newUploaderImg .modal-body #wx .tablepanel-con .site-template .item.lock .cover, .site-template #newUploaderImg .modal-body #wx .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #wx .tablepanel-con .system-template .item.lock .cover, .system-template #newUploaderImg .modal-body #wx .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #local .tablepanel-con .item.selected .cover, #newUploaderImg .modal-body #local .tablepanel-con .site-template .item.lock .cover, .site-template #newUploaderImg .modal-body #local .tablepanel-con .item.lock .cover, #newUploaderImg .modal-body #local .tablepanel-con .system-template .item.lock .cover, .system-template #newUploaderImg .modal-body #local .tablepanel-con .item.lock .cover {

    display: block

}



#newUploaderImg .modal-body #link {

    padding: 30px

}



#newUploaderImg .modal-body #link .item {

    border: 1px solid #e7e7eb;

    width: 120px;

    height: 150px;

    margin-right: 30px;

    float: left

}



#newUploaderImg .modal-body #link .item .img {

    position: relative;

    overflow: hidden;

    width: 100%;

    height: 114px;

    text-align: center;

    background-color: #f4f5f9;

    background-size: contain;

    background-repeat: no-repeat;

    background-position: 50% 50%

}



#newUploaderImg .modal-body #link .item .img .cover {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    text-align: center;

    line-height: 114px;

    background: rgba(0, 0, 0, .6);

    color: #fff

}



#newUploaderImg .modal-body #link .item .img .cover .wi, #newUploaderImg .modal-body #link .item .img .cover .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list #newUploaderImg .modal-body #link .item .img .cover .ext-apply-item.apply-show:before, #newUploaderImg .modal-body #link .item .img .cover .cut-list .item.apply-show:before, .cut-list #newUploaderImg .modal-body #link .item .img .cover .item.apply-show:before {

    font-size: 48px

}



#newUploaderImg .modal-body #link .item .img-title {

    text-align: center;

    width: 100%;

    height: 34px;

    line-height: 34px;

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis

}



#newUploaderImg .modal-body #link .link {

    float: left;

    width: 450px

}



#newUploaderImg .modal-body #link .link .state {

    font-size: 18px;

    color: #999;

    margin: 15px 0

}



#newUploaderImg .modal-body #link .link button {

    min-width: 105px;

    margin: 15px 0

}

.we7-modal-dialog, .modal-dialog {

    min-width: 720px !important;

    position: absolute;

    left: 0;

    right: 0;

    top: 50%

}



.we7-modal-dialog .modal-content, .modal-dialog .modal-content {

    border-radius: 0

}



.we7-modal-dialog .modal-header, .modal-dialog .modal-header {

    background-color: #f4f5f9;

    border-bottom: 0

}



.we7-modal-dialog .modal-header .modal-title, .we7-modal-dialog .modal-header h3, .modal-dialog .modal-header .modal-title, .modal-dialog .modal-header h3 {

    font-size: 14px

}



.we7-modal-dialog .modal-header h3, .modal-dialog .modal-header h3 {

    margin: 0;

    padding: 0

}



.we7-modal-dialog .modal-footer, .modal-dialog .modal-footer {

    background-color: #f4f5f9;

    border-top: 0;

    text-align: center

}



.we7-modal-dialog .modal-footer .btn, .modal-dialog .modal-footer .btn {

    display: inline-block;

    min-width: 105px

}



.we7-modal-dialog .nav-pills > li.active > a, .we7-modal-dialog .head .navbar-left.nav-pills > li:hover > a, .head .we7-modal-dialog .navbar-left.nav-pills > li:hover > a, .we7-modal-dialog .panel-menu .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .panel-menu .we7-modal-dialog .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .modal-dialog .nav-pills > li.active > a, .modal-dialog .head .navbar-left.nav-pills > li:hover > a, .head .modal-dialog .navbar-left.nav-pills > li:hover > a, .modal-dialog .panel-menu .nav-pills > li.list-group-item:not(.list-group-more):hover > a, .panel-menu .modal-dialog .nav-pills > li.list-group-item:not(.list-group-more):hover > a {

    padding: 0;

    color: #428bca;

    background-color: transparent

}



.we7-modal-dialog .nav-pills > li > a, .modal-dialog .nav-pills > li > a {

    padding: 0;

    background-color: transparent;

    color: #333

}



.we7-modal-dialog .nav-pills > li > a:hover, .modal-dialog .nav-pills > li > a:hover {

    background-color: transparent;

    color: #428bca

}



.we7-modal-dialog .nav-pills > li + li, .modal-dialog .nav-pills > li + li {

    margin-left: 10px

}



.we7-modal-dialog .we7-select, .modal-dialog .we7-select {

    width: 100%

}



.we7-modal-dialog .wi, .we7-modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .we7-modal-dialog .ext-apply-item.apply-show:before, .we7-modal-dialog .cut-list .item.apply-show:before, .cut-list .we7-modal-dialog .item.apply-show:before, .we7-modal-dialog .fa, .modal-dialog .wi, .modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .modal-dialog .ext-apply-item.apply-show:before, .modal-dialog .cut-list .item.apply-show:before, .cut-list .modal-dialog .item.apply-show:before, .modal-dialog .fa {

    font-size: 22px;

    vertical-align: middle;

    margin-right: 0px

}



.we7-modal-dialog .text-info, .modal-dialog .text-info {

    color: #428bca

}



.modal-success {

    top: 50%;

    left: 50%;

    right: auto;

    bottom: auto;

    margin: 0 auto;

    transform: translate(-50%, -50%)

}



.modal-success.in .modal-dialog {

    min-width: 250px !important;

    width: auto;

    position: relative;

    left: auto;

    right: auto;

    top: 0;

    -webkit-transform: translate(0, 0);

    -ms-transform: translate(0, 0);

    -o-transform: translate(0, 0);

    transform: translate(0, 0)

}



.modal-success .modal-content {

    padding: 10px 30px;

    background-color: #51A351;

    color: #fff;

    border-color: #51a351;

    font-size: 14px;

    vertical-align: middle;

    border-radius: 3px;

    box-shadow: 0 0 0

}



.modal-success .modal-body {

    padding: 6px

}



.modal-success .wi, .modal-success .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .modal-success .ext-apply-item.apply-show:before, .modal-success .cut-list .item.apply-show:before, .cut-list .modal-success .item.apply-show:before, .modal-success .fa {

    color: #fff !important

}



.material-content .material-head {

    padding: 15px 20px;

    border-bottom: 1px solid #e7e7eb;

    clear: both;

    box-sizing: border-box

}



.material-content .material-head .wi-search {

    font-size: 18px;

    margin: 0

}



.material-content .material-head .filter {

    width: 452px

}



.material-content .material-head .filter .we7-select {

    width: 200px

}



.material-content .material-head .filter .we7-select + .we7-select {

    margin-left: -1px

}



.material-content .material-nav {

    border-bottom: 1px solid #e7e7eb;

    padding: 0 20px

}



.material-content .material-nav a {

    display: inline-block;

    padding: 0 30px;

    line-height: 42px;

    font-size: 16px;

    color: #999;

    border-bottom: 3px solid transparent

}



.material-content .material-nav a:hover, .material-content .material-nav a.active, .material-content .material-nav .panel-menu a.list-group-item:not(.list-group-more):hover, .panel-menu .material-content .material-nav a.list-group-item:not(.list-group-more):hover {

    color: #428bca;

    border-color: #428bca

}



.material-content .material-body {

    padding: 20px;

    height: 460px;

    overflow-y: auto;

    border-bottom: 1px solid #e7e7eb

}



.material-content .material-body .item {

    position: relative

}



.material-content .material-body .item:hover {

    outline: 2px solid #428bca

}



.material-content .material-body .item.active .mask, .material-content .material-body .head .navbar-left > li.item:hover .mask, .head .material-content .material-body .navbar-left > li.item:hover .mask, .material-content .material-body .panel-menu .item.list-group-item:not(.list-group-more):hover .mask, .panel-menu .material-content .material-body .item.list-group-item:not(.list-group-more):hover .mask {

    display: block

}



.material-content .material-body .mask {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 5;

    background-color: rgba(0, 0, 0, .5);

    text-align: center;

    display: none

}



.material-content .material-body .mask .wi, .material-content .material-body .mask .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .mask .ext-apply-item.apply-show:before, .material-content .material-body .mask .cut-list .item.apply-show:before, .cut-list .material-content .material-body .mask .item.apply-show:before {

    color: #fff;

    font-size: 32px;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%)

}



.material-content .material-body .del {

    position: absolute;

    width: 34px;

    line-height: 34px;

    text-align: center;

    background-color: #428bca;

    cursor: pointer;

    bottom: 0;

    right: 0;

    z-index: 6;

    display: none

}



.material-content .material-body .item:hover .del {

    display: block

}



.material-content .material-body .del .wi, .material-content .material-body .del .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .del .ext-apply-item.apply-show:before, .material-content .material-body .del .cut-list .item.apply-show:before, .cut-list .material-content .material-body .del .item.apply-show:before {

    color: #fff

}



.material-content .material-pager {

    padding: 20px;

    height: 79px

}



.material-content .tab-content {

    overflow-x: hidden;

    overflow-y: auto;

    height: 310px

}



select.we7-select {

    height: 34px;

    padding: 0 10px;

    color: #252424;

    border-color: #e7e7eb !important;

    border-style: solid;

    border-width: 1px;

    box-shadow: 0 0 0 !important;

    outline: 0;

    border-radius: 0;

    appearance: none;

    -moz-appearance: none;

    -webkit-appearance: none;

    background: url(../images/select-arrow.png) #fff no-repeat right !important;

    padding-right: 35px

}



select.we7-select:focus {

    border-color: #e7e7eb !important

}



select.we7-select:hover {

    border-color: #e7e7eb !important

}



select.we7-select:active {

    border-color: #e7e7eb !important

}



select.we7-select + .we7-select, select + .we7-select {

    margin-left: 10px

}



select.we7-select[multiple=multiple], select[multiple=multiple] {

    height: auto !important;

    background: none !important

}





@font-face {

    font-family: we7icon;

    src: url(../../../../public/static/fonts/we7icon.eot?ceg6l3);

    src: url(../../../../public/static/fonts/we7icon.eot?ceg6l3#iefix) format("embedded-opentype"), url(../../../../public/static/fonts/we7icon.ttf?ceg6l3) format("truetype"), url(../../../../web/resource/fonts/we7icon.woff?ceg6l3) format("woff"), url(../../../../web/resource/fonts/we7icon.svg?ceg6l3#we7icon) format("svg");

    font-weight: 400;

    font-style: normal

}



.wi, .ext-apply-list .ext-apply-item.apply-show:before, .cut-list .item.apply-show:before {

    font-family: we7icon !important;

    display: inline-block;

    speak: none;

    font-style: normal;

    font-weight: 400;

    font-variant: normal;

    text-transform: none;

    line-height: 1;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale

}

#newUploaderImg.image .category li.active, #newUploaderImg.image .category .head .navbar-left>li:hover, .head #newUploaderImg.image .category .navbar-left>li:hover, #newUploaderImg.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu #newUploaderImg.image .category li.list-group-item:not(.list-group-more):hover, #newUploaderImg.image .category li:hover, .uploader-modal.image .category li.active, .uploader-modal.image .category .head .navbar-left>li:hover, .head .uploader-modal.image .category .navbar-left>li:hover, .uploader-modal.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu .uploader-modal.image .category li.list-group-item:not(.list-group-more):hover, .uploader-modal.image .category li:hover{

    background:#fff

}



.wi-down-sign-s:before {

    content:"\e601"

}

.wi-zip:before {

    content:"\e602"

}

.wi-warning-cricle:before {

    content:"\e603"

}

.wi-wallet:before {

    content:"\e604"

}

.wi-warning-sign:before {

    content:"\e605"

}

.wi-XML:before {

    content:"\e606"

}

.wi-transform:before {

    content:"\e607"

}

.wi-coupon:before {

    content:"\e608"

}

.wi-upload:before {

    content:"\e609"

}

.wi-local:before {

    content:"\e60a"

}

.wi-main-apply:before {

    content:"\e60b"

}

.wi-wx-circle:before {

    content:"\e60c"

}

.wi-star:before {

    content:"\e60d"

}

.wi-down:before {

    content:"\e60e"

}

.wi-bell:before {

    content:"\e60f"

}

.wi-up:before {

    content:"\e610"

}

.wi-shopping-cart:before {

    content:"\e611"

}

.wi-app-site:before {

    content:"\e612"

}

.wi-angle-down:before {

    content:"\e613"

}

.wi-angle-up:before {

    content:"\e614"

}

.wi-small-routine:before {

    content:"\e615"

}

.wi-menu-setting:before {

    content:"\e616"

}

.wi-parameter-setting:before {

    content:"\e617"

}

.wi-appjurisdiction:before {

    content:"\e618"

}

.wi-appsetting:before {

    content:"\e619"

}

.wi-system-info:before {

    content:"\e61a"

}

.wi-market:before {

    content:"\e61b"

}

.wi-distribution:before {

    content:"\e61c"

}

.wi-user:before {

    content:"\e61d"

}

.wi-message:before {

    content:"\e61e"

}

.wi-article:before {

    content:"\e61f"

}

.wi-userjurisdiction:before {

    content:"\e620"

}

.wi-registersite:before {

    content:"\e621"

}

.wi-file:before {

    content:"\e622"

}

.wi-systemmenu:before {

    content:"\e623"

}

.wi-reply:before {

    content:"\e624"

}

.wi-crontab:before {

    content:"\e625"

}

.wi-redact:before {

    content:"\e626"

}

.wi-fans:before {

    content:"\e627"

}

.wi-appstatistics:before {

    content:"\e628"

}

.wi-qrcode:before {

    content:"\e629"

}

.wi-custommenu:before {

    content:"\e62a"

}

.wi-keyword:before {

    content:"\e62b"

}

.wi-parameter:before {

    content:"\e62c"

}

.wi-card:before {

    content:"\e62d"

}

.wi-flow:before {

    content:"\e62e"

}

.wi-appmsg:before {

    content:"\e62f"

}

.wi-hint:before {

    content:"\e630"

}

.wi-search:before {

    content:"\e631"

}

.wi-stick:before {

    content:"\e632"

}

.wi-cut:before {

    content:"\e633"

}

.wi-requirement:before {

    content:"\e634"

}

.wi-delete2:before {

    content:"\e635"

}

.wi-copyright:before {

    content:"\e636"

}

.wi-fansmanage:before {

    content:"\e637"

}

.wi-goods:before {

    content:"\e638"

}

.wi-order:before {

    content:"\e639"

}

.wi-update:before {

    content:"\e63a"

}

.wi-notice:before {

    content:"\e63b"

}

.wi-skin:before {

    content:"\e63c"

}

.wi-home:before {

    content:"\e63d"

}

.wi-cache:before {

    content:"\e63e"

}

.wi-userstatistics:before {

    content:"\e63f"

}

.wi-hide:before {

    content:"\e640"

}

.wi-wxapp-pack:before {

    content:"\e641"

}

.wi-wxapp-setting:before {

    content:"\e642"

}

.wi-system-site:before {

    content:"\e99e"

}

.wi-apply:before {

    content:"\e644"

}

.wi-changing-over:before {

    content:"\e645"

}

.wi-s-template:before {

    content:"\e646"

}

.wi-site-setting:before {

    content:"\e647"

}

.wi-clock:before {

    content:"\e648"

}

.wi-advertisement:before {

    content:"\e649"

}

.wi-remove:before {

    content:"\e64a"

}

.wi-disabled:before {

    content:"\e64b"

}

.wi-iphone:before {

    content:"\e64c"

}

.wi-plus:before {

    content:"\e64d"

}

.wi-version-switch:before {

    content:"\e64e"

}

.wi-diagnose:before {

    content:"\e64f"

}

.wi-setting:before {

    content:"\e650"

}

.wi-wechat:before {

    content:"\e651"

}

.wi-exploitsetting:before {

    content:"\e652"

}

.wi-sql:before {

    content:"\e653"

}

.wi-log:before {

    content:"\e654"

}

.wi-safety:before {

    content:"\e655"

}

.wi-optimize:before {

    content:"\e656"

}

.wi-adgroup:before {

    content:"\e657"

}

.wi-attachment:before {

    content:"\e658"

}

.wi-wechatstatistics:before {

    content:"\e659"

}

.wi-img:before {

    content:"\e65a"

}

.wi-text:before {

    content:"\e65b"

}

.wi-radio:before {

    content:"\e65c"

}

.wi-video:before {

    content:"\e65d"

}

.wi-navigation:before {

    content:"\e65e"

}

.wi-show:before,.ext-apply-list .ext-apply-item.apply-show:before,.cut-list .item.apply-show:before {

    content:"\e65f"

}

.wi-compose:before {

    content:"\e660"

}

.wi-template:before {

    content:"\e661"

}

.wi-introduction:before {

    content:"\e662"

}

.wi-view:before {

    content:"\e663"

}

.wi-blacklist:before {

    content:"\e664"

}

.wi-authentication:before {

    content:"\e665"

}

.wi-pirate:before {

    content:"\e666"

}

.wi-test:before {

    content:"\e667"

}

.wi-upload-file:before {

    content:"\e668"

}

.wi-download-circle:before {

    content:"\e669"

}

.wi-setting-circle:before {

    content:"\e66a"

}

.wi-home-nav-circle:before {

    content:"\e66b"

}

.wi-branch:before {

    content:"\e66c"

}

.wi-plugin:before {

    content:"\e66d"

}

.wi-flag-star:before {

    content:"\e66e"

}

.wi-direct:before {

    content:"\e66f"

}

.wi-home-nav:before {

    content:"\e670"

}

.wi-info:before {

    content:"\e671"

}

.wi-rocket:before {

    content:"\e672"

}

.wi-list:before {

    content:"\e673"

}

.wi-manage-menu:before {

    content:"\e674"

}

.wi-cover:before {

    content:"\e675"

}

.wi-personal:before {

    content:"\e676"

}

.wi-independence:before {

    content:"\e677"

}

.wi-signal:before {

    content:"\e678"

}

.wi-export:before {

    content:"\e679"

}

.wi-insert:before {

    content:"\e67a"

}

.wi-d-parameter:before {

    content:"\e67b"

}

.wi-right-sign-s:before {

    content:"\e67c"

}

.wi-limited-time:before {

    content:"\e67d"

}

.wi-payment:before {

    content:"\e67e"

}

.wi-invoice:before {

    content:"\e67f"

}

.wi-folded:before {

    content:"\e680"

}

.wi-goods-setting:before {

    content:"\e681"

}

.wi-v-bussiness:before {

    content:"\e682"

}

.wi-v-authorities:before {

    content:"\e683"

}

.wi-free:before {

    content:"\e684"

}

.wi-upgrade:before {

    content:"\e685"

}

.wi-setting-wxapp:before {

    content:"\e686"

}

.wi-sensitive:before {

    content:"\e687"

}

.wi-scan:before {

    content:"\e688"

}

.wi-refund:before {

    content:"\e689"

}

.wi-file-sign:before {

    content:"\e68a"

}

.wi-system-work:before {

    content:"\e68b"

}

.wi-count-down:before {

    content:"\e68c"

}

.wi-waiting:before {

    content:"\e68d"

}

.wi-step-arrows:before {

    content:"\e68e"

}

.wi-examine:before {

    content:"\e68f"

}

.wi-repair:before {

    content:"\e690"

}

.wi-wxapp-upload:before {

    content:"\e691"

}

.wi-publish:before {

    content:"\e692"

}

.wi-clock-sign:before {

    content:"\e693"

}

.wi-code:before {

    content:"\e694"

}

.wi-help:before {

    content:"\e695"

}

.wi-store:before {

    content:"\e696"

}

.wi-goods-add:before {

    content:"\e697"

}

.wi-statistical:before {

    content:"\e698"

}

.wi-account:before {

    content:"\e699"

}

.wi-sale-record:before {

    content:"\e69a"

}

.wi-pay-setting:before {

    content:"\e69b"

}

.wi-co-founder:before {

    content:"\e69c"

}

.wi-m-home:before {

    content:"\e69d"

}

.wi-m-user:before {

    content:"\e69e"

}

.wi-filter:before {

    content:"\e69f"

}

.wi-angle-up-circle:before {

    content:"\e6a0"

}

.wi-customer-service:before {

    content:"\e6a1"

}

.wi-angle-down-circle:before {

    content:"\e6a2"

}

.wi-categories:before {

    content:"\e6a3"

}

.wi-more:before {

    content:"\e6a4"

}

.wi-white-collar:before {

    content:"\e6a5"

}

.wi-data-synchro:before {

    content:"\e6a6"

}

.wi-wxapp-webpack:before {

    content:"\e6a7"

}

.wi-wxapp-download:before {

    content:"\e6a8"

}

.wi-advert:before {

    content:"\e6a9"

}

.wi-sad:before {

    content:"\e6aa"

}

.wi-wxapp:before {

    content:"\e6ab"

}

.wi-wxapp-apply:before {

    content:"\e6ac"

}

.wi-wx-apply:before {

    content:"\e6ad"

}

.wi-wx-template:before {

    content:"\e6ae"

}

.wi-user-group:before {

    content:"\e6af"

}

.wi-tag:before {

    content:"\e6b0"

}

.wi-step-select:before {

    content:"\e6b1"

}

.wi-step-down:before {

    content:"\e6b2"

}

.wi-step-bottom:before {

    content:"\e6b3"

}

.wi-site:before {

    content:"\e6b4"

}

.wi-share:before {

    content:"\e6b5"

}

.wi-step-project:before {

    content:"\e6b6"

}

.wi-send:before {

    content:"\e6b7"

}

.wi-s-setting:before {

    content:"\e6b8"

}

.wi-service:before {

    content:"\e6b9"

}

.wi-select-tem:before {

    content:"\e6ba"

}

.wi-s-search:before {

    content:"\e6bb"

}

.wi-select-diy:before {

    content:"\e6bc"

}

.wi-select-app:before {

    content:"\e6bd"

}

.wi-right-circle:before {

    content:"\e6be"

}

.wi-s-radio-selected:before {

    content:"\e6bf"

}

.wi-right-sign:before {

    content:"\e6c0"

}

.wi-right:before {

    content:"\e6c1"

}

.wi-s-radio:before {

    content:"\e6c2"

}

.wi-qq:before {

    content:"\e6c3"

}

.wi-photograph:before {

    content:"\e6c4"

}

.wi-pc-apply:before {

    content:"\e6c5"

}

.wi-php:before {

    content:"\e6c6"

}

.wi-phone:before {

    content:"\e6c7"

}

.wi-pc:before {

    content:"\e6c8"

}

.wi-pc-support:before {

    content:"\e6c9"

}

.wi-s-message:before {

    content:"\e6ca"

}

.wi-ip:before {

    content:"\e6cb"

}

.wi-info-sign:before {

    content:"\e6cc"

}

.wi-info-circle:before {

    content:"\e6cd"

}

.wi-we7:before {

    content:"\e6ce"

}

.wi-link:before {

    content:"\e6cf"

}

.wi-index:before {

    content:"\e6d0"

}

.wi-s-img:before {

    content:"\e6d1"

}

.wi-s-home:before {

    content:"\e6d2"

}

.wi-guarantee:before {

    content:"\e6d3"

}

.wi-git:before {

    content:"\e6d4"

}

.wi-frozen:before {

    content:"\e6d5"

}

.wi-eye:before {

    content:"\e6d6"

}

.wi-explain-sign:before {

    content:"\e6d7"

}

.wi-forum:before {

    content:"\e6d8"

}

.wi-explain:before {

    content:"\e6d9"

}

.wi-error-sign:before {

    content:"\e6da"

}

.wi-error:before {

    content:"\e6db"

}

.wi-up-sign:before {

    content:"\e6dc"

}

.wi-error-cricle:before {

    content:"\e6dd"

}

.wi-download:before {

    content:"\e6de"

}

.wi-delete:before {

    content:"\e6df"

}

.wi-developer:before {

    content:"\e6e0"

}

.wi-diy:before {

    content:"\e6e1"

}

.wi-copy:before {

    content:"\e6e2"

}

.wi-telephone:before {

    content:"\e6e3"

}

.wi-check:before {

    content:"\e6e4"

}

.wi-collect:before {

    content:"\e6e5"

}

.wi-bug:before {

    content:"\e6e6"

}

.wi-s-card:before {

    content:"\e6e7"

}

.wi-check-select:before {

    content:"\e6e8"

}

.wi-bom:before {

    content:"\e6e9"

}

.wi-go-sign:before {

    content:"\e6ea"

}

.wi-back-sign:before {

    content:"\e6eb"

}

.wi-back-circle:before {

    content:"\e6ec"

}

.wi-go-circle:before {

    content:"\e6ed"

}

.wi-avail:before {

    content:"\e6ee"

}

.wi-api:before {

    content:"\e6ef"

}

.wi-application:before {

    content:"\e6f0"

}

.wi-angle-left:before {

    content:"\e6f1"

}

.wi-angle-right:before {

    content:"\e6f2"

}

.wi-ad:before {

    content:"\e6f3"

}

.wi-management-platform:before {

    content:"\e6f4"

}

.wi-file-finished:before {

    content:"\e6f5"

}

.wi-divergence:before {

    content:"\e6f6"

}

.wi-one:before {

    content:"\e6f7"

}

.wi-mobile-device:before {

    content:"\e6f8"

}

.wi-stick-sign:before {

    content:"\e6f9"

}

.wi-four:before {

    content:"\e6fa"

}

.wi-three:before {

    content:"\e6fb"

}

.wi-two:before {

    content:"\e6fc"

}

.wi-down-sign:before {

    content:"\e6fd"

}

.wi-pc-circle:before {

    content:"\e6fe"

}

.wi-app:before {

    content:"\e6ff"

}

.wi-s-view:before {

    content:"\e700"

}

.wi-app-apply:before {

    content:"\e701"

}

.wi-home-apply:before {

    content:"\e702"

}

.wi-desktop:before {

    content:"\e703"

}

.wi-warning-complaint:before {

    content:"\e704"

}

.wi-info-list:before {

    content:"\e705"

}

.wi-thirdlogin:before {

    content:"\e706"

}

.wi-oauth:before {

    content:"\e707"

}

.wi-job:before {

    content:"\e708"

}

.wi-sms:before {

    content:"\e709"

}

.wi-bind-domain:before {

    content:"\e70a"

}

.wi-sms-sign:before {

    content:"\e70b"

}

.modal.uploader-modal {

    z-index: 2060 !important;

}

.btn-group .btn+.btn{

    border-left: 0;

    margin-left: 0;

}

.dropdown-toggle span.sr-only{

    position: absolute;

    width: 1px;

    height: 1px;

    padding: 0;

    margin: -1px;

    overflow: hidden;

    clip: rect(0,0,0,0);

    border: 0;

}

.btn-uploader .we7-margin-horizontal-sm{

    display: none;

}

.btn-uploader .btn.btn-danger{

    margin-right: 10px;

}

