	<div class="form-group">
		<label class="col-lg control-label">是否开启团购</label>
		<div class="col-sm-9 col-xs-12">
			<label class='radio radio-inline'>
				<input type='radio' value='1' name='data[opengroups]'  {if $data['opengroups']==1}checked{/if} /> 关闭
			</label>
			<label class='radio radio-inline'>
				<input type='radio' value='0' name='data[opengroups]' {if $data['opengroups']==0}checked{/if} /> 开启
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg control-label">是否显示统一描述</label>
		<div class="col-sm-9 col-xs-12">
			<label class='radio radio-inline'>
				<input type='radio' value='1' name='data[description]'  {if $data['description']==1}checked{/if} /> 显示
			</label>
			<label class='radio radio-inline'>
				<input type='radio' value='0' name='data[description]' {if $data['description']==0}checked{/if} /> 关闭
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg control-label">统一描述</label>
		<div class="col-sm-9 col-xs-12">
			{:tpl_ueditor('groups_description',$data['groups_description'],array('height'=>'200'))}
		</div>
	</div>