{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">基础设置</span> </div>
<div class="page-content">
    <div class="tabs-container">
        <form id="setform" action="" method="post" class="form-horizontal form-validate">
        <div class="tab-content ">
            
        <div class="form-group">
            <label class="col-lg control-label">代缴费手续费</label>
            <div class="col-sm-9 col-xs-12">
                <div class="input-group fixsingle-input-group">
                    <input type="text" name="data[commissioncharge]" onkeyup="value=value.replace(/[^\d]/g,'')" class="form-control" value="{$data['commissioncharge']}" />
                    <div class="input-group-addon">%</div>
                </div>
                <span class='help-block'>不填写默认不收取手续费</span>
            </div>
        </div>       
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit"  value="提交" class="btn btn-primary" />
            </div>
        </div>
        </form>
    </div>
</div>
<script language='javascript'>
    require(['bootstrap'], function () {
        $('#myTab a').click(function (e) {
            $('#tab').val($(this).attr('href'));
            e.preventDefault();
            $(this).tab('show');
        })
    });
</script>
{include file='_footer'}