{include file='_header'}

<div class="page-header">
    当前位置：<span class="text-primary"> 多商户管理 </span>
</div>
<div class="page-content">
<form action="" method="get" class="form-horizontal" role="form" id="form1">
    <div class="page-toolbar m-b-sm m-t-sm">
        <div class="col-sm-3">
            <span class='pull-left'>
                <a class='btn btn-primary btn-sm' href="{:url('admin/merch/add')}"><i class="fa fa-plus"></i> 添加商户</a>
            </span>
        </div>
        <div class="col-sm-8 pull-right">
            <div class="input-group">
                <div class="input-group-select">
                    <select name='groupid' class='form-control  input-sm select-md' style="width:100px;"  >
                        <option value=''>分组</option>
                        {foreach name='groups' item='g'}
                        <option value="{$g['id']}" {if $groupid==$g['id']}selected{/if}>{$g['groupname']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="input-group-select" style="display: none;">
                    <select name='status' class='form-control  input-sm select-md' style="width:100px;"  >
                        <option value=''>审核</option>
                        <option value='0' {if $status=='0'}selected{/if}>未审核</option>
                        <option value='1' {if $status=='1'}selected{/if}>已审核</option>
                        <option value='-1' {if $status=='-1'}selected{/if}>审核未通过</option>
                    </select>
                </div>
                <input type="text" class="form-control input-sm"  name="keyword" value="{$keyword}" placeholder="商户名称/联系人/手机号"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"> 搜索</button>
                </span>
            </div>

        </div>
    </div>
</form>
{if empty(count($list))}
<div class='panel panel-default'>
    <div class='panel-body' style='text-align: center;padding:30px;'>
        暂时没有任何商户!
    </div>
</div>
{else}
<div class="page-table-header">
    <input type="checkbox">
    <div class="btn-group">
        <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/merch/status',array('status'=>1))}"  data-confirm='确认要启用账户吗?'>
            <i class="icow icow-qiyong"></i>启用
        </a>
        <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/merch/status',array('status'=>0))}" data-confirm='确认要禁用账户吗?'>
            <i class="icow icow-jinyong"></i>禁用
        </a>
        <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/merch/delete')}">
            <i class='icow icow-shanchu1'></i> 删除
        </a>
    </div>
</div>
<table class="table table-hover table-responsive">
    <thead class="navbar-inner" >
    <tr>
        <th style="width:25px;"></th>
        <th >商户名称</th>
        <th>主营项目</th>
        <th>联系人</th>
        <th>入驻时间</th>
        <th>到期时间</th>
        <th>状态</th>
        <th style='width:65px;'>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach name='list' item='row'}
    <tr rel="pop" data-title="ID: {$row['id']} ">

        <td>
            <input type='checkbox'   value="{$row['id']}"/>
        </td>
        <td>
            {$row['merchname']}<br/>
            {if $row['status']>0}
            <label class="label label-primary">{if empty($row['groupname'])}无分组{else}{$row['groupname']}{/if}</label><br/>
            {/if}
        </td>
        <td>{$row['salecate']}</td>
        <td>{$row['realname']}<br/>{$row['mobile']}</td>
        <td>{if empty($row['jointime'])}-{else}{:date('Y-m-d',$row['jointime'])}<br/>{:date('H:i',$row['jointime'])}{/if}</td>
        <td>{if empty($row['accounttime'])}-{else}{:date('Y-m-d',$row['accounttime'])}{/if}</td>
        <td>
            {if $row['status']==1}
            <label class="label label-primary">已入驻</label>
            {elseif $row['status']==0}
            <label class="label label-default">待入驻</label>
            {elseif $row['status']==2}
            <label class="label label-danger">暂停中</label>
            {/if}
        </td>
        <td  style="overflow:visible;">
            <a href="{:url('admin/merch/edit', array('id' => $row['id']))}" class="btn btn-default btn-sm btn-op btn-operation" >
                  <span data-toggle="tooltip" data-placement="top" title="" data-original-title="修改">
                        <i class='icow icow-bianji2'></i>
                   </span>
            </a>
            <a data-toggle='ajaxRemove' href="{:url('admin/merch/delete', array('id' => $row['id']))}"class="btn btn-default btn-sm btn-op btn-operation" data-confirm='确认要删除此商户吗?'>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                     <i class='icow icow-shanchu1'></i>
                </span>
            </a>
        </td>
    </tr>
    {/foreach}
    </tbody>
    <tfoot>
        <tr>
            <td><input type="checkbox"></td>
            <td colspan="2">
                <div class="btn-group">
                    <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/merch/status',array('status'=>1))}"  data-confirm='确认要启用账户吗?'>
                        <i class="icow icow-qiyong"></i>启用
                    </a>
                    <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/merch/status',array('status'=>0))}" data-confirm='确认要禁用账户吗?'>
                        <i class="icow icow-jinyong"></i> 禁用
                    </a>
                    <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/merch/delete')}">
                        <i class='icow icow-shanchu1'></i> 删除
                    </a>
                </div>
            </td>
            <td colspan="5" class="text-right">
                {$pager}
            </td>
        </tr>
    </tfoot>
</table>
{/if}
</div>

{include file='_footer'}