{include file='_header'}
<div class="page-header">
    当前位置：<span class="text-primary">手机端底部版权</span>
</div>
    <div class="page-content">
        <form id="dataform" action="" method="post" class="form-horizontal form-validate">
            <div class="form-group">
                <label class="col-lg control-label">背景颜色</label>
                <div class="col-sm-9">
                    {:tpl_form_field_color('bgcolor',$copyrights['bgcolor'] ? $copyrights['bgcolor'] : '#fff')}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg control-label">底部版权</label>
                <div class="col-sm-9">
                    {:tpl_ueditor('copyright',$copyrights['copyright'])}
                </div>
            </div>
            <div class="form-group">
               <label class="col-lg control-label">协议</label>
               <div class="col-sm-9">
                   <input type="text" class="form-control" name="agreement" value="{$copyrights['agreement']}" />
                   <span class="help-block">请填写完整的网页链接，如“http://www.google.com/”</span>
               </div>
            </div>
            <div class="form-group">
                <label class="col-lg control-label"></label>
                <div class="col-sm-9">
                    <input id="btn_submit" type="submit" value="保存" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>

{include file='_footer'}