{include file='_header'}
<div class="page-heading"> <h2>商品销售排行</h2> <span>查询商品销售量和销售额，默认排序为销售额从高到低 总数: <span style='color:red'>{$total}</span></div>
<form action="" method="get" class="form-horizontal">
	<div class="page-toolbar row m-b-sm m-t-sm">
		<div class="col-sm-5">
			<div class="btn-group btn-group-sm" style='float:left'>
				<button class="btn btn-default btn-sm"  type="button" data-toggle='refresh'><i class='fa fa-refresh'></i></button>
			</div>  
            {:tpl_daterange('datetime', array('sm'=>true,'placeholder'=>'下单时间'),true);}
			 			
		</div>
		<div class="col-sm-6 pull-right">
			<select name='orderby'  class='form-control  input-sm select-md'   style="width:110px;">
				<option value='' {if $orderby==''}selected{/if}>排序</option>
				<option value='0' {if $orderby=='money'}selected{/if}>按销售额</option>
				<option value='1' {if $orderby=='count'}selected{/if}>按销售量</option>
			</select>
			<div class="input-group">				 
				<input type="text" class="form-control input-sm"  name="title" value="{$title}" placeholder="商品名称"/> 
				<span class="input-group-btn">							
					<button class="btn btn-sm btn-primary btn-sm" type="submit"> 搜索</button>
                    <button type="submit" name="export" value="1" class="btn btn-success  btn-sm">导出 Excel</button>
				</span>
			</div>
		</div>
	</div>
</form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style='width:80px;'>排行</th>
                    <th>商品名称</th>
                    <th>销售量</th>
                    <th>销售额</th>
                </tr>
            </thead>
            <tbody>
                {foreach name='list' key='key' item='row'}
                <tr>
                    <td>{if  ($pindex -1)* $psize + $key + 1<=3}
                             <labe class='label label-danger' style='padding:8px;'>&nbsp;<?php echo ($page -1) * $psize + $key + 1; ?>&nbsp;</labe>
                            {else}
                             <labe class='label label-default'  style='padding:8px;'>&nbsp;<?php echo ($page -1) * $psize + $key + 1; ?>&nbsp;</labe>
                           {/if}
                        </td>
                    <td>
                        <img src="{$row['thumb']}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;">
                        {$row['title']}</td>
                    <td>{$row['count']}</td>
                    <td>{$row['money']}</td>
                </tr>
                {/foreach}
        </table>
        {$pager}

{include file='_footer'}
<!--913702023503242914-->