{include file='_header'}

<div class="page-heading"> <h2>商品销售明细</h2> <span>查询商品销售量和销售额明细 总数: <span style='color:red'>{$total}</span></div>
<form action="" method="get" class="form-horizontal">
	<div class="page-toolbar row m-b-sm m-t-sm">
		<div class="col-sm-5">
    		<div class="btn-group btn-group-sm" style='float:left'>
    			<button class="btn btn-default btn-sm"  type="button" data-toggle='refresh'><i class='fa fa-refresh'></i></button>
    		</div>  
            {:tpl_daterange('datetime', array('sm'=>true,'placeholder'=>'下单时间'),true);}			 			
		</div>	
		<div class="col-sm-6 pull-right">
			<select name='orderby'  class='form-control  input-sm select-md'   style="width:120px;"  >
				<option value='' {if $orderby==''}selected{/if}>排序</option>
				<option value='0' {if $orderby=='0'}selected{/if}>按销售额</option>
				<option value='1' {if $orderby=='1'}selected{/if}>按销售量</option>
			</select>
			<div class="input-group">				 
				<input type="text" class="form-control input-sm"  name="title" value="{$_GPC['title']}" placeholder="商品名称"/> 
				<span class="input-group-btn">							
					<button class="btn btn-sm btn-primary btn-sm" type="submit"> 搜索</button>
                    <button type="submit" name="export" value="1" class="btn btn-success  btn-sm">导出 Excel</button>
				</span>
			</div>

		</div>
	</div>

</form>
 
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style="width:190px;">订单号</th>
                    <th style="width:220px;">商品名称</th>
                    <th>商品编号</th>
                    <th>数量</th>
                    <th>价格</th>
                    <th>成交时间</th>
                </tr>
            </thead>
            <tbody>
                {foreach name='list' item='item'}
                <tr>
                    <td>{$item['ordersn']}</td>
                    <td><img src="{$item['thumb']}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;">
                        {$item['title']}
                        {if !empty($item['optiontitle'])}
                            <br>规格:{$item['optiontitle']}
                        {/if}
                    </td>
					 <td>{$item['goodssn']}</td>
                    <td>{$item['total']}</td>
                    <td>{$item['price']}</td>
                    <td>{:date('Y-m-d',$item['createtime'])}<br/>{:date('H:i:s',$item['createtime'])}</td>
                </tr>
                {/foreach}
        </table>
        {$pager}
 
{include file='_footer'}
<!--913702023503242914-->