<div class='menu-header'>销售统计</div>
<ul>
	<li {if $action == 'sale'}class="active"{/if}><a href="{:url('merch/statistics/sale')}">销售统计</a></li>
</ul>
<div class='menu-header'>商品统计</div>
<ul>
 	<li {if $action == 'goods'}class="active"{/if}><a href="{:url('merch/statistics/goods')}">销售明细</a></li>
	<li {if $action == 'goods_rank'}class="active"{/if}><a href="{:url('merch/statistics/goods_rank')}">销售排行</a></li>
	<li {if $action == 'goods_trans'}class="active"{/if}><a href="{:url('merch/statistics/goods_trans')}">销售转化率</a></li>
</ul>