{include file='_header'}
<div class="page-heading">
    <span class='pull-right'>
        <a class='btn btn-primary btn-sm' href="{:url('merch/user/useradd')}"><i class='fa fa-plus'></i> 添加管理员</a>
    </span>
    <h2>管理员管理</h2> </div>
<form action="" method="get" class="form-horizontal form-search" role="form">
    <div class="page-toolbar row m-b-sm m-t-sm">
        <div class="col-sm-4">
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm"  type="button" data-toggle='refresh'><i class='fa fa-refresh'></i></button>
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch' data-href="{:url('merch/user/userstatus',array('status'=>1))}"><i class='fa fa-circle'></i> 启用</button>
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch'  data-href="{:url('merch/user/userstatus',array('status'=>0))}"><i class='fa fa-circle-o'></i> 禁用</button>  
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('merch/user/userdelete')}"><i class='fa fa-trash'></i> 删除</button>
            </div>
        </div>  
        <div class="col-sm-6 pull-right">
            <select name="status" class='form-control input-sm select-sm'>
                <option value="" {if $status == ''} selected{/if}>状态</option>
                <option value="1" {if $status== '1'} selected{/if}>显示</option>
                <option value="0" {if $status == '0'} selected{/if}>隐藏</option>
            </select>   
            <div class="input-group">                
                <input type="text" class="input-sm form-control" name='keyword' value="{$keyword}" placeholder="请输入关键词"> <span class="input-group-btn">
                    <button class="btn btn-sm btn-primary" type="submit"> 搜索</button> </span>
            </div>
        </div>
    </div>
</form>

<form action="" method="post">
    {if count($list)>0}
    <table class="table table-hove table-responsive">
        <thead class="navbar-inner">
            <tr>
                <th style="width:25px;"><input type='checkbox' /></th>
                <th>管理员账号</th>
                <th >最后登录时间</th>
                <th style='width:100px;'>最后登录IP</th>
                <th style='width:60px;'>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach name='list' item='item'}
            <tr>
                <td>
                    <input type='checkbox'   value="{$row['id']}"/>
                </td>
                <td>{$item['username']}</td>
                <td>{:date('Y-m-d H:i:s',$row['lastvisit'])}</td>
                <td>{$row['lastip']}</td>
                <td>
                    <span class='label {if $item['status']==1}label-success{else}label-default{/if}' 
                          data-toggle='ajaxSwitch' 
                          data-switch-value='{$item['status']}'
                          data-switch-value0='0|禁用|label label-default|{:url('merch/user/userstatus',array('status'=>1,'id'=>$item['id']))}'  
                          data-switch-value1='1|启用|label label-success|{:url('merch/user/userstatus',array('status'=>0,'id'=>$item['id']))}'  
                      >
                    {if $item['status']==1}启用{else}禁用{/if}</span>
                </td>
                <td style="text-align:left;">
                    <a href="{:url('merch/user/useredit', array('id' => $item['id']))}" class="btn btn-default btn-sm" >
                        <i class='fa fa-edit'></i> 修改
                    </a>
                    <a data-toggle='ajaxRemove' href="{:url('merch/user/userdelete', array('id' => $item['id']))}"class="btn btn-default btn-sm" data-confirm='确认要删除此管理员吗?'><i class="fa fa-trash"></i> 删除</a>
                </td>
            </tr> 
            {/foreach}
            <tr>
                <td colspan='6'>
                    <div class='pagers' style='float:right;'>
                        {$pager}            
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {else}
    <div class='panel panel-default'>
        <div class='panel-body' style='text-align: center;padding:30px;'>
            暂时没有任何管理员!
        </div>
    </div>
    {/if}
</form>
{include file='_footer'}