{include file='_header'}

<div class="page-header">
    当前位置：<span class="text-primary"> 代售商品管理 </span>
</div>
<div class="page-content">
<form action="" method="get" class="form-horizontal" role="form" id="form1">
    <div class="page-toolbar m-b-sm m-t-sm">
        <div class="col-sm-3" style="display: none;">
            <span class='pull-left'>
                <a class='btn btn-primary btn-sm' href="{:url('admin/livemall/agentadd')}"><i class="fa fa-plus"></i> 添加代理·</a>
            </span>
        </div>
        <div class="col-sm-8 pull-right">
            <div class="input-group">
                <div class="input-group-select">
                    <select name='groupid' class='form-control input-sm select-md' style="width:100px;"  >
                        <option value=''>分组</option>
                        {foreach name='groups' item='g'}
                        <option value="{$g['id']}" {if $groupid==$g['id']}selected{/if}>{$g['groupname']}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="input-group-select" style="display: none;">
                    <select name='status' class='form-control  input-sm select-md' style="width:100px;"  >
                        <option value=''>审核</option>
                        <option value='0' {if $status=='0'}selected{/if}>未审核</option>
                        <option value='1' {if $status=='1'}selected{/if}>已审核</option>
                        <option value='-1' {if $status=='-1'}selected{/if}>审核未通过</option>
                    </select>
                </div>
                <input type="text" class="form-control input-sm"  name="keyword" value="{$keyword}" placeholder="商品名称/主播昵称/手机号"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"> 搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>
{if empty(count($list))}
<div class='panel panel-default'>
    <div class='panel-body' style='text-align: center;padding:30px;'>
        暂时没有任何代理!
    </div>
</div>
{else}
<div class="page-table-header">
    <input type="checkbox">
    <div class="btn-group">
        <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/livemall/agentstatus',array('status'=>1))}"  data-confirm='确认要启用账户吗?'>
            <i class="icow icow-qiyong"></i>启用
        </a>
        <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/livemall/agentstatus',array('status'=>0))}" data-confirm='确认要禁用账户吗?'>
            <i class="icow icow-jinyong"></i>禁用
        </a>
        <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/livemall/agentdelete')}">
            <i class='icow icow-shanchu1'></i> 删除
        </a>
    </div>
</div>
<table class="table table-hover table-responsive">
    <thead class="navbar-inner" >
    <tr>
        <th style="width:25px;"></th>
        <th>商品</th>
        <th style="">&nbsp;</th>
        <th>推荐语</th>
        <th>主播</th>
        <th>代理时间</th>
        <th>销量</th>
        <th>状态</th>
        <th style='width:65px;'>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach name='list' item='row'}
    <tr rel="pop" data-title="ID: {$row['id']} ">
        <td>
            <input type='checkbox'   value="{$row['id']}"/>
        </td>
        <td>
            <a href="{:url('admin/goods/edit', array('id' => $row['goodsid'],'goodsfrom'=>$goodsfrom))}">
                <img src="{$row['thumb']}" style="width:72px;height:72px;padding:1px;border:1px solid #efefef;margin: 7px 0" onerror="this.src='/public/static/images/nopic.png'" />
            </a>
        </td>
        <td class='full' >
            <span>
                <span style="display: block;width: 100%;">
                    <a href='javascript:;' style="overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">
                        {$row['title']}
                    </a>
                </span>
            </span>
        </td>
        <td>{$row['slogans']}</td>
        <td style="overflow: visible">
            <div rel="pop" style="display: flex"  data-content=" <span>ID: </span>{$row['mid']} </br>
            <span>真实姓名：</span> {if empty($row['realname'])}未填写{else}{$row['realname']}{/if}
            <br/>
            <span>手机号：</span>{if !empty($row['mobileverify'])}{$row['mobile']}{else}未绑定{/if} <br/>
            <span>状态:</span>  {if $row['isblack']==1}黑名单{else}正常{/if} ">
               <img class="img-40" src="{$row['avatar']}" style='border-radius:50%;border:1px solid #efefef;' onerror="this.src='/public/static/images/noface.png'" />
               <span style="display: flex;flex-direction: column;justify-content: center;align-items: flex-start;padding-left: 5px">
                   <span class="nickname">
                       {if empty($row['nickname'])}未更新{else}{$row['nickname']}{/if}
                   </span>
                   {if $row['isblack']==1}
                        <span class="text-danger">黑名单<i class="icow icow-heimingdan1"style="color: #db2228;margin-left: 2px;font-size: 13px;"></i></span>
                   {/if}
               </span>
            </div>
        </td>
        <td>{if empty($row['createtime'])}-{else}{:date('Y-m-d',$row['createtime'])}<br/>{:date('H:i',$row['createtime'])}{/if}</td>
        <td>{$row['salers']}</td>
        <td>
            {if $row['status']==1}
            <label class="label label-primary">正在代售</label>
            {elseif $row['status']==0}
            <label class="label label-default">待允许</label>
            {elseif $row['status']==2}
            <label class="label label-danger">暂停中</label>
            {/if}
        </td>
        <td  style="overflow:visible;">
            <a href="{:url('admin/livemall/agentedit', array('id' => $row['id']))}" class="btn btn-default btn-sm btn-op btn-operation" >
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="修改">
                    <i class='icow icow-bianji2'></i>
                </span>
            </a>
            <a data-toggle='ajaxRemove' href="{:url('admin/livemall/agentdelete', array('id' => $row['id']))}"class="btn btn-default btn-sm btn-op btn-operation" data-confirm='确认要删除此代理吗?'>
                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                    <i class='icow icow-shanchu1'></i>
                </span>
            </a>
        </td>
    </tr>
    {/foreach}
    </tbody>
    <tfoot>
        <tr>
            <td><input type="checkbox"></td>
            <td colspan="3">
                <div class="btn-group">
                    <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/livemall/agentstatus',array('status'=>1))}"  data-confirm='确认要启用账户吗?'>
                        <i class="icow icow-qiyong"></i>启用
                    </a>
                    <a class='btn btn-default btn-sm btn-operation'  data-toggle='batch' data-href="{:url('admin/livemall/agentstatus',array('status'=>0))}" data-confirm='确认要禁用账户吗?'>
                        <i class="icow icow-jinyong"></i> 禁用
                    </a>
                    <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/livemall/agentdelete')}">
                        <i class='icow icow-shanchu1'></i> 删除
                    </a>
                </div>
            </td>
            <td colspan="5" class="text-right">
                {$pager}
            </td>
        </tr>
    </tfoot>
</table>
{/if}
</div>

{include file='_footer'}