{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">基础设置</span></div>
<div class="page-content">
  <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >
        <div class="form-group">
            <label class="col-lg control-label">是否开启拍卖</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio radio-inline'>
                    <input type='radio' value='1' name='data[openauction]'  {if $data['openauction']==1}checked{/if} /> 关闭
                </label>
                <label class='radio radio-inline'>
                    <input type='radio' value='0' name='data[openauction]' {if $data['openauction']==0}checked{/if} /> 开启
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">拍卖说明</label>
            <div class="col-sm-9 col-xs-12">
                {:tpl_ueditor('data[explain]',$data['explain'],array('height'=>350))}
            </div>
        </div>
        <div class="form-group">
          <label class="col-lg control-label"></label>
          <div class="col-sm-9 col-xs-12">
              <input type="submit" value="提交" class="btn btn-primary"  />
          </div>
        </div>
  </form>
</div>
{include file='_footer'}     