<div class="form-group">
	<label class="col-lg control-label">是否开启星店</label>
	<div class="col-sm-9 col-xs-12">
		<label class='radio radio-inline'>
			<input type='radio' value='1' name='data[openlivemall]'  {if $data['openlivemall']==1}checked{/if} /> 关闭
		</label>
		<label class='radio radio-inline'>
			<input type='radio' value='0' name='data[openlivemall]' {if $data['openlivemall']==0}checked{/if} /> 开启
		</label>
	</div>
</div>
<div class="form-group">
    <label class="col-lg control-label">主播自购</label>
    <div class="col-sm-9 col-xs-12">
		<label class="radio-inline"><input type="radio"  name="data[selfbuy]" value="1" {if $data['selfbuy'] ==1} checked="checked"{/if} /> 开启</label>
		<label class="radio-inline"><input type="radio"  name="data[selfbuy]" value="0" {if $data['selfbuy'] ==0} checked="checked"{/if} /> 关闭</label>
		<span class='help-block'>开启主播自购，订单产生佣金。关闭则主播购买自己代理商品不会产生佣金</span>
    </div>
</div>
<div class="form-group">
	<label class="col-lg control-label">是否显示统一描述</label>
	<div class="col-sm-9 col-xs-12">
		<label class='radio radio-inline'>
			<input type='radio' value='1' name='data[description]'  {if $data['description']==1}checked{/if} /> 显示
		</label>
		<label class='radio radio-inline'>
			<input type='radio' value='0' name='data[description]' {if $data['description']==0}checked{/if} /> 关闭
		</label>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label">统一描述</label>
	<div class="col-sm-9 col-xs-12">
		{:tpl_ueditor('livemall_description',$data['livemall_description'],array('height'=>'200'))}
	</div>
</div>