<style type="text/css">
.multi-img-details .multi-item{max-height:none;max-width: none;position: relative;float: none;margin-right: 18px;height:60px;width:100%;padding:5px 0;}
.multi-img-details .multi-item img{width:50px;height:50px;float:left;margin-right:5px;}
.multi-img-details .img-nickname{width:300px;position: inherit;float:left;background:none;color:#666;text-align: left;}
</style>
<div class="form-group">
	<label class="col-lg control-label">完成订单X天后可结算印票</label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group fixsingle-input-group">
			<input type="text" name="data[refundday]" class="form-control" value="{$data['refundday']}" />
			<div class="input-group-addon">天</div>
		</div>
		<span class='help-block'>当订单完成后的n天后，印票才能申请提现,设置0或空，订单完成就可以结算
			<br>建议设置的结算天数大于【设置-交易设置-退款申请】中设置的天数，否则会出现印票结算后商品被维权的情况</span>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label">不允许代售的商品</label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group" style="width: 500px;">
			{:tpl_selector('goodsid',array(
				'preview'=>true,
				'readonly'=>true,
				'multi'=>1,
				'value'=>$item['title'],
				'url'=>url('admin/goods/query'),
				'items'=>$goods,
				'buttontext'=>'选择商品',
				'placeholder'=>'请选择商品')
				)
			}
		</div>
		<span class='help-block'>当前列表中存在的商品不允许代售</span>
	</div>
</div>