<style type="text/css">
.tabs-container .panel-body{border:none;}
.kf_span{height:34px;float:left;line-height: 34px;padding:0 5px;}
</style>
<div class='form-group-title'>代售数量</div>
<div class="form-group">
	<label class="col-lg control-label">每个主播代售商品限定x个</label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group fixsingle-input-group">
			<input type="text" name="data[salegoodcount]" id="salegoodcount" class="form-control"  value="{$data['salegoodcount']}" />
			<div class="input-group-addon">个</div>
		</div>
		<span class='help-block'>主播代售商品数量。</span>
	</div>
</div>
<div class='form-group-title'>佣金</div>
<div class="form-group ">
	<label class="col-lg control-label">代售佣金比列</label>
	<div class="col-sm-9 col-xs-12">
		<div class="input-group fixsingle-input-group">
			<input type="text" name="data[defaultcommissionrate]" class="form-control" value="{$data['defaultcommissionrate']}"/>
			<div class="input-group-addon">%</div>
		</div>
		<span class='help-block'>此比例为默认比例，如需单独设置比列可针对单独主播设置</span>
	</div>
</div>
<div class="form-group">
    <label class="col-lg control-label">佣金计算方式</label>
    <div class="col-sm-9 col-xs-12">
        <label class="radio-inline"><input type="radio"  name="data[commissiontype]" value="0" {if $data['commissiontype'] ==0} checked="checked"{/if} /> 默认方式</label>
        <label class="radio-inline"><input type="radio"  name="data[commissiontype]" value="1" {if $data['commissiontype'] ==1} checked="checked"{/if} /> 实际支付方式</label>
        <span class="help-block">默认方式: 除运费和会员折扣(或促销折扣)外其他所有费用全部计算佣金<br>实际支付方式: 只计算实际支付和余额抵扣部分的佣金(包括余额支付)</span>
    </div>
</div>
<script language="javascript">
	$(function () {
		$(":checkbox[name='data[creditdeduct]']").click(function () {
			if ($(this).prop('checked')) {
				$("#creditdeduct").show();
			} else {
				$("#creditdeduct").hide();
			}
		})
		$(":checkbox[name='data[discount]']").click(function () {
			if ($(this).prop('checked')) {
				$("#discount").show();
			} else {
				$("#discount").hide();
			}
		})
		$(":checkbox[name='data[moneydeduct]']").click(function () {
			if ($(this).prop('checked')) {
				$("#moneydeduct").show();
			} else {
				$("#moneydeduct").hide();
			}
		})
		$("#refund").keyup(function() {
			var val = parseInt(Math.abs($(this).val()));
			if(val >= 1){
				return true;
			} else {
				val = 0;
			}
			$(this).val(val);
		})
	})
</script>