{include file='_header'}
<script type="text/javascript" src="/public/static/js/dist/area/cascade.js"></script>
<style>
    .checkbox-inline{
        display: block;
    }    .btns a i{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: #f95959;
    }
    .btn-color {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        margin: 2px;
        padding: 0;
    }

</style>
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}门店
        <small>{if !empty($item['id'])}修改【{$item['storename']}】{/if}</small>
    </span>
</div>

<div class="page-content">
    <div class="page-sub-toolbar">
        <a class="btn btn-primary btn-sm" href="{:url('admin/citywide/storeadd')}">添加新门店</a>
    </div>
<form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$item['id']}"/>
    <div class="form-group">
        <label class="col-lg control-label must">门店名称</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="storename" class="form-control" value="{$item['storename']}" data-rule-required="true"/>
        </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label must">排序</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="displayorder" required="required" class="form-control" value="{$item['displayorder']}"/>
                <span class='help-block'>数字越大，排名越靠前</span>
            </div>
        </div>
    <div class="form-group">
            <label class="col-lg control-label must">门店类型</label>
            <div class="col-sm-9 col-xs-12">
                <select class="form-control tpl-category-parent select2" id="cate" name="cate">
                    {foreach name='cate' item='community_item'}
                    <option value="{$community_item['id']}" {if $item['cate'] == $community_item['id']}selected="true"{/if} 
                        >{$community_item['catename']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    <div class="form-group">
        <label class="col-lg control-label">门店LOGO</label>
        <div class="col-sm-9 col-xs-12">
            {:tpl_form_field_image2('logo',$item['logo'])}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg control-label must">幻灯片</label>
           <div class="col-sm-9 col-xs-12 gimgs">
            {:tpl_form_field_multi_image2('banner',$banner)}
            <span class="help-block image-block">第一张缩略图为长方形，建议尺寸750*310，其他为正方型图片，尺寸建议宽度为640*640，并保持图片大小一致</span>
            <span class="help-block">您可以拖动图片改变其显示顺序 </span>
           </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label">省市区:</label>
            <div class="col-sm-9 col-xs-12">
                <p>
                    <select id="sel-provance" name="sel-provance" onChange="selectCity();" class="select form-control select-group" style="width:123px;display:inline;" disabled>
                        <option value="" selected="true">省/直辖市</option>
                    </select>
                    <select id="sel-city" name="sel-city" onChange="selectcounty(0)" class="select form-control select-group" style="width:135px;display:inline;">
                        <option value="" selected="true">请选择</option>
                    </select>
                    <select id="sel-area" name="sel-area" onChange="selectstreet(0)" class="select form-control select-group" style="width:130px;display:inline;">
                        <option value="" selected="true">请选择</option>
                    </select>
                    {if !empty($new_area) && !empty($address_street)}
                    <select id="sel-street" name="street" class="select form-control select-group" style="width:220px;display:inline">
                        <option value="" selected="true">请选择</option>
                    </select>
                    {/if}
                </p>
                <input type="hidden" name="province" id="province" value="{$item['province'] ? $item['province'] : '云南省'}" />
                <input type="hidden" name="city" id="city" value="{$item['city'] ? $item['city'] : '文山壮族苗族自治州'}" />
                <input type="hidden" name="area" id="area" value="{$item['area'] ? $item['area'] : '文山市'}" />
                <input type="hidden" name="chose_province_code" id="chose_province_code" value="{$item['provincecode'] ? $item['provincecode'] : 530000}" />
                <input type="hidden" name="chose_city_code" id="chose_city_code" value="{$item['citycode'] ? $item['citycode'] : 532600}" />
                <input type="hidden" name="chose_area_code" id="chose_area_code" value="{$item['areacode'] ? $item['areacode'] : 532621}" />
            </div>
    </div>
        <div class="form-group">
            <label class="col-lg control-label">联系人姓名</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="contacts" class="form-control" value="{$item['contacts']}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">门店手机</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="mobile" class="form-control" value="{$item['mobile']}"/>
            </div>
        </div>
            <div class="form-group">
                <label class="col-lg control-label">门店固话</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="tel" class="form-control" value="{$item['tel']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg control-label">营业时间</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="saletime" class="form-control" value="{$item['saletime']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg control-label">门店位置</label>
                <div class="col-sm-9 col-xs-12">
                    {:tpl_form_field_position('map',array('lng'=>$item['lng'],'lat'=>$item['lat']))}
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg control-label">门店地址</label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="address" class="form-control" value="{$item['address']}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg control-label">门店简介</label>
                <div class="col-sm-9 col-xs-12">
                    <textarea name="desc" class="form-control richtext" rows="5">{$item['desc']}</textarea>
                </div>
            </div>
            <div class="form-group">
                    <label class="col-lg control-label">是否推荐</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class='radio-inline'>
                            <input type='radio' name='isrecommand' value=1' {if $item['isrecommand']==1}checked{/if} /> 推荐
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='isrecommand' value=0' {if $item['isrecommand']==0}checked{/if} /> 不推荐
                        </label>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-lg control-label">状态</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class='radio-inline'>
                            <input type='radio' name='status' value=1' {if $item['status']==1}checked{/if} /> 启用
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='status' value=0' {if $item['status']==0}checked{/if} /> 禁用
                        </label>
                    </div>
                </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-lg control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="submit" value="提交" class="btn btn-primary"/>
            <input type="button" name="back" onclick='history.back()' {ifp  'store.add|store.edit'}style='margin-left:10px;'{/if} value="返回列表" class="btn btn-default" />
        </div>
    </div>
</form>
</div>
<script language='javascript'>
    cascdeInit("{$new_area}","{$address_street}","530000","{$item['citycode']?$item['citycode']:'532600'}","{$item['areacode']?$item['areacode']:'532621'}","''");
</script>
{include file='_footer'}
