{include file='_header'}
<div class="page-header">
    当前位置：
    <span class="text-primary">积分规则</span>
</div>
<div class="page-content">
    <form action="{:url('creditshop/set')}" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <div class="form-group">
          <label class="col-lg control-label">是否开启规则</label>
          <div class="col-sm-9 col-xs-12">
              <label class="radio radio-inline">
                  <input type="radio" name="data[leveltype]" value="1" {if $data['leveltype']==1}checked{/if}/> 开启
              </label>
              <label class="radio radio-inline">
                  <input type="radio" name="data[leveltype]" value="0" {if empty($data['leveltype'])}checked{/if}/>关闭
              </label>
          </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">规则说明</label>
            <div class="col-sm-9 col-xs-12">
              {:tpl_ueditor('data[explain]',$data['explain'],array('height'=>350))}  
        
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9">
                <input type="submit" value="提交" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<script language='javascript'>
    require(['bootstrap'],function(){
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $('#tab').val( $(this).attr('href').replace('#tab_',''));
            $(this).tab('show');
        })
    });
</script>
{include file='_footer'}