
<div class="form-group">
    <label class="col-lg control-label">积分规则说明</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_ueditor('data[rule]',$data['rule'],array('height'=>'200'))}
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">是否显示统一兑换流程</label>
    <div class="col-sm-9 col-xs-12">
        <label class='radio radio-inline'>
            <input type='radio' value='1' name='data[isdetail]'  {if $data['isdetail']==1}checked{/if} /> 显示
        </label>
        <label class='radio radio-inline'>
            <input type='radio' value='0' name='data[isdetail]' {if $data['isdetail']==0}checked{/if} /> 关闭
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">统一兑换流程</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_ueditor('data[detail]',$data['detail'],array('height'=>'200'))}
    </div>
</div>

<div class="form-group" style="display: none;">
    <label class="col-lg control-label">是否显示统一注意事项</label>
    <div class="col-sm-9 col-xs-12">
        <label class='radio radio-inline'>
            <input type='radio' value='1' name='data[isnoticedetail]'  {if $data['isnoticedetail']==1}checked{/if} /> 显示
        </label>
        <label class='radio radio-inline'>
            <input type='radio' value='0' name='data[isnoticedetail]' {if $data['isnoticedetail']==0}checked{/if} /> 关闭
        </label>
    </div>
</div>
<div class="form-group" style="display: none;">
    <label class="col-lg control-label">统一注意事项</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_ueditor('data[noticedetail]',$data['noticedetail'],array('height'=>'200'))}
    </div>
</div>