<div class='form-group-title'>基础设置</div>
<div class="form-group">
    <label class="col-lg control-label">是否开启积分商城</label>
    <div class="col-sm-9 col-xs-12">
        <label class='radio radio-inline'>
            <input type='radio' value='1' name='data[opencreditshop]'  {if $data['opencreditshop']==1}checked{/if} /> 关闭
        </label>
        <label class='radio radio-inline'>
            <input type='radio' value='0' name='data[opencreditshop]' {if $data['opencreditshop']==0}checked{/if} /> 开启
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">积分说明页面</label>
    <div class="col-sm-9 col-xs-12">
        <input type="text" name="data[crediturl]" class="form-control" value="{$data['crediturl']}"  />
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">重要说明</label>
    <div class="col-sm-9 col-xs-12">
        <textarea name="data[importantdetail]" class="form-control" placeholder="全局重要说明，不填则不显示" rows="5">{$data['importantdetail']}</textarea>
    </div>
</div>

<div class='form-group-title'>线下核销设置</div>
<div class="form-group">
    <label class="col-lg control-label">是否填写联系人</label>
    <div class="col-sm-9 col-xs-12">
        <label class='radio radio-inline'>
            <input type='radio' value='0' name='data[set_realname]'  {if $data['set_realname']==0}checked{/if} /> 是
        </label>
        <label class='radio radio-inline'>
            <input type='radio' value='1' name='data[set_realname]' {if $data['set_realname']==1}checked{/if} /> 否
        </label>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">是否填写联系方式</label>
    <div class="col-sm-9 col-xs-12">
        <label class='radio radio-inline'>
            <input type='radio' value='0' name='data[set_mobile]'  {if $data['set_mobile']==0}checked{/if} /> 是
        </label>
        <label class='radio radio-inline'>
            <input type='radio' value='1' name='data[set_mobile]' {if $data['set_mobile']==1}checked{/if} /> 否
        </label>
    </div>
</div>

