{include file='_header'}

<div class="page-header">当前位置：<span class="text-primary">商品销售排行</span></div>
<div class="page-content">
    <form action="" method="get" class="form-horizontal">
        <div class="page-toolbar m-b-sm m-t-sm">
            <div class="col-sm-5">
                {:tpl_daterange('datetime', array('sm'=>true,'placeholder'=>'下单时间'),true);}
            </div>
            <div class="col-sm-6 pull-right">
                <div class="input-group">
                    <span class="input-group-select">
                        <select name='orderby'  class='form-control '   style="width:110px;">
                            <option value='' {if $_GET['orderby']==''}selected{/if}>排序</option>
                            <option value='0' {if $_GET['orderby']=='0'}selected{/if}>按销售额</option>
                            <option value='1' {if $_GET['orderby']=='1'}selected{/if}>按销售量</option>
                        </select>
                    </span>
                    <input type="text" class="form-control"  name="title" value="{$_GET['title']}" placeholder="商品名称"/>
    				<span class="input-group-btn">
    					<button class="btn btn-primary" type="submit"> 搜索</button>
                        <button type="submit" name="export" value="1" class="btn btn-success">导出</button>
    				</span>
                </div>
            </div>
        </div>
    </form>

    {if count($list)<=0}
    <div class="panel panel-default">
        <div class="panel-body empty-data">未查询到相关数据</div>
    </div>
    {else}
    <table class="table table-hover">
        <thead>
        <tr>
            <th style='width:80px;'>排行</th>
            <th>商品名称</th>
            <th style="width: 150px;">销售量</th>
            <th style="width: 150px;">销售额</th>
        </tr>
        </thead>
        <tbody>
        {foreach name='list' key='key' item='row'}
        <tr>
            <td>{if ($page -1) * $psize + $key + 1<=3}
                <labe class='label label-danger' style='padding:8px;'>&nbsp;<?php echo ($page -1) * $psize + $key + 1; ?>&nbsp;</labe>
                {else}
                <labe class='label label-default'  style='padding:8px;'>&nbsp;<?php echo ($page -1) * $psize + $key + 1; ?>&nbsp;</labe>
                {/if}
            </td>
            <td>
                <img src="{$row['thumb']}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;"  onerror="this.src='/public/static/images/nopic.png'" >
                {$row['title']}</td>
            <td>{$row['count']}</td>
            <td>{$row['money']}</td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot >
            <tr>
                <td colspan="4" style="text-align: right">
                    {$pager}
                </td>
            </tr>
        </tfoot>
    </table>
    {/if}
</div>

{include file='_footer'}