{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">商品销售转化率 </span></div>

<div class="page-content">
    <form action="" method="get" class="form-horizontal">
        <div class="page-toolbar">
            <div class="col-sm-6 pull-right">
                <div class="input-group">
                    <span class="input-group-select">
                        <select name='orderby'  class='form-control  '   style="width:100px;"  >
                            <option value='' {if $_GET['orderby']==''}selected{/if}>排序</option>
                            <option value='0' {if $_GET['orderby']=='0'}selected{/if}>降序</option>
                            <option value='1' {if $_GET['orderby']=='1'}selected{/if}>升序</option>
                        </select>
                    </span>
                    <input type="text" class="form-control"  name="title" value="{$_GET['title']}" placeholder="商品名称"/>
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit"> 搜索</button>
                    <button type="submit" name="export" value="1" class="btn btn-success ">导出</button>
				</span>
                </div>
            </div>
        </div>
    </form>

    {if count($list)<=0}
    <div class="panel panel-default">
        <div class="panel-body empty-data">未查询到相关数据</div>
    </div>
    {else}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>商品名称</th>
            <th style='width:100px;'>访问次数</th>
            <th style='width:100px;'>购买件数</th>
            <th style="width: 80px">转化率</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach name='list' item='row'}
        <tr>
            <td>
                <img src="{$row['thumb']}" style="width: 30px; height: 30px;border:1px solid #ccc;padding:1px;"  onerror="this.src='../addons/ewei_shopv2/static/images/nopic.png'" >
                {$row['title']}</td>
            <td>{$row['viewcount']}</td>
            <td>{:intval($row['buycount'])}</td>
            <td><span class="progress-num" tyle="color:#000">{$row['percent']?$row['percent'].'%':''}</span></td>
            <td>   
                <div class="progress" style='max-width:500px;'>
                    <div style="width: {$row['percent']}%;" class="progress-bar progress-bar-info"></div>
                </div>
            </td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right">
                    {$pager}
                </td>
            </tr>
        </tfoot>
    </table>
    {/if}
</div>
 
{include file='_footer'}