<div class="subnav-scene">
	{if empty($sysmenus['submenu']['route']) && !$sysmenus['submenu']['main']}
		{$sysmenus['submenu']['subtitle']}
	{else}
		<a href="{:url($sysmenus['submenu']['route'])}">{$sysmenus['submenu']['subtitle']}</a>
	{/if}
</div>

{if !empty($sysmenus['submenu']['items'])}
	{foreach name="sysmenus['submenu']['items']" item="submenu"}
		{if !empty($submenu['items'])}
			<div class='menu-header {if $submenu['active']}active data-active{/if}'><div class="menu-icon fa fa-caret-{if $submenu['active']}down{else}right{/if}"></div>{$submenu['title']}</div>
			<ul {if $submenu['active']}style="display: block"{/if}>
				{foreach name="submenu['items']" item='threemenu'}
					<li {if $threemenu['active']}class="active"{/if}><a href="{$threemenu['url']}" style="cursor: pointer;" data-route="{$threemenu['route']}">{$threemenu['title']}</a>
				{/foreach}
			</ul>
		{else}
			<ul class="single">
				<li {if $submenu['active']}class="active"{/if} style=" position: relative"><a href="{$submenu['url']}" style="cursor: pointer;" data-route="{$submenu['route']}">{$submenu['title']}</a></li>
			</ul>
		{/if}
	{/foreach}
{/if}