<ul class="menu-head-top">
    <li {if $controller=='index'} class="active" {/if}><a href="{:url('merch/index/index')}">商城概述 <i class="fa fa-caret-right"></i></a></li>
</ul>
<div class='menu-header'>商城</div>
<ul>
    <li {if $action== 'dispatch'} class="active" {/if}><a href="{:url('merch/shop/dispatch')}">配送方式</a></li>
    <li {if $action == 'notice'} class="active" {/if}><a href="{:url('merch/shop/notice')}">公告管理</a></li>
    <li {if $action == 'comment'} class="active" {/if}><a href="{:url('merch/shop/comment')}">评价管理</a></li>
    <li {if $action == 'refundaddress'} class="active" {/if}><a href="{:url('merch/shop/refundaddress')}">退货地址管理</a></li>
</ul>