<style type='text/css'>
	.goods-list a {
		position: relative; 
	}
	.goods-list span  {
		float:right;margin-right:20px;
	}
</style>

<div class='menu-header'>商品管理</div>
<ul class='goods-list'>
    <li {if $action == 'sale'} class="active" {/if}><a href="{:url('merch/goods/sale')}">出售中<span>{$totals['sale']}</span></a></li>
     <li {if $action == 'out'} class="active" {/if}><a href="{:url('merch/goods/out')}">已售罄<span  class='text-danger'>{$totals['out']}</span></a></li>
    <li {if $action == 'stock'} class="active" {/if}><a href="{:url('merch/goods/stock')}">仓库中<span>{$totals['stock']}</span></a></li>
    <li {if $action == 'cycle'} class="active" {/if}><a href="{:url('merch/goods/cycle')}">回收站<span  class='text-default'>{$totals['cycle']}</span></a></li>
    <li {if $action == 'category'} class="active" {/if}><a href="{:url('merch/goods/category')}">商品分类</a></li>
    <li {if $action == 'group'}class="active" {/if}><a href="{:url('merch/goods/group')}">商品组</a></li>
    <li {if $action == 'label'} class="active" {/if}><a href="{:url('merch/goods/label')}">标签管理</a></li>
</ul>


  