{include file='_header'}
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}水电物业单<small>{if !empty($item['id'])}修改【{$item['housename']}】{/if}</small></span>
</div>
<div class="page-content">
    <form  action="" method="post" class="form-horizontal form-validate"  enctype="multipart/form-data">
        <input type="hidden" name="houseid" value="{$house['id']}">
        <div class="form-group">
            <label class="col-lg control-label must">户号</label>
            <div class="col-sm-9 col-xs-12">
                <p class="static">{$house['housename']}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">业主姓名</label>
            <div class="col-sm-9 col-xs-12">
                <p class="static">{$house['ownername']}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">水费</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="watermoney" class="form-control" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">电费</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="electricitymoney" class="form-control" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">燃气费</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="gasmoney" class="form-control" data-rule-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">物业费</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="propertymoney" class="form-control" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">费用开始时间</label>
            <div class="col-sm-9 col-xs-12">
                <input type="date" name="timestart" class="form-control" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">费用结束时间</label>
            <div class="col-sm-9 col-xs-12">
                <input type="date" name="timeend" class="form-control" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">备注</label>
            <div class="col-sm-9 col-xs-12">
                <textarea name="desc" class="form-control richtext" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">是否缴费</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name="status" value='1' /> 已经费
                </label>
                <label class='radio-inline'>
                    <input type='radio' name="status" value='0' /> 未缴费
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
                <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
{include file='_footer'}