{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">缴费详情</span></div>
<div class="page-content">
    <form action="" method="get" class="form-horizontal form-search" role="form">
        <div class="page-toolbar">
            <div class="pull-left">
                <a class='btn btn-primary btn-sm' href="{:url('admin/community/houseorderadd',array('houseid'=>$houseid))}"><i class='fa fa-plus'></i> 添加水电物业单</a>
            </div>
            <div class="pull-right col-md-6">
                <div class="input-group">
                    <div class="input-group-select">
                        <select name="status" class='form-control'>
                            <option value="" {if $status == ''} selected{/if}>状态</option>
                            <option value="0" {if $status == '0'} selected{/if}>待缴费</option>
                            <option value="1" {if $status == '1'} selected{/if}>已缴费</option>
                        </select>
                    </div>
                    <input type="hidden" name="houseid" value="{$houseid}">
                    <input type="text" class="form-control" name='keyword' value="{$keyword}" placeholder="请输入编号查询" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"> 搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    {if empty(count($list))}
        <div class="panel panel-default">
            <div class="panel-body empty-data">未查询到相关数据</div>
        </div>
    {else}
        <form action="" method="post">
            <div class="page-table-header">
                <input type='checkbox' />
                <div class="btn-group">
                    <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/community/houseorderdelete')}"><i class='icow icow-shanchu1'></i> 删除</button>
                </div>
            </div>
            <table class="table table-responsive table-hover" >
                <thead class="navbar-inner">
                    <tr>
                        <th style="width:25px;"></th>
                        <th style="width: 80px;">编号</th>
                        <th style="width: 180px;">水费</th>
                        <th style="width: 180px;">电费</th>
                        <th style="width: 180px;">燃气费</th>
                        <th style="width: 180px;">物业费</th>
                        <th style="width: 80px;">是否缴费</th>
                        <th style="width: 80px;">添加时间</th>
                        <th style="width: 95px;">操作</th>
                    </tr>
                </thead>
                
                <tbody>
                    {foreach name='list' item='row'}
                        <tr>
                            <td>
                                <input type='checkbox'   value="{$row['id']}"/>
                            </td>
                            <td>{$row['id']}</td>
                            <td>{$row['watermoney']} <br> 
                            <td>{$row['electricitymoney']}<br> 
                            <td>{$row['propertymoney']}<br> 
                            <td>{$row['gasmoney']}<br> 
                            <td>{if $row['status']==1}已缴费{/if}{if $row['status']==0}未缴费{/if}</td>
                            <td>
                                {:date("Y-m-d",$row['createtime'])}
                            </td>
                            <td style="text-align:left;">
                                <a href="{:url('admin/community/houseorderedit', array('id' => $row['id']))}" class="btn btn-op btn-operation" >
                                    <span data-toggle="tooltip" data-placement="top" data-original-title="修改及详情">
                                        <i class='icow icow-bianji2'></i>
                                    </span>
                                </a>
                                <a data-toggle='ajaxRemove' href="{:url('admin/community/houseorderdelete', array('id' => $row['id']))}"class="btn btn-op btn-operation" data-confirm='确认要删除此水电单吗?'>
                                    <span data-toggle="tooltip" data-placement="top" data-original-title="删除">
                                       <i class='icow icow-shanchu1'></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
                <tfoot>
                <tr>
                    <td><input type="checkbox"></td>
                    <td colspan="4">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/community/houseorderdelete')}"><i class='icow icow-shanchu1'></i> 删除</button>
                        </div>
                    </td>
                    <td colspan="4" style="text-align: right">
                        {$pager}
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    {/if}
</div>
{include file='_footer'}