{include file='_header'}
<style>
    .checkbox-inline{
        display: block;
    }    
    .btns a i{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: #f95959;
    }
    .btn-color {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        margin: 2px;
        padding: 0;
    }
</style>
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}小区房屋号<small>{if !empty($item['id'])}修改【{$item['housename']}】{/if}</small></span>
</div>
<div class="page-content">
    <div class="page-sub-toolbar">
        <a class="btn btn-primary btn-sm" href="{:url('admin/community/add')}">添加小区房屋</a>
    </div>
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$item['id']}"/>
        {if !empty($item) && !empty($item['housesn'])}
    	<div class="form-group">
            <label class="col-lg control-label must">户号名称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" value="{$item['housesn']}" disabled />
            </div>
        </div>
        {/if}
        <div class="form-group">
            <label class="col-lg control-label must">户号名称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="housename" class="form-control" value="{$item['housename']}" data-rule-required="true"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">所在小区</label>
            <div class="col-sm-9 col-xs-12">
                <select class="form-control tpl-category-parent select2" id="communityid" name="communityid" onchange="get_building(this.value,'buildingid','0');">
                	<option value="0">请选择所在小区</option>
                    {foreach name='community_data' item='community_item'}
                    <option value="{$community_item['id']}" {if $item['communityid'] == $community_item['id']}selected="true"{/if}>{$community_item['communityname']}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">所属楼栋</label>
            <div class="col-sm-9 col-xs-12">
                <select class="form-control tpl-category-parent select2" id="buildingid" name="buildingid" required>
                	<option value="0">请选择楼栋</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">业主姓名</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="ownername" required="required" class="form-control" value="{$item['ownername']}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label must">业主电话</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="mobile" required="required" class="form-control" value="{$item['mobile']}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">简介</label>
            <div class="col-sm-9 col-xs-12">
                <textarea name="desc" class="form-control richtext" rows="5">{$item['desc']}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='status' value=1' {if $item['status']==1}checked{/if} /> 启用
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='status' value=0' {if $item['status']==0}checked{/if} /> 禁用
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"/>
                <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<script language='javascript'>
$(document).ready(function(){
    get_building("{$item['communityid']}",'buildingid',"{$item['buildingid']}");
});
    /**
 * 获取多级联动的商品分类
 */
function get_building(id,cate_next,cate_select_id){
    var url = '/admin/community/get_building/communityid/'+ id;
    $.ajax({
        type : "GET",
        url  : url,
        error: function(request) {
            layer.msg('服务器繁忙, 请联系管理员!',{icon: 5});
            return;
        },
        success: function(v) {
            $('#'+cate_next).empty().html(v.building_html);
            (cate_select_id > 0) && $('#'+cate_next).val(cate_select_id);//默认选中
        }
    });
}
</script>
{include file='_footer'}