{include file='_header'}
<script type="text/javascript" src="/public/static/js/dist/area/cascade.js"></script>
<style>
    .checkbox-inline{
        display: block;
    }    .btns a i{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: #f95959;
    }
    .btn-color {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        margin: 2px;
        padding: 0;
    }

</style>
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}幻灯片
        <small>{if !empty($item['id'])}修改【{$item['bannername']}】{/if}</small>
    </span>
</div>

<div class="page-content">
    <div class="page-sub-toolbar">
        <a class="btn btn-primary btn-sm" href="{:url('admin/citywide/banneradd')}">添加幻灯片</a>
    </div>
<form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$item['id']}"/>
    <div class="form-group">
        <label class="col-lg control-label must">幻灯片名称</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="bannername" class="form-control" value="{$item['bannername']}" data-rule-required="true"/>
        </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label must">排序</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="displayorder" required="required" class="form-control" value="{$item['displayorder']}"/>
                <span class='help-block'>数字越大，排名越靠前</span>
            </div>
    </div>
    <div class="form-group">
        <label class="col-lg control-label">幻灯片</label>
        <div class="col-sm-9 col-xs-12">
            {:tpl_form_field_image2('thumb',$item['thumb'])}
        </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label">幻灯片链接</label>
            <div class="col-sm-9 col-xs-12">
                <div class="input-group form-group" style="margin: 0;">
                    <input type="text" value="{$item['link']}" class="form-control valid" name="link" placeholder="" id="bannerlink">
                    <span class="input-group-btn">
                        <span data-input="#bannerlink" data-toggle="selectUrl" data-controller="citywide" class="btn btn-default">选择链接</span>
                    </span>
                </div>
            </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label">状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='enabled' value=1' {if $item['enabled']==1}checked{/if} /> 启用
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='enabled' value=0' {if $item['enabled']==0}checked{/if} /> 禁用
                </label>
            </div>
        </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-lg control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="submit" value="提交" class="btn btn-primary"/>
            <input type="button" name="back" onclick='history.back()' {ifp  'store.add|store.edit'}style='margin-left:10px;'{/if} value="返回列表" class="btn btn-default" />
        </div>
    </div>
</form>
</div>
{include file='_footer'}
