<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>登录页面</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .login {width: 100%; margin: 0 auto;}
    .login-body {width: 100%; min-height: 100vh;display: -webkit-box;display: -webkit-flex; display: -moz-box;display: -ms-flexbox;display: flex;flex-wrap: wrap; justify-content: center;align-items: center;padding: 15px;background:url('/public/static/images/background.png');}
    .login-contenter { width: 960px; background: #fff; border-radius: 6px; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex;flex-wrap: wrap;justify-content: space-between;padding: 110px 80px 40px 80px;/*opacity: 0.6; */   background: rgba(255,255,255,.7);}
      .login-pic { width: 316px;} 
    .login-form {width: 290px;}
    .login-form-title {font-size: 24px; color: #333333; line-height: 1.2; text-align: center; width: 100%; display: block;padding-bottom: 54px;}
        .login-input{position: relative;width: 100%;z-index: 1; margin-bottom: 10px;margin-top: 10px;}
        .input{ font-size: 15px; line-height: 1.5;color: #666666; display: block;width: 100%;background: #e6e6e6; height: 50px;border-radius: 6px;padding: 0 30px 0 68px;}
    .focus-input{ display: block;position: absolute; border-radius: 6px; bottom: 0; left: 0; z-index: -1; width: 100%; height: 100%; box-shadow: 0px 0px 0px 0px; color: rgba(87,184,70, 0.8);}
    .input:focus{ outline: none;box-shadow: 0 0 10px #57b846;}
    .focus-input:focus{ outline: none;}
    .symbol-input100 { font-size: 18px; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; align-items: center; position: absolute;/* border-radius: 25px;*/ bottom: 0; left: 0; width: 100%; height: 100%; padding-left: 35px; pointer-events: none; color: #666666; -webkit-transition: all 0.4s; -o-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s;}
    .input:focus + .focus-input + .symbol-input100 { color: #57b846; padding-left: 28px;}

    .container-login100-form-btn { width: 100%; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; flex-wrap: wrap; justify-content: center; padding-top: 20px;}
    .login100-form-btn { font-size: 16px; line-height: 1.5; color: #fff;/* text-transform: uppercase;*/ width: 100%; height: 50px; border-radius: 10px; background: #57b846; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; justify-content: center; align-items: center; padding: 0 25px;outline: none;}
    .login100-form-btn:hover { background: #77CE2B;outline: none;}
    .footer{ width: 960px;height: 30px; margin-top:90px;}
    .footer p{width: 100%;text-align: center;color: #666; }
  </style>
</head>
<body>
<div class="login">
  <div class="login-body">
    <div class="login-contenter">
        <!-- 左边图片 -->
        <div class="login-pic">
            <img src="__STATIC__/images/img-01.png" alt="IMG">
        </div>
        <!-- 右边登录表单 -->
        <form class="login-form" action="{:url('merch/login/checklogin')}" method="post" role="form">
            <span class="login-form-title">商户后台管理系统</span>
            <div class="login-input">
              <input class="input" type="text" name="username" placeholder="用户名">
              <span class="focus-input"></span>
              <span class="symbol-input100">
                <i class="glyphicon glyphicon-user"></i>
              </span>
            </div>
            <div class="login-input">
              <input class="input" type="password" name="pwd" placeholder="密码">
              <span class="focus-input"></span>
              <span class="symbol-input100">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
            </div>        
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">
                登陆
              </button>
            </div>
        </form>
         <div class="footer">{$copyright['copyright']}</div>
    </div> 
  </div>
</div>
</body>
</html>