<div class="form-group">
    <label class="col-lg control-label">手机入驻开关</label>
    <div class="col-sm-8">
        <label class="radio-inline"><input type="radio" class="open_apply" name="data[apply_openmobile]" value="1" {if $data['apply_openmobile'] ==1} checked="checked"{/if} /> 允许</label>
        <label class="radio-inline"><input type="radio" class="open_apply" name="data[apply_openmobile]" value="0" {if $data['apply_openmobile'] ==0} checked="checked"{/if} /> 不允许</label>
    </div>
</div>

<div class="form-group protocol-group" {if empty($data['apply_openmobile'])}style="display: none;"{/if}>
    <label class="col-lg control-label">显示入驻申请协议</label>
    <div class="col-sm-8">
        <label class="radio-inline"><input type="radio"  name="data[open_protocol]" value="1" {if $data['open_protocol'] ==1} checked="checked"{/if} /> 显示</label>
        <label class="radio-inline"><input type="radio"  name="data[open_protocol]" value="0" {if $data['open_protocol'] ==0} checked="checked"{/if} /> 隐藏</label>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">入驻宣传头部图片</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_form_field_image2('data[regbg]',$data['regbg'],'/public/plugin/merch/template/mobile/default/static/images/regbg.png')}
        <span class="help-block">入驻宣传封面 建议尺寸 640 * 320</span>
    </div>
</div>