<div class="form-group">
	<label class="col-lg control-label">登录页面LOGO</label>
	<div class="col-sm-9 col-xs-12">
		{:tpl_form_field_image2('data[reglogo]',$data['reglogo'],'/public/plugin/merch/template/mobile/default/static/images/regbg.png')}
		<span class="help-block">登录页面logo 建议尺寸360 * 90</span>
	</div>
</div>
<div class="form-group">
	<label class="col-lg control-label">登录页面宣传图</label>
	<div class="col-sm-9 col-xs-12">
		{:tpl_form_field_image2('data[regpic]',$data['regpic'],'/public/plugin/merch/template/mobile/default/static/images/regbg.png')}
		<span class="help-block">入驻宣传封面 建议尺寸670 * 390</span>
	</div>
</div>
<!--NDAwMDA5NzgyNw==-->