{if empty($item['statusvalue'])}
<!--未付款-->

{if $item['paytypevalue']==3}
<a class="btn btn-primary btn-xs" data-toggle="ajaxModal"  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'send'))}">确认发货</a>
{else}
    <a class="btn btn-primary btn-xs" data-toggle="ajaxPost" href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'pay'))}" data-confirm="确认此订单已付款吗？">确认付款</a>
{/if}

{elseif $item['statusvalue'] == 1}
<!--已付款-->

{if !empty($item['addressid']) }
<!--快递 发货-->
<a class="btn btn-primary btn-xs" data-toggle="ajaxModal"  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'send'))}" >确认发货</a>
{else}
{if $item['isverify']==1}
<!--核销 确认核销-->
<a class="btn btn-primary btn-xs" data-toggle='ajaxPost' href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'fetch'))}" data-confirm="确认使用吗？">确认使用</a>
{else}
<!--自提 确认取货-->
<a class="btn btn-primary btn-xs" data-toggle='ajaxPost'  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'fetch'))}" data-confirm="确认{if !empty($item['ccard'])}充值{else}取货{/if}吗？">确认{if !empty($item['ccard'])}充值{else}取货{/if}</a>
{/if}

{/if}

{if $item['sendtype'] > 0}
    <a class="text-primary" data-toggle='ajaxModal'  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'sendcancel'))}" >取消发货</a>
{/if}
{elseif $item['statusvalue'] == 2 }
<!--已发货-->
{if !empty($item['addressid'])}
<!--快递 取消发货-->
<a class="btn btn-primary btn-xs" data-toggle='ajaxPost'  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'finish'))}" data-confirm="确认订单收货吗？">确认收货</a><br />
{if $detial_flag == 1 && $item['status']!=3}
<a class="text-primary" data-toggle="ajaxModal"  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'changeexpress'))}">修改物流</a>
{/if}
<a class="text-primary" data-toggle='ajaxModal'  href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'sendcancel'))}" >取消发货</a>
{else}
    {php $isonly = m('order')->checkisonlyverifygoods($item['id'])}
    {if $isonly}
        <a class="btn btn-primary btn-xs" data-toggle='ajaxPost' href="{:url('admin/order/op', array('id' => $item['id'],'ops' => 'finish'))}" data-confirm="确认完成订单吗？">确认完成</a>{/if}
    {/if}
{elseif $item['statusvalue'] == 3}

{/if}