<div class="region-goods-details row">
    <div class="region-goods-left col-sm-2">分享</div>
    <div class="region-goods-right col-sm-10">
        <div class="form-group">
            <label class="col-sm-2 control-label">分享标题</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="share_title" id="share_title" class="form-control" value="{$item['share_title']}" />
                <span class='help-block'>如果不填写，默认为商品名称</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分享图标</label>
            <div class="col-sm-9 col-xs-12">
                {:tpl_form_field_image2('share_icon', $item['share_icon'])}
                <span class='help-block'>如果不选择，默认为商品缩略图片</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">分享描述</label>
            <div class="col-sm-9 col-xs-12">
                <textarea name="description" class="form-control"rows="5" >{$item['description']}</textarea>
                <span class='help-block'>如果不填写，则使用商品副标题，如商品副标题为空则使用店铺名称</span>
            </div>
        </div>
    </div>
</div>