<div class="form-group">
    <label class="col-lg control-label">商品简介</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_ueditor('goodsdetail',$item['goodsdetail'], array('height'=>'200'))}
    </div>
</div>
<div class="form-group" >
    <label class="col-lg control-label">兑换流程</label>
    <div class="col-sm-9 col-xs-12">
        <div class="col-sm-10 col-xs-12">
            <label class="control-label" style="font-weight: normal;">是否单独开启商品兑换流程</label>
        </div>
        <div class="col-lg pull-right" style="padding-right:50px;text-align: right" >
            <input type="checkbox" class="js-switch" name="detailshow" value="1" {if $item['detailshow']==1}checked{/if} />
        </div>
        <div style="clear:both;height:20px;"></div>
        <div class="detailcontent" {if empty($item['detailshow'])}style="display: none;"{/if}>
            {:tpl_ueditor('detail',$item['detail'],array('height'=>200))}
        </div>
    </div>
</div>
<div class="form-group" >
    <label class="col-lg control-label">注意事项</label>
    <div class="col-sm-9 col-xs-12">
        <div class="col-sm-10 col-xs-12">
            <label class="control-label" style="font-weight: normal;">是否单独开启商品注意事项</label>
        </div>
        <div class="col-lg pull-right" style="padding-right:50px;text-align: right" >
            <input type="checkbox" class="js-switch" name="noticedetailshow" value="1" {if $item['noticedetailshow']==1}checked{/if} />
        </div>
        <div style="clear:both;height:20px;"></div>
        <div class="noticedetailcontent" {if empty($item['noticedetailshow'])}style="display: none;"{/if}>
            {:tpl_ueditor('noticedetail',$item['noticedetail'],array('height'=>200))}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(":checkbox[name='detailshow']").click(function () {
            if ($(this).prop('checked')) {
                $(".detailcontent").show();
            }
            else {
                $(".detailcontent").hide();
            }
        })
        $(":checkbox[name='noticedetailshow']").click(function () {
            if ($(this).prop('checked')) {
                $(".noticedetailcontent").show();
            }
            else {
                $(".noticedetailcontent").hide();
            }
        })
    })
</script>