<div class="form-group notice">
    <label class="col-lg control-label">商家通知</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_selector('noticeopenid',array('key'=>'openid','text'=>'nickname', 'thumb'=>'avatar', 'placeholder'=>'昵称/姓名/手机号','buttontext'=>'选择通知人', 'items'=>$saler,'url'=>url('member/query') ))}
        <span class="help-block">如果用户中奖，可指定某个商家用户，通知商品下单备货通知,如果商品为同一商家，建议使用系统统一设置</span>
    </div>
</div>
<div class="form-group">
    <label class="col-lg control-label">提供商家</label>
    <div class="col-sm-9 col-xs-12">
        <input type='text' class='form-control' name='subtitle' value="{$item['subtitle']}" />
    </div>
</div>

<div class="form-group">
    <label class="col-lg control-label">商家介绍</label>
    <div class="col-sm-9 col-xs-12">
        {:tpl_ueditor('subdetail', $item['subdetail'], array('height'=>200))}
    </div>
</div>