{include file='_header'}
<script type="text/javascript" src="/public/static/js/dist/area/cascade.js"></script>
<style>
    .checkbox-inline{
        display: block;
    }    .btns a i{
        display: inline-block;
        width: 100%;
        height: 20px;
        background: #f95959;
    }
    .btn-color {
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        margin: 2px;
        padding: 0;
    }

</style>
<div class="page-header">
    当前位置：<span class="text-primary">{if !empty($item['id'])}编辑{else}添加{/if}门店分类
        <small>{if !empty($item['id'])}修改【{$item['storename']}】{/if}</small>
    </span>
</div>

<div class="page-content">
    <div class="page-sub-toolbar">
        <a class="btn btn-primary btn-sm" href="{:url('admin/citywide/storeadd')}">添加门店分类</a>
    </div>
<form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$item['id']}"/>
    <div class="form-group">
        <label class="col-lg control-label must">分类名称</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="catename" class="form-control" value="{$item['catename']}" data-rule-required="true"/>
        </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label must">分类排序</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="displayorder" required="required" class="form-control" value="{$item['displayorder']}"/>
                <span class='help-block'>数字越大，排名越靠前</span>
            </div>
    </div>
    <div class="form-group">
        <label class="col-lg control-label">分类图片</label>
        <div class="col-sm-9 col-xs-12">
            {:tpl_form_field_image2('thumb',$item['thumb'])}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg control-label">风格颜色</label>
        <div class="col-sm-9 col-xs-12">
            {:tpl_form_field_color('color', $item['color'] ? $item['color'] : '#34AAFF')} 
            <div class="ygmargin">*不填写会默认选中蓝色</div>
        </div>
    </div>
    <div class="form-group">
            <label class="col-lg control-label">状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='status' value=1' {if $item['status']==1}checked{/if} /> 启用
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='status' value=0' {if $item['status']==0}checked{/if} /> 禁用
                </label>
            </div>
        </div>
     <div class="form-group">
            <label class="col-lg control-label">推荐</label>
            <div class="col-sm-9 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='isrecommand' value=1' {if $item['isrecommand']==1}checked{/if} /> 是
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='isrecommand' value=0' {if $item['isrecommand']==0}checked{/if} /> 否
                </label>
            </div>
        </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-lg control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="submit" value="提交" class="btn btn-primary"/>
            <input type="button" name="back" onclick='history.back()' {ifp  'store.add|store.edit'}style='margin-left:10px;'{/if} value="返回列表" class="btn btn-default" />
        </div>
    </div>
</form>
</div>
{include file='_footer'}
