<div class="fui-navbar" style="z-index: 10;">

	<a href="{:url('mobile/auction/index')}" class="external nav-item {if $act=='index'}active{/if}">

		<span class="icon icon-home"></span>

		<span class="label">拍卖首页</span>

	</a>
	<a href="{:url('mobile/auction/record')}" class="external nav-item {if $act=='record'}active{/if}">

		<span class="icon icon-order"></span>

		<span class="label">出价记录</span>

	</a>
	<a href="{:url('mobile/auction/myauction')}" class="external nav-item {if $act=='myauction'}active{/if}">

		<span class="icon icon-goods"></span>

		<span class="label">获得拍品</span>

	</a>

</div>





