
<div class="region-goods-details row">
    <div class="region-goods-left col-sm-2">店铺信息</div>
    <div class="region-goods-right col-sm-10">
        <div class="form-group">
            <label class="col-sm-2 control-label">快速选择</label>
            <div class="col-sm-9 col-xs-12">
                <select id='selectdetail' class='form-control' onchange="selectDetail()">
                    <option datas-datas=''>--快速选择--</option>
                    {foreach name='details' item='detail'}
                    <option data-datas='{:json_encode($detail)}'>
                        {$detail['detail_shopname']}
                    </option>
                    {/foreach}

                </select>
            </div>
        </div>
        <script type="text/javascript">
            function selectDetail(){
                var json = $('#selectdetail').find("option:selected").data('datas');
                $(':input[name=detail_shopname]').val(json.detail_shopname);
                $(':input[name=detail_totaltitle]').val(json.detail_totaltitle);
                $(':input[name=detail_btntext1]').val(json.detail_btntext1);
                $(':input[name=detail_btnurl1]').val(json.detail_btnurl1);
                $(':input[name=detail_btntext2]').val(json.detail_btntext2);
                $(':input[name=detail_btnurl2]').val(json.detail_btnurl2);
                $(':input[name=detail_logo]').val(json.detail_logo);
                $('.detail-logo img').attr('src', json.detail_logo_url);
            }
        </script>

        <div class="form-group">
            <label class="col-sm-2 control-label">店铺LOGO</label>
            <div class="col-sm-9 col-xs-12 detail-logo">
                {:tpl_form_field_image2('detail_logo', $item['detail_logo'])}
                <span class="help-block">建议尺寸: 100 * 100 ，或正方型图片 </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">店铺名称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="detail_shopname"  class="form-control" value="{$item['detail_shopname']}" />
                <span class='help-block'>如果不填写，系统默认选择小店或商城名称</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">店铺描述</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="detail_totaltitle" class="form-control" value="{$item['detail_totaltitle']}" />
                <span class='help-block'>如果不填写，系统默认选择小店或商城描述</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">全部商品</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="detail_btntext1" value="{$item['detail_btntext1']}" placeholder="按钮名称" style="width:200px;float:left"  />
                <input type="text" class="form-control" name="detail_btnurl1" value="{$item['detail_btnurl1']}" placeholder="按钮完整链接" style="width:400px;" />
                <span class='help-block'>如果不填写，系统默认"全部商品"及"默认的全部商品链接"</span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">进店逛逛</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="detail_btntext2" value="{$item['detail_btntext2']}" placeholder="按钮名称" style="width:200px;float:left"  />
                <input type="text" class="form-control" name="detail_btnurl2" value="{$item['detail_btnurl2']}" placeholder="按钮完整链接" style="width:400px;" />
                <span class='help-block'>如果不填写，系统默认"进店逛逛"及"默认的小店或商城链接"</span>
            </div>
        </div>
    </div>
</div>