<div class="fui-navbar" style="z-index: 10;">

	<a href="{:url('mobile/groups/index')}" class="external nav-item {if $act=='index'}active{/if}">

		<span class="icon icon-home"></span>

		<span class="label">拼团首页</span>

	</a>

	<!-- <a href="{:url('mobile/groups/category')}" class="external nav-item {if $act=='groups.category'}active{/if}">

		<span class="icon icon-list"></span>

		<span class="label">活动列表</span>

	</a> -->

	<a href="{:url('mobile/groups/orders')}" class="external nav-item {if $act=='orders'}active{/if}">

		<span class="icon icon-order"></span>

		<span class="label">我的订单</span>

	</a>

	<a href="{:url('mobile/groups/team')}" class="external nav-item {if $act=='team'}active{/if}">

		<span class="icon icon-group"></span>

		<span class="label">我的团</span>

	</a>

</div>





