{include file='_header'}

<div class="page-header">

    当前位置：<span class="text-primary">操作日志 </span>

</div>

<div class="page-content">

 <form action="" method="get" class="form-horizontal" plugins="form">

                <div class="page-toolbar m-b-sm m-t-sm">

                        <div class="col-sm-12 pull-right">

                         <div class='input-group input-group-sm' style='float:left;'   >

                               {:tpl_daterange('time', array('placeholder'=>'操作时间'),true);}

                        </div>

				        <div class="input-group">

                            <input type="text" class="input-sm form-control" name='keyword' value="{$keyword}" placeholder="可搜索操作员用户名/操作内容"> <span class="input-group-btn">

                                     <button class="btn btn-primary" type="submit"> 搜索</button> </span>

                                </div>

								

                            </div>

</div>

  </form>

            <table class="table table-hover table-responsive">

                <thead>

                    <tr>

                        <th style='width:100px;'>ID</th>

                        <th>操作员</th>

                        <th >类型</th>

                        <th>操作内容</th>

                        <th>操作IP</th>

                        <th style="width: 100px;">操作时间</th>

 

                    </tr>

                </thead>

                <tbody>

                    {foreach name='list' item='row'}

                    <tr  data-toggle='popover' data-html='true' data-placement='top' data-trigger='hover' data-content='{$row['op']}'>

                        <td>{$row['id']}</td>

                        <td>{$row['username']}</td>

                        <td>{$row['name']}</td>

                        <td><span>{$row['op']}</span></td>

                        <td>{$row['ip']}</td>

                        <td>{:date('Y-m-d', $row['createtime'])}<br/>{:date('H:i:s', $row['createtime'])}</td>

                    </tr>

                    {/foreach}

                </tbody>

                <tfoot>

                    <tr>

                        <td colspan="6" class="text-right">

                            {$pager}

                        </td>

                    </tr>

                </tfoot>

            </table>

    </div>

</form>

</div>

{include file='_footer'}

 

