<div class="panel panel-default">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width:80px;">商品图</th>
                    <th style="width:180px;">商品名</th>
                </tr>
                </thead>
                <tbody>
                <tr data-toggle="popover" data-trigger="hover" data-placement="left" class="js-goods-img">
                    <td>
                        <img class="scrollLoading" src="{$teaminfo['thumb']}" height="50" width="50">
                    </td>
                    <td class="line-feed">{$teaminfo['title']}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>