{include file='_header'}

<div class="page-heading">
    <span class='pull-right'>
        <a class='btn btn-primary btn-sm' data-toggle='ajaxModal' href="{:url('admin/sysset/bankadd')}"><i class="fa fa-plus"></i> 添加支持的银行</a>
    </span>
    <h2>银行设置</h2> </div>

<form action="" method="post">
    {if count($list)>0}
    <table class="table table-hove table-responsive">
        <thead class="navbar-inner">
        <tr>
            <th style='width:100px'>顺序</th>
            <th style='width:200px'>银行名称</th>
            <th style='width:200px;'>状态</th>
            <th style='width:200px'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name='list' item='item'}
        <tr>
            <td>
                <a href='javascript:;' data-toggle='ajaxEdit' data-href="{:url('admin/sysset/bankdisplayorder',array('id'=>$item['id']))}" >{$item['displayorder']}</a>
            </td>
            <td>{$item['bankname']}</td>
            <td>
                <span class='label {if $item['status']==1}label-success{else}label-default{/if}'
                data-toggle='ajaxSwitch'
                data-switch-value='{$item['status']}'
                data-switch-value0='0|禁用|label label-default|{:url('admin/sysset/bankstatus',array('status'=>1,'id'=>$item['id']))}'
                data-switch-value1='1|启用|label label-success|{:url('admin/sysset/bankstatus',array('status'=>0,'id'=>$item['id']))}'
                >
                {if $item['status']==1}启用{else}禁用{/if}</span>
            </td>
            <td style="text-align:left;">
                <a href="{:url('admin/sysset/bankedit', array('id' => $item['id']))}" data-toggle='ajaxModal' class="btn btn-default btn-sm" >
                    <i class='fa fa-edit'></i>修改
                </a>
                <a data-toggle='ajaxRemove' href="{:url('admin/sysset/bankdelete', array('id' => $item['id']))}"class="btn btn-default btn-sm" data-confirm='确认要删除此银行吗?'><i class="fa fa-trash"></i> 删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {else}
    <div class='panel panel-default'>
        <div class='panel-body' style='text-align: center;padding:30px;'>
            暂时没有支持的银行!
        </div>
    </div>
    {/if}
</form>

{include file='_footer'}
<!--4000097827-->