{include file='_header'}

<div class="page-header"> 当前位置：<span class="text-primary">分类层级设置</span></div>

   <div class="page-content">
       <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >
           <div class="form-group">
               <label class="col-lg control-label">分类级别</label>
               <div class="col-sm-9 col-xs-12">
                   <label class="radio-inline">
                       <input type="radio" name="data[level]" value="-1" {if $data['level']==-1}checked{/if} /> 无
                   </label>
                   <label class="radio-inline">
                       <input type="radio" name="data[level]" value="1" {if $data['level']==1}checked{/if} /> 一级
                   </label>

                   <label class="radio-inline">
                       <input type="radio" name="data[level]" value="2" {if $data['level']==2 || empty($data['level'])}checked{/if} /> 二级
                   </label>
                   <label class="radio-inline">
                       <input type="radio" name="data[level]" value="3" {if $data['level']==3}checked{/if}/> 三级
                   </label>
               </div>
           </div>
           <div class="form-group">
               <label class="col-lg control-label">显示形式</label>
               <div class="col-sm-9 col-xs-12">
                   <label class="radio-inline">
                       <input type="radio" name="data[show]" value="0" {if empty($data['show'])}checked{/if} /> 单页
                   </label>
                   <label class="radio-inline">
                       <input type="radio" name="data[show]" value="1" {if $data['show']==1}checked{/if}/> 多页
                   </label>
               </div>
           </div>

           <div class="form-group">
               <label class="col-lg control-label">显示样式</label>
               <div class="col-sm-9 col-xs-12">
                   <label class="radio-inline">
                       <input type="radio" name="data[style]" value="0" {if empty($data['style'])}checked{/if} /> 圆形
                   </label>
                   <label class="radio-inline">
                       <input type="radio" name="data[style]" value="1" {if $data['style']==1}checked{/if}/> 方形
                   </label>
               </div>
           </div>
           <div class="form-group">
               <label class="col-lg control-label">推荐分类广告</label>
               <div class="col-sm-9 col-xs-12">
                   {:tpl_form_field_image2('data[advimg]', $data['advimg'])}
                   <span class='help-block'>分类页面中，推荐分类的广告图，建议尺寸640*320</span>
               </div>
           </div>
           <div class="form-group">
               <label class="col-lg control-label">推荐分类广告链接</label>
               <div class="col-sm-9 col-xs-12">
                   <div class="input-group">
                       <input type="text" name="data[advurl]" class="form-control" value="{$data['advurl']}" id="advurl" />

                       <span data-input="#advurl" data-toggle="selectUrl" class="input-group-btn">
                           <span class="btn btn-default">选择链接</span>
                       </span>
                   </div>
               </div>
           </div>
           <div class="form-group"></div>
           <div class="form-group">
               <label class="col-lg control-label"></label>
               <div class="col-sm-9 col-xs-12">
                   <input type="submit" value="提交" class="btn btn-primary"  />
               </div>
           </div>

       </form>
   </div>

{include file='_footer'}