{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">商城关闭设置</span></div>
<div class="page-content">
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >

        <div class="form-group">
            <label class="col-lg control-label">商城状态</label>
            <div class="col-sm-9 col-xs-12">
                <label class="radio-inline">
                    <input type="radio" name="data[flag]" value='0' {if $data['flag']==0}checked{/if} /> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="data[flag]" value='1' {if $data['flag']==1}checked{/if} /> 关闭
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">商城关闭跳转链接</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="data[url]" class="form-control" value="{$data['url']}" />
                <span class='help-block'>如果您不采用系统页面，则可以设置关闭提醒链接，当商城关闭时跳转到此链接（非任何商城的链接）</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">商城关闭提醒</label>
            <div class="col-sm-9 col-xs-12">
                {:tpl_ueditor('data[detail]',$data['detail'], array('width'=>'500'))}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"  />
            </div>
        </div>
    </form>
</div>
{include file='_footer'}     