{include file='_header'}
<script type="text/javascript" src="/public/static/js/dist/area/cascade1.js"></script>
<div class="page-header">
    当前位置：<span class="text-primary">联系方式</span>
</div>
  <div class="page-content">
      <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >
          <div class="form-group">
              <label class="col-lg control-label">客服电话</label>
              <div class="col-sm-9 col-xs-12">
                  <input type="text" name="data[phone]" class="form-control" value="{$data['phone']}" />
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label">客服QQ</label>
              <div class="col-sm-9 col-xs-12">
                  <input type="text" name="data[qq]" class="form-control" value="{$data['qq']}" />
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label">所在城市</label>
              <div class="col-sm-9 col-xs-12">
                    <p>
                        <select id="sel-provance" name="data[province]" onChange="selectCity();" class="select form-control select-group" style="width:123px;display:inline;">
                            <option value="" selected="true">省/直辖市</option>
                        </select>
                        <select id="sel-city" name="data[city]" onChange="selectcounty(0)" class="select form-control select-group" style="width:135px;display:inline;">
                            <option value="" selected="true">请选择</option>
                        </select>
                        <select id="sel-area" name="data[area]" onChange="selectstreet(0)" class="select form-control select-group" style="width:130px;display:inline;">
                            <option value="" selected="true">请选择</option>
                        </select>

                        {if !empty($new_area) && !empty($address_street)}
                        <select id="sel-street" name="data[street]" class="select form-control select-group" style="width:220px;display:inline;margin-top: 10px;">
                            <option value="" selected="true">请选择</option>
                        </select>
                        {/if}
                    </p>
                    <script language='javascript'>
                        cascdeInit1("{$new_area}","{$address_street}","{:isset($data['province'])?$data['province']:''}","{:isset($data['city'])?$data['city']:''}","{:isset($data['area'])?$data['area']:''}","{:isset($data['street'])?$data['street']:''}");
                    </script>
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label">所在地址</label>
              <div class="col-sm-9 col-xs-12">
                  <input type="text" name="data[address]" class="form-control" value="{$data['address']}"/>
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label"></label>
              <div class="col-sm-9 col-xs-12">
                  <input type="submit"  value="提交" class="btn btn-primary"  />
              </div>
          </div>
      </form>
  </div>
{include file='_footer'}     