{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">会员设置</span></div>
  <div class="page-content">
      <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >
          <div class="form-group">
              <label class="col-lg control-label">会员等级说明链接</label>
              <div class="col-sm-9 col-xs-12">
                  <div class="input-group">
                      <input type="text" name="data[levelurl]" class="form-control" value="{$data['levelurl']}" id="levelurl" />
                      <div class="input-group-btn">
                          <div class="btn btn-default" data-toggle="selectUrl" data-input="#levelurl">选择链接</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label">会员等级升级依据</label>
              <div class="col-sm-9 col-xs-12">
                  <label class="radio radio-inline">
                      <input type="radio" name="data[leveltype]" value="0" {if empty($data['leveltype'])}checked{/if}/> 已完成的订单金额
                  </label>
                  <label class="radio radio-inline">
                      <input type="radio" name="data[leveltype]" value="1" {if $data['leveltype']==1}checked{/if}/> 已完成的订单数量
                  </label>
                  <span class="help-block">默认为完成订单金额</span>
              </div>
          </div>
          <div class="form-group">
              <label class="col-lg control-label"></label>
              <div class="col-sm-9 col-xs-12">
                  <input type="submit" value="提交" class="btn btn-primary"  />
              </div>
          </div>
      </form>
  </div>
{include file='_footer'}     