{include file='_header'}
<div class="page-heading"> 
    <span class='pull-right'>
        <a class="btn btn-primary btn-sm" href="{:url('merch/sysset/noticeadd')}">添加新公告</a>
        <a class="btn btn-default  btn-sm" href="{:url('merch/sysset/notice')}">返回列表</a>
    </span>
    <h2>{if !empty($notice['id'])}编辑{else}添加{/if}公告 <small>{if !empty($notice['id'])}修改【{$notice['title']}】{/if}</small></h2> 
</div> 

<form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" onsubmit='return formcheck()'>
    <input type="hidden" name="id" value="{$notice['id']}" />
    <div class="form-group">
        <label class="col-sm-2 control-label">排序</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="displayorder" class="form-control" value="{$notice['displayorder']}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label must">公告标题</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" id='title' name="title" class="form-control" value="{$notice['title']}" data-rule-required='true' />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">公告图片</label>
        <div class="col-sm-9 col-xs-12">
            {:tpl_form_field_image2('thumb', $notice['thumb'])}
            <span class="help-block">正方型图片</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">公告链接</label>
        <div class="col-sm-9 col-xs-12">
            <div class="input-group form-group" style="margin: 0;">
                <input type="text" name="link" class="form-control" value="{$notice['link']}" id="noticelink" />
                <span data-input="#noticelink" data-toggle="selectUrl" class="input-group-addon btn btn-default">选择链接</span>
            </div>
            <span class="help-block">如果输入链接，则不显示内容，直接跳转</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">公告内容</label>
        <div class="col-sm-9 col-xs-12">    
            {:tpl_ueditor('detail',$notice['detail'])}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">是否显示</label>
        <div class="col-sm-9 col-xs-12">
            <label class='radio-inline'>
                <input type='radio' name='status' value=1' {if $notice['status']==1}checked{/if} /> 是
            </label>
            <label class='radio-inline'>
                <input type='radio' name='status' value=0' {if $notice['status']==0}checked{/if} /> 否
            </label>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="submit"  value="提交" class="btn btn-primary"  />
            <input type="button" name="back" onclick='history.back()' {ifp 'shop.notice.add|shop.notice.edit'}style='margin-left:10px;'{/if} value="返回列表" class="btn btn-default" />
        </div>
    </div>
</form>
</div>

{include file='_footer'}