<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">查看物流</h4>
    </div>
    <div class="modal-body">
        <style type="text/css">
            .list-main {min-height:100px; background:#fff; padding:10px;}
            .list {height:75px; border-left:1px solid #eee; padding-left:20px; position:relative;}
            .list .info {height:75px; border-top:1px solid #eee; padding:10px; font-size:14px; color:#666;}
            .list .info .step { height:40px;} 
            .list .info .time { height:20px;}
            .list .infoon { color:#25ae5e}
            .list .dot {height:10px; width:10px; border-radius:10px; background:#ddd; position:absolute; left:-6px; top:12px;}
            .list .doton {height:12px; width:12px; background:#25ae5e; border-radius:12px; border:1px solid #bbe2c9; left:-8px;}
        </style>
        {if empty($list)}
        <p>未查询到物流信息</p>
        {else}
        <div class="list-main">
            {foreach name='list' key='index' item='row'}
            <div class="list">
                <div class="info {if $index==0}infoon{/if}" {if $index==0}style='border:none'{/if}>
                     <div class='step'>{$row['step']}</div>
                    <div class='time'>{$row['time']}</div>
                </div>
                <div class="dot  {if $index==0}doton{/if}"></div>
            </div>
            {/foreach}
        </div>
        {/if}

    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
    </div>
</div>