{if $type=='good'}
	{if empty($list)}
		<div class="tip">抱歉！未查询到{if !empty($kw)}与“{$kw}”{/if}相关的商品，请更换关键字后重试。</div>
	{else}
		{foreach name='list' item='item'}
			<div class="line good">
				<div class="image"><img src="{$item['thumb']}"/></div>
				<nav title="选择" class="btn btn-default btn-sm" data-href="goods?id={$item['id']}">选择</nav>
				<div class="text">
					<p class="name">{$item['title']}</p>
					<p class="price">最低价: {$item['minprice']} 原价: {$item['productprice']}元 现价: {$item['marketprice']}元</p>
				</div>
			</div>
		{/foreach}
	{/if}

{elseif $type=='groups'}
	{if empty($list)}
		<div class="tip">抱歉！未查询到{if !empty($kw)}与“{$kw}”{/if}相关的商品，请更换关键字后重试。</div>
	{else}
		{foreach name='list' item='item'}
		<div class="line">
			<div class="icon icon-1"></div>
			<nav data-href="groupsgoods?id={$item['id']}" class="btn btn-default btn-sm" title="选择">选择</nav>
			<div class="text">{$item['title']}</div>
		</div>
		{/foreach}
	{/if}

{elseif $type=='creditshop'}
	{if empty($list)}
	<div class="tip">抱歉！未查询到{if !empty($kw)}与“{$kw}”{/if}相关的商品，请更换关键字后重试。</div>
	{else}
		{foreach name='list' item='item'}
		<div class="line good">
			<div class="image"><img src="{$item['thumb']}"/></div>
			<nav title="选择" class="btn btn-default btn-sm" data-href="creditshop?id={$item['id']}">选择</nav>
			<div class="text">
				<p class="name">{$item['title']}</p>
				<p class="price">最低价: {$item['minprice']} 原价: {$item['price']}元 现价: {$item['credit']}积分+{$item['money']}元</p>
			</div>
		</div>
		{/foreach}
	{/if}

{elseif $type=='article'}
	{if empty($list)}
		<div class="tip">抱歉！未查询到{if !empty($kw)}与“{$kw}”{/if}相关的文章，请更换关键字后重试。</div>
	{else}
		{foreach name='list' item='item'}
		<div class="line">
			<div class="icon icon-1"></div>
			<nav data-href="{:getHttpHost()}{:url('index/webview/article',array('aid'=>$item['id']), true);}" class="btn btn-default btn-sm" title="选择">选择</nav>
			<div class="text">{$item['article_title']}</div>
		</div>
		{/foreach}
	{/if}
	
{else}
	<div class="tip">抱歉！未查询到相关内容。</div>
{/if}