{include file='_header'}
<div class="page-heading">
    <span class="pull-right">
        <a href="{:url('merch/goods/labeladd')}" class="btn btn-primary"><i class="fa fa-plus"></i> 添加新标签组</a>
    </span>
    <h2>标签组管理</h2>
</div>
<form action="" method="get" class="form-horizontal form-search" role="form">
    <div class="page-toolbar row m-b-sm m-t-sm">
        <div class="col-sm-4">
            <div class="input-group-btn">
                <button class="btn btn-default btn-sm"  type="button" data-toggle='refresh'><i class='fa fa-refresh'></i></button>
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch' data-href="{:url('merch/goods/labelstatus',array('status'=>1))}"><i class='fa fa-circle'></i> 启用</button>
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch'  data-href="{:url('merch/goods/labelstatus',array('status'=>0))}"><i class='fa fa-circle-o'></i> 禁用</button>
                <button class="btn btn-default btn-sm" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('merch/sns/level/dlete')}"><i class='fa fa-trash'></i> 删除</button>
            </div>
        </div>
        <div class="col-sm-6 pull-right">
            <select name="enabled" class='form-control input-sm select-sm'>
                <option value="" {if $enabled == ''} selected{/if}>状态</option>
                <option value="1" {if $enabled== '1'} selected{/if}>启用</option>
                <option value="0" {if $enabled == '0'} selected{/if}>禁用</option>
            </select>
            <div class="input-group">
                <input type="text" class="input-sm form-control" name='keyword' value="{$keyword}" placeholder="请输入关键词"> <span class="input-group-btn">
                <button class="btn btn-sm btn-primary" type="submit"> 搜索</button> </span>
            </div>
        </div>
    </div>
</form>
<form action="" method="post" >
    {if count($list)>0}
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th style="width:25px;"><input type='checkbox' /></th>
            <th>标签组名称</th>
            <th style="width:80px;">状态</th>
            <th style="width:200px;text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name='list' item='row'}
        <tr>
            <td>
                {if $row['id']!='default'}
                <input type='checkbox' value="{$row['id']}"/>
                {/if}
            </td>
            <td>{$row['label']}</td>
            <td>
                <span class='label {if $row['status']==1}label-success{else}label-default{/if}'
                data-toggle='ajaxSwitch'
                data-switch-value='{$row['status']}'
                data-switch-value0='0|禁用|label label-default|{:url('merch/goods/labelstatus',array('status'=>1,'id'=>$row['id']))}'
                data-switch-value1='1|启用|label label-success|{:url('merch/goods/labelstatus',array('status'=>0,'id'=>$row['id']))}'
                >
                {if $row['status']==1}启用{else}禁用{/if}</span>
            </td>
            <td>
                <a href="{:url('merch/goods/labeledit', array('id' => $row['id']))}" class="btn btn-default btn-sm">
                    <i class='fa fa-edit'></i> 修改
                </a>
                {if $row['id']!='default'}
                <a data-toggle='ajaxRemove' href="{:url('merch/goods/labeldelete', array('id' => $row['id']))}"class="btn btn-default btn-sm" data-confirm='确认要删除此标签组吗?'><i class="fa fa-trash"></i> 删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div style="text-align:right;width:100%;">
        {$pager}
    </div>
    {else}
    <div class='panel panel-default'>
        <div class='panel-body' style='text-align: center;padding:30px;'>
            暂时没有任何标签组!
        </div>
    </div>
    {/if}
</form>
{include file='_footer'}