{include file='_header'}
<div class="page-heading">
    <span class='pull-right'>
        <a class="btn btn-primary btn-sm" href="{:url('merch/goods/labeladd')}">添加新标签组</a>
        <a class="btn btn-default  btn-sm" href="{:url('merch/goods/label')}">返回列表</a>
    </span>
    <h2>{if !empty($item['id'])}编辑{else}添加{/if}标签组 <small>{if !empty($item['id'])}修改【{$item['name']}】{/if}</small></h2>
</div>
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label must">标签组名称</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" name="label" class="form-control" value="{$item['label']}" data-rule-required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">标签</label>
            <div class="col-sm-9 col-xs-12">
                <table class="table table-responsive" style="margin:0;">
                    <tbody id='tbody-items' style="border-top:none;">
                    {foreach name='labelname' item='row'}
                    <tr>
                        <td style="width:200px;">
                            <input type="text" class="form-control" name="labelname[]" value="{$row}" >
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-default btn-del" data-confirm="确认删除此标签?"><i class="fa fa-trash"></i> 删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <input name="button" type="button" class="btn btn-default" value="添加标签" onclick='addCategory()'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-9 col-xs-12" id="param-items">
                <label class="radio-inline">
                    <input type="radio" name='status' value="1" {if $item['status']==1}checked{/if} /> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" name='status' value="0" {if empty($item['status'])}checked{/if} /> 否
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
                <input type="submit" value="提交" class="btn btn-primary"  />
               <input type="button" name="back" onclick='history.back()' style='margin-left:10px;' value="返回列表" class="btn btn-default" />
            </div>
        </div>
    </form>
<script>
    require(['jquery.ui'],function(){
        $('#tbody-items').sortable();
    })

    function addCategory(){
        var html ='<tr>';
        html+='<td style="width:200px;">';
        html+='<input type="text" class="form-control" name="labelname[]" value="">';
        html+='</td>';

        html+='<td></td></tr>';;
        $('#tbody-items').append(html);
    }
    $(function(){
        $(".btn-del").on("click",function(){
            var $btntr = $(this).parents('tr');
            console.log($btntr);
            tip.confirm('确认删除此标签?',function(){
                $btntr.remove();
            });
        });
    });
</script>
{include file='_footer'}