{include file='_header'}
<div class="page-header">
    当前位置：<span class="text-primary"> 商户分组管理</span>
</div>
<div class="page-content">
<form action="" method="get" class="form-horizontal form-search" role="form">
    <div class="page-toolbar m-b-sm m-t-sm">
        <div class="col-sm-4">
        <span class='pull-left'>
            <a class='btn btn-primary btn-sm' href="{:url('admin/merch/groupadd')}"><i class='fa fa-plus'></i> 添加商户分组</a>
        </span>
        </div>
        <div class="col-sm-6 pull-right">
            <div class="input-group">
                <div class="input-group-select">
                    <select name="status" class='form-control'>
                        <option value="" {if $status == ''} selected{/if}>状态</option>
                        <option value="1" {if $status== '1'} selected{/if}>启用</option>
                        <option value="0" {if $status == '0'} selected{/if}>禁用</option>
                    </select>
                </div>
                <input type="text" class="input-sm form-control" name='keyword' value="{$keyword}" placeholder="请输入关键词"> 
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"> 搜索</button>
                </span>
            </div>
        </div>
    </div>
</form>

<form action="" method="post">
    {if empty(count($list))}    
    <div class='panel panel-default'>
        <div class='panel-body' style='text-align: center;padding:30px;'>
            暂时没有任何商户分组!
        </div>
    </div>
    {else}
    <div class="page-table-header">
        <input type="checkbox">
        <div class="btn-group">
            <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:url('admin/merch/groupstatus',array('status'=>1))}"> <i class='icow icow-qiyong'></i> 启用</a>
            <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch'  data-href="{:url('admin/merch/groupstatus',array('status'=>0))}"> <i class='icow icow-jinyong'></i> 禁用</a>
            <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/merch/groupdelete')}"> <i class='icow icow-shanchu1'></i> 删除</a>
        </div>
    </div>
    <table class="table table-responsive table-hover" >
        <thead class="navbar-inner">
        <tr>
            <th style="width:25px;"></th>
            <th>分组名称</th>
            <th>是否默认</th>
            <th>是否启用</th>
            <th style="width: 65px;">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name='list' item='row'}
        <tr>
            <td>
                <input type='checkbox'   value="{$row['id']}"/>
            </td>         
            <td>{$row['groupname']}</td>
            <td>
                <span class='defaults label {if $row['isdefault']==1}label-primary{else}label-default{/if}'
                data-toggle='ajaxSwitch'
                data-confirm = "确认{if $row['isdefault']==1}取消{else}设为{/if}默认吗？"
                data-switch-css='.defaults'
                data-switch-other = 'true'
                data-switch-value="{$row['isdefault']}"
                data-switch-value0="0|否|label label-default|{:url('admin/merch/groupsetdefault',array('isdefault'=>1,'id'=>$row['id']))}"
                data-switch-value1="1|是|label label-primary|{:url('admin/merch/groupsetdefault',array('isdefault'=>0,'id'=>$row['id']))}"
                style="cursor: pointer;"
                >{if $row['isdefault']==1}是{else}否{/if}</span>
            </td>
            <td>
                <span class='label {if $row['status']==1}label-primary{else}label-default{/if}'
                    data-toggle='ajaxSwitch'
                    data-switch-value='{$row['status']}'
                    data-switch-value0="0|禁用|label label-default|{:url('admin/merch/groupstatus',array('status'=>1,'id'=>$row['id']))}"
                    data-switch-value1="1|启用|label label-primary|{:url('admin/merch/groupstatus',array('status'=>0,'id'=>$row['id']))}"
                >
                {if $row['status']==1}启用{else}禁用{/if}
                </span>
            </td>
            <td style="text-align:left;">
                <a href="{:url('admin/merch/groupedit', array('id' => $row['id']))}" class="btn btn-default btn-sm btn-operation btn-op" >
                    <span data-toggle="tooltip" data-placement="top" title="" data-original-title="修改">
                        <i class='icow icow-bianji2'></i>
                   </span>
                </a>
                <a data-toggle='ajaxRemove' href="{:url('admin/merch/groupdelete', array('id' => $row['id']))}"class="btn btn-default btn-sm  btn-operation btn-op" data-confirm='确认要删除此幻灯片吗?'>
                     <span data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                         <i class='icow icow-shanchu1'></i>
                    </span>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot>
            <tr>
                <td><input type="checkbox"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch' data-href="{:url('admin/merch/groupstatus',array('status'=>1))}">
                            <i class='icow icow-qiyong'></i> 启用
                        </a>
                        <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch'  data-href="{:url('admin/merch/groupstatus',array('status'=>0))}">
                            <i class='icow icow-jinyong'></i> 禁用</a>
                        <a class="btn btn-default btn-sm btn-operation" type="button" data-toggle='batch-remove' data-confirm="确认要删除?" data-href="{:url('admin/merch/groupdelete')}">
                            <i class='icow icow-shanchu1'></i> 删除</a>
                    </div>
                </td>
                <td colspan="3" class="text-right">
                    {$pager}
                </td>
            </tr>
        </tfoot>
    </table>
    {/if}
</form>

</div>
{include file='_footer'}