{include file='_header'}
<div class="page-header">当前位置：<span class="text-primary">会员详情</span></div>
<div class="page-content">
<form action="" method='post' class='form-horizontal form-validate'>
 <input type="hidden" name="referer" value="" />
	<div class="tabs-container">
		<div class="tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab-basic" aria-expanded="true"> 基本信息</a></li>
				<li class=""><a data-toggle="tab" href="#tab-trade" aria-expanded="false"> 交易信息</a></li>	
			</ul>
			<div class="tab-content ">
				<div id="tab-basic" class="tab-pane active">{include file='member/detail/basic'}</div>
				<div id="tab-trade" class="tab-pane">{include file='member/detail/trade'}</div>
			</div>
		</div>
	</div>
	<div class="form-group"></div>	
        <div class="form-group">
		<label class="col-lg control-label"></label>
		<div class="col-sm-9 col-xs-12">
			<input type="submit"  value="提交" class="btn btn-primary" />
			<input type="button" class="btn btn-default" name="submit" onclick="history.go(-1)" value="返回列表" style='margin-left:10px;' />
		</div>
	</div>
</form>
</div>

{include file='_footer'}