<style>
    .recharge_info{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .recharge_info>div{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border:1px solid #efefef;
        margin: 0 10px;
        padding:10px 22px;
        line-height: 25px;
        color: #333;
    }
</style>
<form action="{:url('admin/member/recharge')}" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">
    <input type='hidden' name='type' value="{$type}" />
    <input type='hidden' name='id' value="{$id}" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">会员充值</h4>
            </div>
            <div class="modal-body">
                <div class="recharge_info">
                    <div>
                        <label class="pull-left" style="margin-right: 25px">粉丝</label>
                        <div class="pull-left">
                            <img class="radius50" src='{$profile['avatar']}' style='width:20px;height:20px;padding:1px;border:1px solid #ccc' onerror="this.src='/public/static/images/noface.png'"/>
                            {$profile['nickname']}
                        </div>
                    </div>
                    <div>
                        <label class="pull-left " style="margin-right: 25px">会员信息</label>
                            <div class="pull-left">
                                ID: {$profile['id']}</br>
                                姓名: {$profile['realname']}</br>
                                手机号: {$profile['mobile']}
                            </div>
                    </div>
                </div>
                <div class="tabs-container">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            <li {if $type=='credit1'}class="active"{/if}><a data-toggle="tab" href="#tab-1" data-rechargetype="credit1" aria-expanded="true"> 充值积分</a></li>
                            <li {if $type=='credit2'}class="active"{/if}  style="display: none;"><a data-toggle="tab" href="#tab-2"  data-rechargetype="credit2" aria-expanded="false"> 充值余额</a></li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-1" class="tab-pane {if $type=='credit1'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前积分</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit1']}</div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane {if $type=='credit2'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前余额</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit2']}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">变化</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='0' checked /> 增加
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='1' /> 减少
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='2' /> 最终<span class='name'>{if $type=='credit1'}积分{else}余额{/if}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label mustl">充值数目</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="num" class="form-control" value="" data-rule-number='true' data-rule-required='true' data-rule-min='0.01' />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea name="remark" class="form-control richtext" cols="70"></textarea>
                    </div>
                </div>
            </div> <div class="modal-footer">
            <button class="btn btn-primary btn-submit" type="submit">确认充值{if $type=='credit1'}积分{else}余额{/if}</button>
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
        </div>
        </div>
    </div>
</form>
<script language='javascript'>
    $(function(){
        $('[data-toggle="tab"]').click(function(){
            var type =$(this).data('rechargetype');
            if(type=='credit1') {
                $('.name').html('积分');
                $(".btn-submit").text('确认充值积分');
            }else{
                $('.name').html('余额');
                $(".btn-submit").text('确认充值余额');
            }
            $(':hidden[name=type]').val( type) ;
        });
    })
</script>